<ngx-one-column-layout>
  <nb-menu [items]="menuItems" *ngIf="menuItems"></nb-menu>
  <div>
    <div *ngIf="loading">
      <nb-card [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="large">
        <nb-card-body>{{ 'Loading' | translate }}</nb-card-body>
      </nb-card>
    </div>
    <div *ngIf="!loading" class="col-md-12">
      <nb-card>
        <nb-card-header class="center display-5 my-3">
              {{ "ST131" | translate }}
        </nb-card-header>
        <nb-card-body>
          <div class="content">
            <span class="col-12 scroll" [innerHTML]="tacContent"> </span> 
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="col-md-6 col-sm-12 d-flex form-check" [style.direction]="language === 1 ? 'ltr' : 'rtl'">
              <input type="checkbox" name="tac_acc" id="tac_acc_check" class="tac_acc_check" [disabled]="tacAcc" (change)="toggleButtonEnable()">
              <label class="tac_check">{{ "TaC Read Confirmation" | translate }}</label>
            </div>
            <div class="col-md-6 col-sm-12 saveButton">
              <button nbButton status="primary" class="btn btn-info" [class.btn-secondary]="!buttonEnabled" [disabled]="!buttonEnabled" (click)="submitTacAcceptance()">
                {{ "Save & Continue" | translate }}
              </button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</ngx-one-column-layout>
