@import '../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-card-footer .saveButton {
    @include nb-ltr(text-align,right);
    @include nb-rtl(text-align,left);
  }
}

.loading {
    height: 100vh;
    text-align: center;
}

.center {
  text-align: center;
}

.content {
  height: 50vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.scroll {
  overflow: scroll;
}

.tac_acc_check {
    padding: auto 10px;
    margin: auto 10px;
}
.tac_check {
  margin-top: 10px;
}

nb-card-header {
  padding: 20px;
}

nb-card-body, nb-card-header {
  border-bottom: 0.7px solid #cccccc !important;
}

::ng-deep.nb-theme-default nb-sidebar.compacted, ::ng-deep.nb-theme-default nb-sidebar.compacted .main-container {
  width: 7.5rem;
}

::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu {
  width: 9.5rem;
}

::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu .menu-item .menu-icon {
  margin: 0 21%;
}
::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu .menu-items .menu-item a span.menu-title {
  width: 5rem;
  text-align: center;
}
::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu .menu-item {
  border-bottom: none;
  padding-bottom: 1rem;
}
::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu  .menu-items  .menu-item  a {
  display: block;
}
::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu  .menu-items  .menu-item  a  span.menu-title {
  display: block;
}
::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu .menu-items > .menu-item.menu-group {
  color: #8f9bb3;
  padding: 0 1.2rem;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  ::ng-deep.nb-theme-default nb-sidebar.compacted, ::ng-deep.nb-theme-default nb-sidebar.compacted .main-container {
    width: 0;
    display: none;
  }
}
