@import '../../../@theme/styles/themes.scss';
@include nb-install-component {
  .backgroundColor-dark {
    background-color: nb-theme(card-background-color);
  }
  // .btn-primary {
  //   background-color:nb-theme(btn-brimary-color);
  //   border-color: nb-theme(btn-brimary-color);
  // }
  // .btn-primary:hover {
  //   background-color:nb-theme(btn-brimary-color-hover);
  //   border-color: nb-theme(btn-brimary-color-hover);
  // }
}
h3 {
  font-size: 1.2rem;
}

.passed-bg {
  position: absolute;
  width: 100%;
}

.passed-score {
  font-size: 40px;
  margin-top: 165px;
  -webkit-margin-start: -38px;
  font-weight: bold;
}

.navbtn {
  // background-color: #5296d8;
  width: 190px;
  margin-bottom: 15px;
}
