<div [ngSwitch]="viewToShow">
  <div *ngSwitchCase="ViewToShowEnum().Error" id = "quizError">
    <ngx-error type="score"></ngx-error>
  </div>
  <div *ngSwitchCase="ViewToShowEnum().WatchLessons" class="container backgroundColor-dark d-flex flex-column p-lg-5" id = "watchVideo">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'S11' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <button nbButton status="primary" class="mr-3 ml-3 navbtn"
        [ngClass]="right_to_left? 'gesstwo':''" (click)="watchVideo()">
        {{'S12' | translate}}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().TryAgain" class="container backgroundColor-dark d-flex flex-column p-lg-5" id="tryAgain_status">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'S13' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="exam_failed">
        <span [ngClass]="right_to_left? 'exam_fail_text_ar' : 'exam_fail_text'">
          <span style="font-size: xx-large;" [ngClass]="right_to_left? 'gesstwo':''"
            class="font-weight-bold text-black-50">{{'S14' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_fail_score_ar' : 'exam_fail_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{ score }}%</span>
        </span>
      </div>
      <div class="container text-center">
        <button nbButton outline status="primary" class="ml-3 mr-3 navbtn"
                [ngClass]="right_to_left? 'gesstwo':''"
                (click)="goHome()">
          {{'S10' | translate}}
        </button>
        <button nbButton status="primary" class="ml-3 mr-3 navbtn"
          [ngClass]="right_to_left? 'gesstwo':''" (click)="watchVideo()">
          {{'S7' | translate}}
        </button>
      </div>
    </div>

  </div>
  <div *ngSwitchCase="ViewToShowEnum().Failed" class="container backgroundColor-dark d-flex flex-column p-lg-5" id="faild_status">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'S16' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="exam_failed">
        <span [ngClass]="right_to_left? 'exam_fail_text_ar' : 'exam_fail_text'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50"
            [ngClass]="right_to_left? 'gesstwo':''">{{'S14' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_fail_score_ar' : 'exam_fail_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{ score }}%</span>
        </span>
      </div>
      <div class="container text-center">
        <button nbButton outline status="primary" class="mr-3 ml-3 mt-lg-3 navbtn" 
          [ngClass]="right_to_left? 'gesstwo':''" (click)="goHome()">
          {{'S10' | translate}}
        </button>
        <button nbButton status="primary" *ngIf="enableNextLesson" class="mr-3 ml-3 mt-lg-3 navbtn" id="next_lesson_btn"
          [ngClass]="right_to_left? 'gesstwo':''" (click)="gotoNextLesson()">
          {{'S6' | translate}}
        </button>
      </div>  
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().Succeeded" class="container backgroundColor-dark d-flex flex-column p-lg-5" id="success_status">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'S17' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="exam_succeeded">
        <span [ngClass]="right_to_left? 'exam_success_text_ar':'exam_success_text'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50"
            [ngClass]="right_to_left? 'gesstwo':''">{{'S14' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_success_score_ar' : 'exam_success_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{score }}%</span>
        </span>
      </div>
      <div class="container text-center">
        <button nbButton outline status="primary" class="mr-3 ml-3 mt-lg-3 navbtn"
          [ngClass]="right_to_left? 'gesstwo':''" (click)="goHome()">
          {{'S10' | translate}}
        </button>
        <button nbButton *ngIf="enableNextLesson" status="primary" class="mr-3 ml-3 mt-lg-3 navbtn" id="next_lesson_btn"
          [ngClass]="right_to_left? 'gesstwo':''" (click)="gotoNextLesson()">
          {{'S6' | translate}}
        </button>

      </div>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().Hidden" id = 'hidden'></div>
</div>
