<div class="container">

    <h3 class="certificateHeader">{{'Sc116' | translate}}</h3>

    <nb-card>
        <nb-card-body>
            <pdf-viewer [src]="certificate"
                [render-text]="true"
                [zoom]="pdfZoom"
            ></pdf-viewer>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" class="viewBtn" style="width: 6rem;" (click)="convertToPDF()">{{'Sc114' | translate}}</button>
        </nb-card-footer>
    </nb-card>
</div>
