@import '../../@theme/styles/themes';

@include nb-install-component() {
    .viewBtn {
        @include nb-ltr(float, right !important);
        @include nb-rtl(float, left !important);
    }
}

.btnContainer {
    position: absolute;
    right: 166px;
    bottom: 116px;
}

.certheight {
  height: 600px;
}

.certmargin {
  margin: 20px;
}

.certificateHeader {
    margin-bottom: 2rem;
}

.certificate {
    line-height: 2;
    display: flex;
    justify-content: center;
}

::ng-deep .fixp {
    margin-top: 17px !important;
}

.viewBtn {
    cursor: pointer;
}

nb-card {
    border-radius: 0.5rem;
}

::ng-deep .nb-theme-default p {
    color: unset;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
}
