@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
    .toggle nb-toggle {
        @include nb-ltr(padding-left, 0.5rem);
        @include nb-rtl(padding-right, 0.5rem);
    }

    hr {
        border-color: nb-theme(hr-border-color) !important;
    }
}
