<div *ngIf="themeModeChangeEnabled">
  <div class="toggle d-flex justify-  content-end align-items-center px-0">
    <div *ngIf="showTitle" class="flex-grow-1 menu-title">{{ "Theme" | translate}}</div>
    <nb-icon icon="sun" status="basic"></nb-icon>
    <nb-toggle 
      status="basic"
      [(checked)]="checked"
      (checkedChange)="changeThemeMode($event)"
      class="pt-2"
    ></nb-toggle>
    <nb-icon icon="moon-outline" status="basic"></nb-icon>
  </div>
  <hr *ngIf="showHorizontalLine" style="border-color: #ffffff; border-width: 2px;">
</div>
