@font-face {
  font-family: "DINNextLTArabic-Bold";
  src: url("DINNextLTArabic-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-Black";
  src: url("DINNextLTArabic-Black.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-Heavy";
  src: url("DINNextLTArabic-Heavy.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-Medium";
  src: url("DINNextLTArabic-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-Regular";
  src: url("DINNextLTArabic-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-Light";
  src: url("DINNextLTArabic-Light.ttf") format("opentype");
}

@font-face {
  font-family: "DINNextLTArabic-UltraLight";
  src: url("DINNextLTArabic-UltraLight.ttf") format("opentype");
}
