<div class="iframeBackground" *ngIf="this.dashboardId !== null">
  <iframe
    ngxIframeResizer
    *ngIf="dashboardUrl"
    [src]="dashboardUrl"
    frameborder="0"
    allowtransparency
    style="width:100%;height:100vh;"
    width="100%"
    height="100%"
  ></iframe>
</div>

<div *ngIf="this.dashboardId === null && this.subroute === 'settings'">
  <ngx-model [model]="data" *ngIf="data"></ngx-model>
</div>

<div *ngIf="
  this.dashboardId === null &&
  this.subroute !== 'settings'
  ">
  <h3> {{ (this.subroute + " reports") | translate}} </h3>
  <div *ngIf='(data?.length) < 1' class="noReport">
    <h6>{{'no reports' | translate}}</h6>
  </div>
  <div *ngIf="data?.length > 0">
    <div class="row p-1">
      <div *ngFor="let report of data" class="card-item">

        <nb-card class="">
          <div class="container">
            <div class="row">

              <nb-card-body class="col-4 pb-0 card-body">
                <img src="/app/report.svg" alt="" class="img-style">
              </nb-card-body>

              <nb-card-header class="col-8 px-2 pb-0 display-7">
                  {{report.title}}
              </nb-card-header>

              <nb-card-footer class="card-footer-container col-12 border-0">
                <button nbButton status="primary" routerLink="../{{report.id}}">{{'HomePageS19' |
                  translate}}</button>
              </nb-card-footer>

            </div>
          </div>

        </nb-card>
      </div>
    </div>
  </div>
</div>