
$certificate-main-color: #636edf;
$certificate-bg-color: #c4cbf2;

.block {
    display: flex;
    flex-wrap: wrap;
    // justify-content: start;
    padding-left: 15px;
    padding-right: 15px;
    border: none;

    * {
        padding: 2px;
    }
}

.img-container {
    flex: 0 1 5%;
    fill: $certificate-bg-color;
    text-align: center;
    height: fit-content;
}

.card-item {
    padding: 0 15px;
    @media screen and (max-width: 500px) {
        padding: 0 5.5px;
        width: 100%;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 700px) {
        width: 33.3%;
        margin-bottom: 30px;
    }
    // @media screen and (min-width: 700px) and (max-width: 992px) {
    //     width: 33.3%;
    // }
    @media screen and (min-width: 500px) and (max-width: 699px) {
        width: 50%;
    }
    > *:first-child {
        margin-bottom: 0;
        height: 100%;
    }
    h6 {
        @media screen and (min-width: 992px) {
            min-height: 67px;
        }
    }
}

.card-body {
    max-width: 110px;
    
    @media screen and (max-width: 600px) {
        
        padding-left: 15px;
        padding-right: 15px;
    }
}

rect.img {
    stroke: $certificate-main-color;
}

path.img {
    fill: $certificate-main-color;
}

img {
    width: 100%;
    height: auto;
}

.report-thumbnail {
    max-width: 250px;
}

.card-footer-container {
    text-align: center;
}

.img-style {
    opacity: 0.7;
}

.viewBtn {
    cursor: pointer;
    font-weight: 700;
    background-color: #c4cbf2;
    color: #636edf;
    margin: auto 0;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: 0.125rem;
    font-size: 1rem;
    // width: 100%;
}

.noReport {
    text-align: center;
    margin-top: 5rem;
}

.iframeBackground {
    background-color: white;
}
