<button type="button" class="btn border-primary rounded bg-light help-button text-center">
  <a [attr.href]="'/app/help/index.html'" target="_blank" style="text-decoration: none;">
    {{'S53' | translate}}
  </a>
</button>
