@font-face {
  font-family: "NeoSansArabicBold";
  src: url("./NeoSansArabicBold.ttf") format('truetype');
}

@font-face {
  font-family: "NeoSansArabicLight";
  src: url("./NeoSansArabicLight.ttf") format('truetype');
}

@font-face {
  font-family: "NeoSansArabicMedium";
  src: url("./NeoSansArabicMedium.ttf") format('truetype');
}

@font-face {
  font-family: "NeoSansArabicRegular";
  src: url("./NeoSansArabic.ttf") format('truetype');
}
