@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../styles/themes.scss';

@include nb-install-component() {

  .by-entrench {
    font-size: small;
  }
  .by-zinad {
    font-size: small;
    color:nb-theme(powered-by-color);
    
    sub {
      font-size: 13px;
      a.by-zinad, p.Powered-by {
      font-weight: 400 !important;
      color: inherit !important;
     }
    }
  }
  .privacy {
    @include nb-ltr(margin-left, auto);
    @include nb-rtl(margin-right, auto);
    @media only screen and (max-width: 540px) {
      display: grid;
      span.my-privacy {
        margin: 0 !important;
      }
    }
  span.my-privacy a {
    font-size: small;
    color: nb-theme(footer-text-color);
    &:hover {
      color: nb-theme(footer-text-color);
    }
  }
}

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}
