@font-face {
  font-family: "GE-SS-Two-Bold";
  src: url("GE-SS-Two-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GE-SS-Two-Medium";
  src: url("GE_SS_Two_Light.otf") format("opentype");
}

@font-face {
  font-family: "GE-SS-Two-Light";
  src: url("GE_SS_Two_Medium.otf") format("opentype");
}
