<form [formGroup]="newModel" class="modelForm" *ngIf="!values_added && dataAvailable">

  <div class="form-group">

    <label for="email_template_id">{{"Email Template" | translate}}</label>
    <div class="nbselectGroup">

      <select formControlName="email_template_id" class="form-control">
        <option *ngFor="let template of emailTemplates" value="{{template.id}}">
          {{template.title}}</option>
      </select>
    </div>

    <span class="text-danger erroMsg" *ngIf="(newModel.controls['email_template_id'].touched || formSubmitted) && newModel.controls['email_template_id'].errors?.required">
      {{"Email template is required" | translate}}
    </span>

  </div>



  <div class="form-group">
    <label for="sender_name">{{"Sender Name" | translate}}</label>

    <input type="text" nbInput fullWidth shape="rectangle" placeholder="Sender name" formControlName="sender_name" class="shape-rectangle">
  </div>

  <div class="form-group">

    <label for="email_server_id">{{"Email Server" | translate}}</label>
    <div class="nbselectGroup">

      <select formControlName="email_server_id" class="form-control">
        <option *ngFor="let server of emailServers" value="{{server.id}}">
          {{server.title}}</option>
      </select>
    </div>

    <span class="text-danger erroMsg" *ngIf="(newModel.controls['email_server_id'].touched || formSubmitted) && newModel.controls['email_server_id'].errors?.required">
      {{"Email server is required" | translate}}
    </span>

  </div>
  <div class="form-group">
    <label for="from">{{"From" | translate}}</label>

    <input type="text" nbInput fullWidth shape="rectangle" placeholder="Sender name" formControlName="from" class="shape-rectangle">
  </div>
  <div class="form-group">
    <label for="reply">{{"Reply" | translate}}</label>

    <input type="text" nbInput fullWidth shape="rectangle" placeholder="Sender name" formControlName="reply" class="shape-rectangle">
  </div>

  <div class="btnGroupSave">
    <button nbButton outline status="primary" (click)="goBack()" style="width: 6rem;">
      <span>{{"Cancel" | translate }}</span>
    </button>
    <button nbButton status="primary" style="width: 6rem;" type="submit" (click)="addModel()">{{"Save" | translate
      }}</button>
  </div>

</form>
