<div class="modal-container" *ngIf="isOpen">
  <div class="modal-overlay" (click)="close(true)"></div>
  <div class="app-modal">
    <div *ngIf="modalTitle" class="title">
      <h3 *ngIf="modalTitle" [innerHTML]="modalTitle"></h3>
    </div>
    <div class="body">
      <ng-content></ng-content>
    </div>
  </div>
</div>