.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    
    .modal-overlay {
        background: rgba(darkgray, 0.65);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1100;
    }
    .app-modal {
        background: white;
        border-radius: 3px;
        // left: calc(50% - 250px);
        padding: 0;
        max-height: calc(100% - 100px);
        overflow-y: auto;
        // position: fixed;
        // top: 300px;
        width: 500px;
        z-index: 1101;
        .title {
            height: 30px;
            h3 {
                display: inline-block;
                margin-top: 0 !important; //to overwrite bootstrap style for h3
            }
        }
    }
    @media screen and (max-width: 576px) {
        .app-modal {
            background: white;
            border-radius: 3px;
            left: calc(50% - 146px);
            padding: 0;
            max-height: calc(100% - 100px);
            overflow-y: auto;
            position: fixed;
            top: 168px;
            width: 300px;
            z-index: 1101;
            .title {
                height: 30px;
                h3 {
                    display: inline-block;
                    margin-top: 0 !important; //to overwrite bootstrap style for h3
                }
            }
        }
    }
}
