@import '../../../@theme/styles/themes.scss';
@include nb-install-component() {
    .btnSave {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
    }

    input {
        font-weight: 400 !important;
    }
    .nbselectGroup select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }

    .btnGroupSave {
        padding-bottom: 1rem;
        text-align: end;
        & > * {
        margin: 0.5rem;
        }
        margin-bottom: 1rem;
    }

}

.guardModal {
    padding: 1.5rem;
    margin-bottom: 0;
    nb-card-header {
        padding-bottom: 0;
    }
}

.btnGroupModal {
    button {
        margin: 0.5rem;
    }
}
