<ng-template #send let-data let-ref="dialogRef" style="width: 15rem" >
  <nb-card class="guardModal">
    <nb-card-header>{{"Warning !" | translate}}</nb-card-header>
    <nb-card-body>{{"Kindly note that one email template language will send to all users" | translate}} !</nb-card-body>
    <div class="row justify-content-end btnGroupModal px-4">
      <button nbButton outline status="primary" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
        translate}}</button>
      <button nbButton status="primary" style="width: 6rem; margin: 0.5rem"
              (click)="addModel(); ref.close()">{{"Save" | translate }}</button>
    </div>
  </nb-card>
</ng-template>

<form [formGroup]="newModel" class="modelForm" *ngIf="!values_added && dataAvailable">

    <span class="text-danger erroMsg"  *ngIf="(formSubmitted  && newModel.errors?.oneTemplateIsSet)">
            {{"One email template is required" | translate}}
    </span>
  <div class="form-group">

    <label for="english_email_template">{{"English Email Template" | translate}}</label>
    <div class="nbselectGroup">

      <select formControlName="english_email_template" class="form-control">
        <option *ngFor="let template of englishEmailTemplates" value="{{template.id}}" [selected]="template.id == currentEnglish" >
          {{template.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="arabic_email_template">{{"Arabic Email Template" | translate}}</label>
    <div class="nbselectGroup">

      <select formControlName="arabic_email_template" class="form-control">
        <option *ngFor="let template of arabicEmailTemplates" value="{{template.id}}" [selected]="template.id == currentArabic">
          {{template.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">

    <label for="email_server">{{"Email Server" | translate}}</label>
    <div class="nbselectGroup">

      <select formControlName="email_server" class="form-control">
        <option *ngFor="let server of emailServers" value="{{server.id}}">
          {{server.title}}</option>
      </select>
    </div>

    <span class="text-danger erroMsg" *ngIf="(newModel.controls['email_server'].touched || formSubmitted) && newModel.controls['email_server'].errors?.required">
      {{"Email server is required" | translate}}
      <br>
    </span>

  </div>

  <div class="btnGroupSave" >
    <button nbButton outline status="primary" (click)="goBack()" style="width: 6rem;">
      <span>{{"Cancel" | translate }}</span>
    </button>
      <button nbButton status="primary" *ngIf="(newModel.controls['arabic_email_template'].value == null || newModel.controls['english_email_template'].value == null) &&
      (newModel.controls['arabic_email_template'].touched || newModel.controls['english_email_template'].touched) && !newModel.errors?.oneTemplateIsSet"
             style="width: 6rem;"
              (click)="showModal(send)"><span>{{"Save" | translate
        }}</span></button>

    <button nbButton  status="primary" *ngIf="(newModel.controls['arabic_email_template'].value != null && newModel.controls['english_email_template'].value != null) ||
                    (!newModel.controls['arabic_email_template'].touched  && !newModel.controls['english_email_template'].touched) || newModel.errors?.oneTemplateIsSet"
           style="width: 6rem;" type="submit" (click)="addModel()">{{"Save" | translate
      }}</button> &nbsp; &nbsp; &nbsp;
    
  </div>

</form>
