<nb-action class="user-action" *nbIsGranted="['view', 'user']" style="cursor: pointer;">

  <nb-user [name]="full_name" [picture]="user?.picture" [showName]="true" shape="rectangle"
    [routerLink]="'/pages/user-profile'" size="medium" title="{{user?.role_name?.title}}">
  </nb-user>

</nb-action>
