<div class="col-md-8">
  <h3 class="text-info">
    {{'S41' | translate}}
  </h3>

  <div class="form-group text-secondary">
    <label for="password"><strong>{{'S37' | translate}}</strong></label>
    <input type="password" class="form-control" id="password" placeholder="{{'S38' | translate}}"
           [disabled]="success"
           [(ngModel)]="user.password">
  </div>
  <div class="form-group apper-align" (click)="apperpass()">
    <img src="/app/icon-info.png">
 </div>

  <div class="form-group text-secondary">
    <label for="password"><strong>{{'S39' | translate}}</strong></label>
    <input type="password" class="form-control" id="password_confirm" placeholder="{{'S40' | translate}}"
           [(ngModel)]="user.password_confirmation"
           [disabled]="success"
           (keyup.enter)="changePassword()">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-info col-3" (click)="changePassword()">
      {{'S43' | translate}}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="resetting"></span>
    </button>
    <div class="alert alert-warning mt-2" *ngIf="error">
      {{'E' + error_number | translate}}
    </div>

    <div class="alert alert-success mt-4 text-center text-black-50" *ngIf="success">
      <p class="text-success">
        {{'S42' | translate}}
      </p>
      <p>
        <button class="btn btn-outline-secondary" (click)="home()">
          <strong><i class="fa fa-home"></i> {{'S44' | translate}}</strong>
        </button>
      </p>
    </div>
  </div>
  <div class="form-group alert alert-success mt-2" *ngIf="apper">
    <h6>{{'Password Criteria' | translate }} :</h6>
    - {{'password_min_length_criteria' | translate }} <br/>
    - {{'password_lettercase_criteria' | translate }} <br/>
    - {{'Numeric character' | translate }} (0-9).<br/>
    - {{'Special character' | translate }}<br/>
  </div>
</div>
