@import '../../@theme/styles/themes';

    @include nb-install-component() {
      .ml-2, .mx-2 {
        margin-left: 0 !important;
      }
      .mr-2, .mx-2 {
        margin-right: 0 !important;
      }
      .text-secondary {
        width: 95%;
      }
          .apper-align {
            margin-top: -3.25rem;
            @include nb-ltr(float,right);
            @include nb-ltr(margin-right, -1.5rem);
            @include nb-rtl(float,left);
            @include nb-rtl(margin-left, -1.5rem);
          }
        }
