<div [ngSwitch]="viewToShow" class="container pl-0 pr-0">
  <div *ngSwitchCase="getViewToShow().ShowQuestions">
    <ngx-questions id="questions" (submitted)="onQuizSubmitted($event)" [quiz]="quiz"></ngx-questions>
  </div>
  <div *ngSwitchCase="getViewToShow().ShowAnswers">
    <ngx-quiz-answers id="answers" [questions]="questions"></ngx-quiz-answers>
  </div>
  <div *ngSwitchCase="getViewToShow().Error" class="grid backgroundColor-dark">
    <div>
      <h3 id="error-msg">{{'S9' | translate}}</h3>
    </div>
    <div>
      <button nbButton status="primary" class="pr-3 pl-3" style="align-self: center;" (click)="goHome()">
        {{'S10' | translate}}
      </button>
    </div>
  </div>
  <div *ngSwitchCase="getViewToShow().SubmitError" class="grid backgroundColor-dark">
    <div>
      <h3 id="error-msg">{{'S46' | translate}}</h3>
    </div>
    <div>
      <button nbButton status="primary" class="pr-3 pl-3" style="align-self: center;" (click)="goHome()">
        {{'S10' | translate}}
      </button>
    </div>
  </div>
  <div *ngSwitchCase="getViewToShow().Hidden" id="hidden"></div>
  <div *ngSwitchDefault></div>
</div>
