<div class="container row show-grid">
  <div class="col-md-8">
    <ngx-campaign-lesson-video *ngIf="ready" [campaign]="campaign" [lesson]="lesson"></ngx-campaign-lesson-video>
    <!-- <p>Quiz Component ** TO DO **</p> -->
  </div>
  <div class="col-md-4">
    <ngx-campaign-lesson-sidebar [campaign]="campaign"></ngx-campaign-lesson-sidebar>
  </div>
</div>
