<ngx-spinner *ngIf="!user || !dataListReady || show_spinner"></ngx-spinner>

<nb-card *ngIf="user" class="internalCard"
         [nbSpinner]="is_loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="giant">

    <nb-card-header *ngIf="!subModelID" class="newModelHeader">
        {{model.label | translate}}
    </nb-card-header>
    <nb-card-body>
        <div class="d-flex align-items-baseline flex-column-reverse flex-md-row">
        <div *ngIf="model.search" class="searchContainer">

            <div>
                <!-- <label class="search-label" for="search">{{"Search" | translate}}:</label> -->
                <input nbInput [(ngModel)]="dataSearch" class="search-input shape-rectangle" id="search" (ngModelChange)="searchData(dataSearch)"
                    shape="rectangle" placeholder='{{"Search" | translate}}'>
            </div>

            <div class="confirm_group_btn" *ngIf="model?.confirm?.label && !model.browse.model_tabs">

                <button nbButton *ngIf="model?.reConfirm?.label" class="btn btn-info"
                    (click)="showModal(reConfirm, subModelID,model.reConfirm.label)">
                    <span>{{model.reConfirm.label | translate }}</span>
                </button>
                <button nbButton class="btn btn-info" (click)="getData()">
                    <span>{{"Refresh" | translate }}</span>
                </button>

                <button nbButton class="btn btn-info" (click)="showModal(confirm, subModelID)">
                    <span>{{ model.confirm.label | translate }}</span>
                </button>

            </div>

        </div>
        <div class="addModelBtn align-self-end align-self-md-baseline">

            <button nbButton status="primary" class="addBtn mb-3 mb-md-0" routerLink="/pages/bread/new_model"
                [queryParams]="{model: model.name}" *ngIf="model.add.label && model.browse.model_tabs">
                <span class="addWeb"><i class="fas fa-plus"></i> {{model.add.label | translate}}</span><span class="addMobile"><i class="fas fa-plus"></i> {{model.add.label | translate}}
                </span></button>

            <button nbButton status="primary" (click)="showModalNewModel(newModelModal)"
                *ngIf="model.add.label && !model.browse.model_tabs">
                <span class="addWeb"><i class="fas fa-plus"></i> {{model.add.label | translate}}</span><span class="addMobile"><i class="fas fa-plus"></i>
                </span></button>

        </div>
    </div>

        <ng-template #newModelModal let-ref="dialogRef">

            <nb-card class="newModel">
                <nb-card-header class="newModelHeader">{{model.add.label | translate}}
                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">

                    <form [formGroup]="modelForm" class="modelForm"  enctype="multipart/form-data">

                        <div class="form-group" *ngFor="let inputValue of model.add.input">

                            <div *ngIf="!inputValue.localizable; else localizable">

                                <label for="{{inputValue.value}}"
                                    *ngIf="inputValue.type !== 'checkbox'">{{inputValue.label | translate}}</label>

                                <input type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'date' ? 'date'
                  : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput
                                    shape="rectangle" class="shape-rectangle" fullWidth placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.name}}" min="{{inputValue.min}}"
                                    max="{{inputValue.max}}"
                                    *ngIf="inputValue.type === 'text' || inputValue.type === 'email' ||
                                           inputValue.type === 'date' || inputValue.type === 'number' ||
                                           inputValue.type === 'table_data_item'">

                                <input type="time" nbInput fullWidth
                                    placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                    formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">

                              <input type="hidden" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'hidden'">
                                <span
                                    class="mx-2"
                                    *ngIf="inputValue.video_max_size_filed === true"
                                    >
                                    {{ "Max upload size is" | translate }} {{ max_size}}
                                </span>

                                <ng-template #nbDialog let-data let-ref="dialogRef">
                                    <nb-card [size]="'tiny'">
                                      <nb-card-header>{{ data.title | translate }}</nb-card-header>

                                      <nb-card-footer>
                                        <button nbButton (click)="ref.close()" class="float-right btn btn-info">{{ "Cancel" | translate}}</button>
                                      </nb-card-footer>
                                    </nb-card>
                                  </ng-template>
                                <input type="file" nbInput fullWidth
                                    placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                    background-basic-color-3="#3366ff" *ngIf="inputValue.type === 'file'"
                                    (change)="uploadFile($event, inputValue.name)"
                                    accept="{{inputValue.accept}}">



                                <ngx-tinymc-editor *ngIf="inputValue.type === 'editor'"
                                    [inputName]="inputValue.name" [editorOptions]="this.editorOptions" [formGroupParent]="modelForm">
                                </ngx-tinymc-editor>

                                <div class="nbselectGroup">
                                    <select class="form-control" *ngIf="inputValue.type === 'select'"
                                        formControlName="{{inputValue.name}}">
                                        <option *ngFor="let o of inputValue.data.static"
                                            value="{{o[inputValue.options.value]}}">
                                            {{o[inputValue.options.display]}}</option>
                                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                            value="{{o.id}}">
                                            {{o.title || o.email || o.name}}</option>
                                        <option [ngValue]="null"
                                            *ngIf="!remoteSelectedOptions[inputValue.value]?.length" [disabled]="true">
                                            {{inputValue.empty_message | translate}}</option>
                                    </select>
                                    <ngx-model
                                        *ngIf="inputValue.type === 'check-multiple' && addingMultipleModel !== undefined"
                                        [model]="addingMultipleModel" [subModelID]="subModelID"
                                        (usersEvent)="receiveUsers($event)" class="internalCard">
                                    </ngx-model>

                                    <select class="form-control" multiple *ngIf="inputValue.type === 'select-multiple'"
                                        formControlName="{{inputValue.name}}">
                                        <option [ngValue]="null" *ngIf="!remoteMultipleSelectedOptions.length"
                                            [disabled]="true">{{inputValue.empty_message | translate}}</option>
                                        <option *ngFor="let o of remoteMultipleSelectedOptions"
                                            value="{{o[inputValue.options.value]}}">
                                            {{o[inputValue.options.display]}}
                                        <option>
                                    </select>
                                </div>

                              <nb-radio-group formControlName="{{inputValue.name}}"
                                    *ngIf="inputValue.type === 'radio'">

                                    <nb-radio *ngFor="let o of inputValue.data.static"
                                        value="{{o[inputValue.options.value]}}">
                                        {{o[inputValue.options.display]}}</nb-radio>

                                    <nb-radio *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                        value="{{o.id}}">
                                        {{o.title || o.email}}</nb-radio>

                                </nb-radio-group>




                                <nb-checkbox [checked]="inputValue.checked"
                                    (checkedChange)="updateCheckBox(inputValue.name)"
                                    *ngIf="inputValue.type === 'checkbox'" class="checkbox"></nb-checkbox>

                                <label for="{{inputValue.value}}"
                                    *ngIf="inputValue.type === 'checkbox'">{{inputValue.label | translate}}</label>

                                <div class="nbselectGroup" *ngIf="inputValue.type === 'select-related'">

                                    <nb-select formControlName="{{inputValue.name}}"
                                        (ngModelChange)="updateSelectedRelated($event, inputValue.related)">

                                        <nb-option *ngFor="let o of remoteSelectRelated" value="{{o.id}}">
                                            {{o.title}}</nb-option>
                                    </nb-select>
                                </div>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'add')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name,'add')?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>
                                <span class="text-danger erroMsg"
                                    *ngIf="returnFormKey(inputValue.name,'add')?.errors?.inValidFile">
                                        {{"Please select a valid file" | translate}}
                                </span>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'add')?.touched && modelFormSubmitted) && returnFormKey(inputValue.name,'add')?.errors?.email">
                                    {{"Email format is invalid" | translate}}
                                </span>

                            </div>

                            <ng-template #localizable>

                                <div class="form-group" *ngFor="let lang of languages">

                                    <label for="{{inputValue.value}}">{{inputValue.label | translate}} ( {{lang.title}}
                                        )</label>

                                    <input
                                        type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}"
                                        shape="rectangle" class="shape-rectangle" nbInput fullWidth
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}{{lang.id}}"
                                        *ngIf="inputValue.type === 'text' || inputValue.type === 'email'"
                                    >


                                    <span class="text-danger erroMsg"
                                        *ngIf="(returnFormKey(inputValue.name+lang.id,'add')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name+lang.id,'add')?.errors?.required">
                                        {{inputValue.label | translate}} {{"is required" | translate}}
                                    </span>

                                </div>

                            </ng-template>


                        </div>

                        <div class="row justify-content-end mt-3">
                            <button nbButton class="btnOk" style="width: 6rem;" type="submit"
                                (click)="modelForm.valid ? ref.close(): null" (click)="addModel()">{{"Save" | translate
                                }}</button>
                            <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel"
                                | translate }}</button>

                        </div>

                    </form>

                </nb-card-body>
            </nb-card>
        </ng-template>

        <ng-template #delete let-data let-ref="dialogRef">
            <nb-card class="deleteModal">
                <nb-card-header>{{"Delete ?" | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you want to delete ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 deleteGroup">
                    <button nbButton class="btnOk" style="width: 6rem;" (click)="deleteModel(); ref.close()">{{"OK"
                        | translate }}</button>
                    <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>



        <ng-template #confirm let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{ "Send ?"| translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="confirmModel(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>
        <ng-template #reConfirm let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{headerDialog | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="reConfirmModel(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>

        <!-- <ng-template #view let-data let-ref="dialogRef">
            <nb-card>
                <nb-card-body>
                    <div class="popUpHeader">

                        <div>
                            <label class="search-label" for="search">{{ modelLabel | translate}}</label>
                        </div>

                        <div class="closePopUpBtn">

                            <button btn btn-info (click)="ref.close()">X</button>

                        </div>

                    </div>

                    <iframe style="border-style: none;width: 600px; height: 500px; overflow: auto;" frameBorder="0"
                        [src]="activeContext"></iframe>

                </nb-card-body>
            </nb-card>
        </ng-template> -->

        <ng-template #view let-data let-ref="dialogRef">
            <nb-card class="newModel" [nbSpinner]="fetchData" nbSpinnerStatus="info">
                <nb-card-header class="d-flex justify-content-between align-items-center">
                    <div>
                        <label class="search-label" for="search">{{ modelLabel | translate}}</label>
                    </div>

                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)=" viewContent = ''; ref.close()">X</button>
                    </div>
                </nb-card-header>
                <nb-card-body>{{ viewContent }}</nb-card-body>
            </nb-card>
        </ng-template>

        <ng-container *ngIf="model.browse && model.browse.disable_view">
            <div class="d-flex align-items-center mb-3">
                <nb-checkbox id="enableBrowse"
                    class="checkbox"
                    (checkedChange)="toggleBrowseEnable($event)"
                    [(ngModel)]="view_enabled">
                </nb-checkbox>
                <label for="enableBrowse" class="m-0">
                    <strong>{{model.browse.disable_view.title | translate}}</strong>
                </label>

                <span *ngIf="model.browse.disable_view.info_label === true"
                    style="color: #8f9bb3; cursor: pointer;"
                    class="mx-2"
                    (click)="getTemplateExtraInfo(instructionsDialog)"
                    >
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
        </ng-container>
        <div class="table-container">
            <table style="width: 100%;" class="table table-hover"
            [ngClass]="{'controls-disabled': !view_enabled}"
     >

         <thead>
             <tr>
                 <ng-container *ngFor="let c of tableColumns">
                     <th class="sorting-icon"
                         [ngClass]="{'clickable' : c.sortable, 'fixed-cell-width-fix' : c.type === 'delete'}"
                         (click)="c.sortable ? sortData(c.field) :false ">
                         <span> {{c.title | translate}}</span>


                         <nb-icon *ngIf="sortedCoulmn === c.field && c.sortDirection === 'desc'"
                             icon="arrow-upward-outline"></nb-icon>
                         <nb-icon *ngIf="sortedCoulmn === c.field && c.sortDirection === 'asc'"
                             icon="arrow-downward-outline"></nb-icon>
                         <nb-checkbox (checkedChange)="selectAll($event)" class="checkbox"
                             (click)="$event.stopPropagation();" *ngIf="c.type === 'checkbox'"></nb-checkbox>

                     </th>
                 </ng-container>
             </tr>
         </thead>
         <tbody>

                <tr *ngFor="let data of tableData| paginate: config "
                    [class.disabled]="(!model.browse.model_tabs && !model.browse.details && !model.has_internal_edit &&!model.has_inner_model_tabs && !model.has_preview_option) || model.name === 'license'"
                    (click)="model.browse.details  ? OpenDetails(view,data.id) :
                             model.has_internal_edit ? showModalEditModel(editModelModal, data.id, data.title) :
                             model.has_inner_model_tabs ? showModalInnerTabs(innerModelTabs, model.name, data.id) :
                             model.has_preview_option ? showPreviewOption(previewOptionModal, data, model.preview) :
                             OpenTabs(data.id)"
                    class="rowRoute">

                 <td [class.checkbox-td]="c.type === 'checkbox'" *ngFor="let c of tableColumns" [ngSwitch]="c.type" [style.wordBreak]="c.breakWords ? 'break-all' : null">

                     <nb-checkbox (click)="$event.stopPropagation();" style="pointer-events: painted; cursor: cell;"
                         (checkedChange)="changeSelection($event,data.id)" [checked]="data.checked"
                         *ngIf="c.type === 'checkbox'" class="checkbox"></nb-checkbox>

                     <button *ngSwitchCase="'password'" nbButton status="primary" size="small"
                         (click)="openPasswordMenu(data.id)"><span>{{"Password" | translate }}</span></button>

                     <button *ngSwitchCase="'tabs'" nbButton status="primary" size="small"
                         (click)="openTabs(data.id, c.tabs)"
                         [style.display]="data[c.condition] == c.conditionValue ? 'inline-block' : 'none'"><span>{{c.title
                             | translate}}</span></button>

                     <div *ngSwitchCase="'orderArrow'">
                         <nb-icon icon="chevron-up-outline" (click)="$event.stopPropagation()"
                             (click)="changeOrder(data.id, 'decrease')"
                             class="order-lessons-arrows">
                         </nb-icon>

                         <nb-icon icon="chevron-down-outline" (click)="$event.stopPropagation()"
                             (click)="changeOrder(data.id, 'increase')"
                             class="order-lessons-arrows">
                         </nb-icon>
                     </div>

                     <nb-icon *ngSwitchCase="'delete'" icon="trash-2-outline" (click)="showModal(delete, data.id)"
                         (click)="$event.stopPropagation()" class="enabled deleteBtn" style="width: 3rem;"
                         [style.display]="(data[model.delete.condition] == model.delete.conditionValue )
                        || (data[model.delete.conditionNotEqual] && data[model.delete.conditionNotEqual] != model.delete.conditionValue) ? 'inline-block' : 'none'">
                     </nb-icon>
                     <button *ngSwitchCase="'confirm'" nbButton status="primary" size="small"
                         (click)="showModal(confirm, data.id)">
                         <nb-icon icon="email-outline"></nb-icon><span>{{"Confirm" | translate }}</span>
                     </button>

                     <button *ngSwitchCase="'html'" nbButton status="primary" size="small"
                         (click)="openHTML(view,data[c.field])">
                         <span>{{"View" | translate }}</span>
                     </button>

                     <span *ngSwitchCase="'embedded'"> {{data[c.field][c.deep]}} </span>

                     <span *ngSwitchCase="'editor'" [innerHTML]="data[c.field] | sanitizeHtml"></span>

                     <span *ngSwitchCase="'date'">{{data[c.field] | date}}</span>

                     <a *ngSwitchCase="'download'" [href]="this.parseDownloadLink(data.id)" class="downloadBtn"
                         (click)="$event.stopPropagation()">
                         <nb-icon icon="download-outline"></nb-icon>
                     </a>

                     <a *ngSwitchDefault>
                         <span [ngClass]="{'trim-text': c.trim}" *ngIf="
                                     c.dynamicTranslate &&
                                     (c.dynamicTranslate === true || c.dynamicTranslate === 'true')
                                 ">
                             {{ (data[c.field] ? data[c.field] : c.default) | dynamicTranslate }}
                         </span>
                         <span [ngClass]="{'trim-text': c.trim}" *ngIf="
                                     !c.dynamicTranslate ||
                                     (
                                         c.dynamicTranslate &&
                                         (
                                             c.dynamicTranslate === false ||
                                             c.dynamicTranslate === 'false'
                                         )
                                     )
                                 ">
                             {{ (data[c.field] ? data[c.field]: c.default) | safeString | translate }}
                         </span>
                     </a>
                 </td>

             </tr>

         </tbody>

         <tr>
             <div *ngIf='tableData?.length === 0'>
                 <td>
                     {{"No records found" | translate }}
                 </td>
             </div>
         </tr>
     </table>
        </div>
        <div class="footer">
            <div *ngIf="model.paging" class="paginationControl">
                <div class="dataTables_info" aria-live="polite">
                    <label> {{"Showing" | translate}} {{startIndex}} {{"to" | translate}} {{currentPageRows}} {{"of" |
                        translate}} {{tableData?.length}} {{"entries" | translate}} </label>
                </div>
                <div><label>{{ "Show" | translate }}
                        <select style="width: 40%;" class="custom-select custom-select-sm form-control form-control-sm"
                            (change)="selectChangeHandler($event)">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> {{ "entries" | translate }}</label></div>

                <pagination-controls id="{{modelLabel}}" responsive="true" (pageChange)="pageChanged($event)">
                </pagination-controls>

            </div>
            <p *ngIf="model.footer" class="footerMessage">{{model.footer.label | translate}}</p>

        </div>
        <nb-card *ngIf="passwordModelRequested">
            <nb-card-body class="example-items-col">

                <form [formGroup]="passwordForm" (ngSubmit)="passwordModel()">

                    <div class="form-group" *ngFor="let inputValue of model.password.input">

                        <label for="{{inputValue.value}}">{{inputValue.label | translate}}</label>

                        <input type="password" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                            placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.value}}">
                    </div>

                    <div class="btnGroup">

                        <button nbButton status="basic" class="btnCanel" (click)="openPasswordMenu()">{{"cancel" |
                            translate }}</button>
                        <button nbButton status="primary" type="submit" class="btnOk"
                            [disabled]="!passwordForm.valid">{{"Save" | translate }}</button>
                    </div>

                </form>

            </nb-card-body>
        </nb-card>


        <ng-template #previewOptionModal let-ref="dialogRef" let-context>
          <nb-card class="newModel" style="max-width: 70vw">
            <nb-card-header class="newModelHeader">{{model.preview.label | translate}}
              <div class="closePopUpBtn">
                <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
              </div>
            </nb-card-header>

            <nb-card-body class="example-items-col">

                <nb-card-body *ngIf="context.type === 'video'" class="d-flex align-items-center justify-content-center">
                  <video width="400" controls autoplay>
                    <source [src]="context.url" type="video/mp4">
                    Your browser does not support HTML video.
                  </video>

                </nb-card-body>

                <div class="row justify-content-end mt-3">
                  <button nbButton
                    class="btn btn-info btnCancel"
                    style="width: 6rem;"
                    (click)="ref.close()">
                    {{ "close" | translate }}
                  </button>

                </div>

            </nb-card-body>
          </nb-card>
        </ng-template>

        <ng-template #editModelModal let-ref="dialogRef">

            <nb-card class="newModel" *ngIf="dataAvailable" style="max-width: 70vw">
                <nb-card-header class="newModelHeader d-flex justify-content-between align-items-center">{{model.edit.label | translate}}
                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col pt-1">
                    <h1 class="mt-0">{{mainTitle}}</h1>

                    <form [formGroup]="editForm" (ngSubmit)="editModel()">

                        <div class="form-group" *ngFor="let inputValue of model.edit.input">

                            <div *ngIf="!inputValue.localizable; else localizable">

                                <label for="{{inputValue.value}}"
                                    *ngIf="!inputValue.notRequiredInEdit && inputValue.type !== 'checkbox' && inputValue.type !== 'hidden'">{{inputValue.label
                                    | translate}}</label>

                                <input type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'date' ? 'date'
            : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput
                                    fullWidth shape="rectangle" class="shape-rectangle" placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.name}}" min="{{inputValue.min}}"
                                    [attr.disabled]="inputValue.name === 'order' ? true : null"
                                    *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number'"
                                       [readonly]="inputValue.readonly && inputValue.readonly === 'true' ? 'true' : null"
                                >

                              <input type="text" readonly nbInput fullWidth shape="rectangle"
                                     class="shape-rectangle"
                                     *ngIf="inputValue.type === 'table_data_item'"
                                    [value]="getSingleDataItemValue(inputValue) | translate">

                                <input type="time" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                    placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">
                                <input type="file" nbInput fullWidth
                                       placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                       background-basic-color-3="#3366ff" *ngIf="inputValue.type === 'file'"
                                       (change)="uploadFile($event, inputValue.name, inputValue.contentType, inputValue.onEdit)"
                                       accept="{{inputValue.accept}}">

                              <div shape="rectangle"
                                   class="form-control"
                                   *ngIf="inputValue.type === 'label'"
                              >{{inputValue.value | translate}}"</div>

                                <ngx-tinymc-editor *ngIf="inputValue.type === 'editor'"
                                    [inputName]="inputValue.name" [editorOptions]="this.editorOptions" [formGroupParent]="editForm">
                                </ngx-tinymc-editor>

                                <div class="nbselectGroup"
                                    *ngIf="inputValue.type === 'radio' && inputValue.data.type === 'static'">
                                    <div class="form-check">
                                        <nb-radio-group [formControlName]="inputValue.name" [name]="inputValue.name" >
                                            <nb-radio *ngFor="let o of inputValue.data.static"
                                                [value]="o.id" >
                                                {{o.label| translate}}
                                            </nb-radio>
                                      </nb-radio-group>

                                    </div>
                                </div>

                                <div class="nbselectGroup"
                                    *ngIf="inputValue.type === 'select' && !inputValue.notRequiredInEdit">

                                    <select class="form-control" formControlName="{{inputValue.name}}">

                                        <option *ngFor="let o of inputValue.data.static"
                                            value="{{o[inputValue.options.value]}}" selected="inputValue.name">
                                            {{o[inputValue.options.display]}}</option>

                                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                            value="{{o.id}}" selected="inputValue.name">
                                            {{o.title}}</option>
                                    </select>
                                </div>

                                <label for="{{inputValue.value}}"
                                    *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'checkbox'">
                                    <nb-checkbox (checkedChange)="updateEditCheckBox(inputValue.name)"
                                        *ngIf="inputValue.type === 'checkbox'" class="checkbox"
                                        [checked]="editForm.get(inputValue.name).value === 1 || editForm.get(inputValue.name).value === 2  ? true: false">
                                    </nb-checkbox>
                                    <span>
                                        {{inputValue.label | translate}}</span>
                                </label>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'edit')?.touched && editFormSubmitted) && returnFormKey(inputValue.name,'edit')?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'edit')?.touched && editFormSubmitted) && returnFormKey(inputValue.name,'edit')?.errors?.email">
                                    {{"Email format is invalid" | translate}}
                                </span>
                            </div>

                            <ng-template #localizable>

                                <div *ngFor="let lang of languages" style="padding-top:15 px ;">

                                    <label for="{{inputValue.value}}">{{inputValue.label | translate }} ( {{lang.title}}
                                        )</label>

                                    <input
                                        type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}"
                                        nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}{{lang.id}}"
                                        *ngIf="inputValue.type === 'text' || inputValue.type === 'email'">

                                    <!--  <div class="nbselectGroup" *ngIf="inputValue.type === 'select'">

                  <nb-select formControlName="{{inputValue.name}}">

                    <nb-option *ngFor="let o of inputValue.data.static" value="{{o[inputValue.options.value]}}">
                      {{o[inputValue.options.display]}}</nb-option>

                    <nb-option *ngFor="let o of remoteSelectedOptions[inputValue.value]" value="{{o.id}}">
                      {{o.title || o.email}}</nb-option>
                  </nb-select>
                </div> -->

                                    <!-- <nb-select multiple *ngIf="inputValue.type === 'select-multiple'" formControlName="{{inputValue.name}}">
                  <nb-option *ngFor="let o of remoteMultipleSelectedOptions" value="{{o[inputValue.options.value]}}">
                    {{o[inputValue.options.display]}}</nb-option>
                </nb-select> -->

                                </div>

                            </ng-template>

                        </div>

                        <div class="form-group">
                          <nb-accordion *ngIf="model.edit && model.edit.preview && model.edit.preview.items">

                            <nb-accordion-item>
                              <nb-accordion-item-header>
                                {{model.edit.preview.title | translate}}
                              </nb-accordion-item-header>

                              <nb-accordion-item-body>
                                <div *ngFor="let item of model.edit.preview.items">
                                  <label *ngIf="item.type === 'label'">
                                    {{item.title | translate}}
                                  </label>

                                  <div *ngIf="item.type === 'json'">
                                    <prettyjson [obj]="preview_data"></prettyjson>
                                  </div>
                                </div>
                              </nb-accordion-item-body>
                            </nb-accordion-item>

                          </nb-accordion>
                        </div>

                        <div class="row justify-content-end mt-3">
                            <button nbButton class="btnOk" style="width: 6rem;" type="submit"
                                (click)="editForm.valid ? ref.close(): null" (click)="editModel()">{{"Save" | translate
                                }}</button>
                            <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel"
                                | translate }}</button>

                        </div>

                    </form>

                </nb-card-body>
            </nb-card>
        </ng-template>



        <ng-template #innerModelTabs let-ref="dialogRef">
            <div class="inner-model-tabs-div">
                <ngx-signle-model [activeInnerSingleModelID]="activeInnerSingleModelID"
                    [activeInnerSingleModel]="activeInnerSingleModel" (closeParentModal)="ref.close()"
                    (updateParentData)="getData()"></ngx-signle-model>
            </div>
        </ng-template>

        <nb-card *ngIf="innerTabRequested">
            <nb-card-body>

                <nb-tabset>
                    <nb-tab *ngFor="let modelTab of model.tabs[activeTab]" tabTitle={{modelTab.title|translate}}
                        [ngSwitch]="modelTab.type">
                        <ngx-model *ngSwitchCase="'relation'" [model]="subModel[modelTab.field]"
                            [subModelID]="activeTabID">
                        </ngx-model>
                        <ngx-user-wizard *ngSwitchCase="'wizard'" [wizard]="wizard" [subModelID]="activeTabID">

                        </ngx-user-wizard>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>

        <ng-template #instructionsDialog let-context let-ref="dialogRef">
            <nb-card class="newModel">
                <nb-card-header class="newModelHeader d-flex align-items-baseline justify-content-between">
                    <span>
                        {{ context.title | translate}}
                    </span>
                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                    </div>
                </nb-card-header>

                <ng-container [ngSwitch]="context.name">
                    <ng-container *ngSwitchCase="'instructions'">
                        <ng-container *ngTemplateOutlet="instructions"></ng-container>
                    </ng-container>
                </ng-container>

                <div class="row justify-content-end m-3">
                    <button nbButton (click)="ref.close()" class="float-right btn btn-info">{{ "Close" | translate}}</button>
                </div>
            </nb-card>
        </ng-template>

        <ng-template #instructions>
            <ng-container *ngIf="instructionsTemplate else noInstructions">
                <nb-card-body class="px-4 py-2">
                    <div [innerHTML]="instructionsTemplate"></div>
                </nb-card-body>
            </ng-container>

            <ng-template #noInstructions>
                <nb-card-body class="px-4 py-2">
                    <p>{{ "No instructions available. Please contact an administrator." | translate }}</p>
                </nb-card-body>
            </ng-template>
        </ng-template>



    </nb-card-body>
</nb-card>
