<a class="menu-item" (click)="goToProfile()" style="text-decoration: none; cursor: pointer; font-size: 32px;">
  <div *ngIf="!avatar" class="d-inline">
    <i class="menu-icon fa fa-user"></i>
  </div>
  <img *ngIf="avatar" [src]="avatar" class="rounded-circle"
       [style.width]="'50px'"
       [style.height]="'50px'"
       [style.objectFit]="'cover'"/>
  
  <span class="menu-title pl-1 pr-1">
    {{userLabel}}
  </span>
</a>
<hr style="border-width: 2px;">
