// themes - our custom or/and out of the box themes
@import '../../../@theme/styles/themes.scss';
@include nb-install-component {
    hr {
        border-color: nb-theme(hr-border-color) !important;
    }
}
