<div *ngIf="showUserId" >
  <div class="form-group">
    <label for="username">{{'Username Or Email' | translate}}</label>
    <input type="text" class="form-control user-id" id="username" placeholder="{{'Enter user name or email' | translate }}"
          autocomplete="off"
          [(ngModel)]="user.username"
          (keyup.enter)="getUserId()"
          (change)="handleUserNameChange()">
  </div>

  <div class="form-group text-center">
    <button nbButton status="primary" class="btn btn-info col-4 text-uppercase" (click)="getUserId()">
      {{'Next' | translate }}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="logging_in"></span>
    </button>
  </div>
</div>


<div *ngIf="showSSO">
<ngx-sso-login [options]="options" [error]='true' ></ngx-sso-login>
</div>
<!--   -->
<div *ngIf="showPassword">
  <div class="form-group text-secondary">
    <label for="password">{{'Password' | translate }}</label>
    <input type="password" class="form-control password" id="password" placeholder="{{'Enter password' | translate }}"
           autocomplete="off"      
           [(ngModel)]="user.password"
           (keyup.enter)="login()">
  </div>

  <div class="form-group text-secondary texting-align mb-0">
    <button class="border-0 bg-transparent" (click)="gotoResetPassword()">
      {{'Forget password?' | translate }}
    </button>
  </div>

  <div class="form-group text-center">
    <div *ngIf="!showUserId && !showSSO && captchaStatus">
        <ngx-captcha
        *ngIf="this.captchaStatus"
        usage="login"
        username="{{this.user.username}}"
        (submit)="this.captchaSubmitted($event)"
        (refresh)="this.resetUserLoginStatus()"
      ></ngx-captcha>
    </div>
    <button nbButton status="primary" class="btn btn-info col-5 text-uppercase" (click)="login()" [disabled]="captchaStatus && !submitButtonEnabled">
      {{'sign in' | translate }}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="logging_in"></span>
    </button>
    <div class="alert alert-warning mt-2" *ngIf="error && !isCaptchaError">
      {{'Error in Username or Password' | translate }}
    </div>
    <div class="alert alert-warning mt-2" *ngIf="isCaptchaError">
      {{captchaErrorMessage | translate }}
    </div>
  </div>
</div>


<div class="form-group" *ngIf="system_error">
  <div class="alert alert-warning mt-2" >
    {{this.systemErrorMessage | translate }}
  </div>
</div>
<div class="form-group" *ngIf="!mailError">
  <div class="alert alert-warning mt-2" >
    {{'Error in sending login email, now redirecting to landing page' | translate }}
  </div>
</div>