@import '../../../@theme/styles/themes';

@include nb-install-component() {
    .guardModal nb-card-header {
        padding-bottom: 0;
    }

    .guardModal {
        padding: 1.5rem;
        margin-bottom: 0;
    }

    // .guardModal nb-card-header {
    //     padding-top: 40px !important;
    // }

    .btnGroupModal {
        button {
            margin: 0.5rem;
        }
    }

    .form-label {
        font-weight: 600;
    }

    input[type='file'] {
        height: 45px;
    }
    
    .mouseHand {
        cursor: pointer;
        cursor: hand;
    }

    select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }
    
    .change-hover:hover {
        cursor: pointer;
        cursor: hand;
        &::before {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cg data-name="upload" fill="%23ffffff"%3E%3Crect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/%3E%3Crect x="4" y="4" width="16" height="2" rx="1" ry="1" transform="rotate(180 12 5)"/%3E%3Crect x="17" y="5" width="4" height="2" rx="1" ry="1" transform="rotate(90 19 6)"/%3E%3Crect x="3" y="5" width="4" height="2" rx="1" ry="1" transform="rotate(90 5 6)"/%3E%3Cpath d="M8 14a1 1 0 0 1-.8-.4 1 1 0 0 1 .2-1.4l4-3a1 1 0 0 1 1.18 0l4 2.82a1 1 0 0 1 .24 1.39 1 1 0 0 1-1.4.24L12 11.24 8.6 13.8a1 1 0 0 1-.6.2z"/%3E%3Cpath d="M12 21a1 1 0 0 1-1-1v-8a1 1 0 0 1 2 0v8a1 1 0 0 1-1 1z"/%3E%3C/g%3E%3C/svg%3E');
          ;
          display: block;
          width: 30%;
          height: 30%;
          position: absolute;
          top: calc(100% / 2 - 15%);
          left: calc(100% / 2 - 15%);
          z-index: 3;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: nb-theme(color-primary-500);
          opacity: 0.7;
          position: absolute;
          z-index: 2;
        }
    }
    
    
    .logo-upload-container {
        width: 230px;
        min-height: 150px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: nb-theme(input-border-color);
        border-style: nb-theme(input-border-style);
        border-width: nb-theme(input-border-width);
        // background-color: rgba($color: #949494, $alpha: 0.5);
        background-color: nb-theme(input-background-color);
        border-radius: nb-theme(border-radius);
        padding: 16px;
        @extend .mouseHand;
        .icon-as-bg-img {
            color: nb-theme(color-basic-600);
        }

        & *:hover,
        &:hover {
            @extend .mouseHand;
            border-color: nb-theme(input-hover-border-color);
        }
    
        input {
            position:absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
        }
    
        img {
            width: 100%;
        }
    }

}

// @media screen and (max-width: 767px) {
//     .btnGroupModal {
//         margin-left: 0 !important;
//         margin-right: 0 !important;
//     }
// }
