<ngx-modal modalId="guard-modal">

    <nb-card class="guardModal">
        <nb-card-header>{{"Unsaved Changes ?" | translate }}</nb-card-header>
        <nb-card-body>
            {{"You have unsaved changes. Press Cancel to go back and save these changes, or OK to lose these changes" |
            translate}}
        </nb-card-body>
        <div class="row justify-content-end px-4 btnGroupModal">
            <button nbButton outline status="primary" style="width: 6rem;" (click)="closeModal('guard-modal')">{{"cancel" |
                translate}}</button>
            <button nbButton status="primary" class="btnSave" style="width: 6rem;" (click)="guardConfirm()">{{"OK" | translate
                }}</button>
        </div>
    </nb-card>
</ngx-modal>

<!-- Reset Modal -->
<ngx-modal modalId="reset-modal">

    <nb-card class="guardModal">
        <nb-card-header>{{"Reset ?" | translate }}</nb-card-header>
        <nb-card-body>
            {{"Do you confirm resetting your settings to defaults ?" | translate}}
        </nb-card-body>
        <div class="row justify-content-end mt-3 btnGroupModal">
            <button nbButton outline status="primary" style="width: 6rem;" (click)="closeModal('reset-modal')">{{"cancel" |
                translate}}</button>
            <button nbButton status="primary" class="btnSave" style="width: 6rem;" (click)="reset()">{{"Confirm" | translate
                }}</button>
        </div>
    </nb-card>
</ngx-modal>
<!-- End Reset Modal -->

<div>
    <ngx-spinner *ngIf="loading"></ngx-spinner>
    <form #themeSettingsForm id="theme-settings-form" [formGroup]="formData" *ngIf="!loading">
        <div class="form-group mb-5">
            <label for="logo" class="form-label mx-2">
                {{"logo" | translate}}
            </label>
            <div class="logo-upload-container change-hover shape-rectangle" shape="rectangle">
                <input
                    name="logo"
                    id="logo"
                    type="file"
                    class="form-control shape-rectangle"
                    accept="image/jpg,image/jpeg,image/png,image/bmp,image/gif,image/svg,image/webp"
                    nbInput fullWidth
                    placeholder="{{'Choose an image' | translate}}"
                    (change)="bindToFormGroup($event, 'logo')"
                    shape="rectangle"
                />
                <i *ngIf="!settings.logo" class="fas fa-image display-4 icon-as-bg-img"></i>
                <img *ngIf="settings.logo" [src]="settings.logo">
            </div>
            <div class="mt-1">
                <p *ngIf="this.errors && this.errors['logo']" class="text-danger">
                    {{ this.errors['logo'] }}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="watermark" class="form-label mx-2">
                {{"watermark" | translate}}
            </label>
            <div class="logo-upload-container change-hover shape-rectangle" shape="rectangle">
                <input
                    name="watermark"
                    id="watermark"
                    class="form-control shape-rectangle"
                    type="file"
                    accept="image/jpg,image/jpeg,image/png,image/bmp,image/gif,image/svg,image/webp"
                    nbInput fullWidth
                    placeholder="{{'Choose an image' | translate}}"
                    (change)="bindToFormGroup($event, 'watermark')"
                    shape="rectangle"
                />
                <i *ngIf="!settings.logo" class="fas fa-image display-4 icon-as-bg-img"></i>
                <img *ngIf="settings.watermark"
                [src]="settings.watermark">
            </div>
            <div class="mt-2">
                <p *ngIf="this.errors && this.errors['watermark']" class="text-danger">
                    {{ this.errors['watermark'] }}
                </p>
            </div>
        </div>
        <div class="form-group nbselectGroup" *ngIf="user.role === 4">
            <label for="default_heme">{{'System Default Theme' | translate}}</label>
            <select 
                class="form-control p-1"
                formControlName="default_theme"
                (change)="bindToFormGroup($event.target.value, 'default_theme')"
            >
                <option
                    *ngFor="let theme of systemThemes"
                    [value]="theme.name"
                    [selected]="theme.name === settings.default_theme"
                >
                    {{ theme['title_' + userLanguageShort] }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <nb-checkbox
                name="enable_theme_mode"
                id="enable_theme_mode"
                class="checkbox"
                [checked]="formData.controls.enable_theme_mode.value"
                (checkedChange)="bindToFormGroup($event, 'enable_theme_mode')"
            ></nb-checkbox>
            <span>{{'Enable Theme Mode' | translate }}</span>
        </div>
    
        <div class="d-flex justify-content-end">
            <button id="reset-btn" nbButton outline status="primary" (click)="showResetModal()" class="mx-3" style="width: 6rem;">
                <span>{{"Reset to Defaults" | translate }}</span>
            </button>
            <button nbButton outline status="primary" (click)="goBack()" class="mx-3" style="width: 6rem;">
                <span>{{"Cancel" | translate }}</span>
            </button>
            <button nbButton status="primary"
                class="btnSave"
                style="width: 6rem;"
                type="submit"
                [disabled]="!formData.dirty || !formData.valid"
                (click)="submitSettings()"
            >
                {{"Save"| translate }}
            </button>
        </div>
    </form>
</div>
