@font-face {
  font-family: "Calibri-Bold";
  src: url("Calibri-Bold.TTF") format('truetype');
}

@font-face {
  font-family: "Calibri-Light";
  src: url("Calibri-Light.ttf") format('truetype');
}

/*@font-face {
  font-family: "Calibri-Regular";
  src: url("Calibri-Regular.ttf") format('truetype');
}*/
