@import '../../../@theme/styles/themes.scss';

@include nb-install-component {

.form-group select.form-control, .form-group input.form-control {
    color: nb-theme(text-basic-color) !important;
    background-color: nb-theme(input-background-color) !important;
    border-color: nb-theme(input-border-color) !important;
  }
}
.form-label {
    font-weight: 600;
}

