<div>
    <div class="form-group">
        <nb-checkbox [checked]="enable2FA" class="checkbox" name="enable2FA" [(ngModel)]="enable2FA"></nb-checkbox>
        <label for="enable2FA" class="mx-2 form-label">{{ "enable two-factor authentication" | translate }}</label>
    </div>

    <div class="form-group">
        <label for="smsConfig" class="form-label">{{ "SMS Gateway" | translate }}</label>
        <select name="smsConfig" class="form-control" [(ngModel)]="configID">
            <option *ngFor="let config of smsConfigs" [value]="config.id">
                {{ config.title }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="smsTemplate" class="form-label">{{ "SMS Template" | translate }}</label>
        <select name="smsTemplate" class="form-control" [(ngModel)]="otpTemplateId">
            <option *ngFor="let template of otpTemplates" [value]="template.id">
                {{ template.title }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="OTPLifetime" class="form-label">{{ "OTP Lifetime" | translate }}</label>
        <input type="number" class="form-control" name="OTPLifetime" [(ngModel)]="OTPLifetime" min="1" required/>
        <span class="small text-danger" *ngIf="otpLifetimeError">{{'This field must be valid non-zero integer' | translate}}</span>
    </div>

    <div class="form-group">
        <label for="OTPLength" class="form-label">{{ "OTP Length" | translate }}</label>
        <input type="number" class="form-control" name="OTPLength" [(ngModel)]="OTPLength" min="4" required/>
        <span class="small text-danger" *ngIf="otpLengthError">{{'This field must be valid integer not less than 4' | translate}}</span>
    </div>

    <div class="form-group">
        <nb-checkbox [checked]="enableUserUpdate" class="checkbox" name="enableUserUpdate" [(ngModel)]="enableUserUpdate"></nb-checkbox>
        <label for="enableUserUpdate" class="mx-2 form-label">{{ "enable-user-phone-number-update" | translate }}</label>
    </div>

    <div class="d-flex justify-content-end">
        <button nbButton outline status="primary" (click)="goBack()" class="mx-1" style="width: 6rem;">
            <span>{{"Cancel" | translate }}</span>
        </button>
        <button nbButton status="primary" class="mx-2"
        style="width: 6rem;"
        type="submit"
        (click)="submitSetting()"
        [disabled]="!configID || !otpTemplateId">
            {{"Save"| translate }}
        </button>

    </div>
</div>
