@import '../../@theme/styles/themes';
@include nb-install-component() {
  ::ng-deep h6.hide-mobile, h6 {
    color: nb-theme(text-color-header);
}
.text-info {
  position: nb-theme(header-logo-position);
  top: nb-theme(header-logo-top);
  display: flex;
  align-items: center;
  width: 50%;
  height: nb-theme(header-logo-height);
  //height: 67px;
}

@media screen and (min-width: 300px) and (max-width: 992px) {
  .text-info {
    top: nb-theme(header-logo-mobile-top) !important;
  }
}

}

.admin-btn {
    height: min-content;
    width: 22rem;
    position: fixed;
    top: 50px;
    right: 200px;
    z-index: 10;
    // This color is used in both the exam and the quiz pages as the primary color for the buttons
//    background-color: #5296d8;
    // This color is used in the login page
    background-color: #17a2b8;
}

@media screen and (max-width: 767px) {
  .simple-login , .complex-login {
    padding-top: 3%;
  }
  .login-logo {
    display: block;
    margin: 0 auto;
  }
}


ngx-logo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

@media screen and (min-width: 768px) {
  .simple-login , .complex-login {
    padding-top: 3%;
    overflow-x: hidden;
    // height: 300px;
    padding-right: 0;
  }
}
