<div class="col-12 col-md-10">
  <div class="text-info my-4">
    <ngx-logo></ngx-logo>
  </div>
  <h6 class="text-uppercase hide-mobile">
    {{'awareness and compliance training management system' | translate }}
  </h6>
  <div class="mt-1 simple-login" *ngIf="!ssoLoginEnabled&&showView">
    <ngx-simple-login></ngx-simple-login>
  </div>
  <div class="mt-1 complex-login" *ngIf="ssoLoginEnabled&&showView">
    <ngx-complex-login [options]="sso_options"></ngx-complex-login>
  </div>
</div>
<div class="col-12 col-md-10">
  <span><a [routerLink]="'/static/privacy-policy'" target="_blank">{{'privacy policy' | translate}}</a></span>
</div>