<ngx-modal modalId="guard-modal">

    <nb-card class="guardModal">
        <nb-card-header>{{"Unsaved Changes ?" | translate }}</nb-card-header>
        <nb-card-body>
            {{"You have unsaved changes. Press Cancel to go back and save these changes, or OK to lose these changes" |
            translate}}
        </nb-card-body>
        <div class="row justify-content-end px-4 btnGroupModal">
            <button nbButton outline status="primary" style="width: 6rem;" (click)="closeGuardModal()">{{"cancel" |
                translate}}</button>
            <button nbButton status="primary" class="btnSave" style="width: 6rem;" (click)="guardConfirm()">{{"OK" | translate
                }}</button>
        </div>
    </nb-card>
</ngx-modal>

<ng-template #send let-data let-ref="dialogRef">
    <nb-card class="guardlogModal">
        <nb-card-header>{{"Send ?" | translate}}</nb-card-header>
        <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
        <div class="row justify-content-end mt-3 dialogGroup">
            <button nbButton status="primary" class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                (click)="confirmModel(); ref.close()">{{"OK" | translate }}</button>
            <button nbButton outline status="primary" class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                translate}}</button>
        </div>
    </nb-card>
</ng-template>

<ng-template #sendPost let-data let-ref="dialogRef">
    <nb-card class="guardlogModal">
        <nb-card-header>{{"Send ?" | translate}}</nb-card-header>
        <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
        <div class="row justify-content-end mt-3 dialogGroup">
            <button nbButton status="primary" class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                (click)="confirmModelPost(); ref.close()">{{"OK" | translate }}</button>
            <button nbButton outline status="primary" class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                translate}}</button>
        </div>
    </nb-card>
</ng-template>

<ng-template #instructionsDialog let-context let-ref="dialogRef">
    <nb-card class="dialogModal p-2">
        <nb-card-header class="newModelHeader d-flex align-items-baseline justify-content-between">
            <span>
                {{ context.title | translate}}
            </span>
            <div class="closePopUpBtn">
                <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
            </div>
        </nb-card-header>

        <ng-container [ngSwitch]="context.name">
            <ng-container *ngSwitchCase="'sms-placeholders'">
                <ng-container *ngTemplateOutlet="smsPlaceholders; context: context"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'instructions'">
                <ng-container *ngTemplateOutlet="instructions"></ng-container>
            </ng-container>
        </ng-container>

        <!-- <div class="row justify-content-end m-3">
            <button (click)="ref.close()" class="float-right btn btn-info">{{ "Close" | translate}}</button>
        </div> -->
    </nb-card>
</ng-template>

<ng-template #instructions>
    <ng-container *ngIf="instructionsTemplate else noInstructions">
        <nb-card-body class="px-4 py-2">
            <div [innerHTML]="instructionsTemplate"></div>
        </nb-card-body>
    </ng-container>

    <ng-template #noInstructions>
        <nb-card-body class="px-4 py-2">
            <p>{{ "No instructions available. Please contact an administrator." | translate }}</p>
        </nb-card-body>
    </ng-template>
</ng-template>

<ng-template #smsPlaceholders let-data="data" let-numberOfPlaceholders="numberOfPlaceholders">
    <nb-card-body *ngIf="numberOfPlaceholders === 0">{{ "No placeholders are currently available." | translate }}</nb-card-body>
    <div style="overflow-x:auto" class="px-4 py-1" *ngIf="numberOfPlaceholders > 0">
        <table style="width: 100%;"
            class="table table-hover"
            >
            <thead>
                <tr>
                    <th>{{ "Placeholder" | translate}}</th>
                    <th>{{ "Description" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let keyword of data | keyvalue">
                    <td>{{ keyword.key }}</td>
                    <td>{{ keyword.value  | translate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ngx-spinner *ngIf="!dataAvailable"></ngx-spinner>

<div class="container-fluid nopadding" *ngIf="dataAvailable">

    <nb-card [nbSpinner]="fetchData" nbSpinnerStatus="info" class="signleModel p-0 p-md-2">
        <nb-card-header class="d-flex align-items-center newModelHeader">
            <!-- <div class="col-12 d-flex bg-white custom-page-header"> -->
                <div class="main-header flex-grow-1">{{mainTitle}}</div>

                <!-- <nb-icon icon="arrow-back-outline" class="backBtn" (click)="goBack()"
                    *ngIf="!model.is_modal">
                </nb-icon> -->

                <nb-icon icon="arrow-back-outline" class="backBtn" (click)="goBack()"
                    *ngIf="!model.is_modal">
                </nb-icon>
                <div *ngIf="activeInnerSingleModelID" class="closePopUpBtn">
                    <button nbButton status="primary" (click)="goBack()">X</button>
                </div>
            <!-- </div> -->
        </nb-card-header>

        <nb-card-body>
            <tabset class="tabs">

                <tab *ngFor="let tab of model.browse.model_tabs" heading={{tab.title|translate}} [ngSwitch]="tab.type">

                    <div *ngSwitchCase="'edit'">

                        <form [formGroup]="editForm">

                            <div class="form-group" *ngFor="let inputValue of model.add.input">


                                <div *ngIf="!inputValue.localizable; else localizable">
                                    <div *ngIf="inputValue.type !== 'custom'; else custom">

                                    <label *ngIf="inputValue.type === 'label'"> {{"ID" | translate}} : {{activeInnerSingleModelID}}
                                    </label>

                                    <label [hidden]="isHiddenControls[inputValue.value]" for="{{inputValue.value}}"
                                        *ngIf="!inputValue.notRequiredInEdit && inputValue.type !== 'checkbox' && inputValue.type !== 'label' && ((!inputValue.condition || editForm.get(inputValue.condition).value))">{{inputValue.label
                                        | translate}}
                                    </label>
                                    <span *ngIf="inputValue.info_label === true"
                                        style="color: #8f9bb3; cursor: pointer;"
                                        class="mx-2"
                                        (click)="getTemplateExtraInfo(instructionsDialog)"
                                        >
                                        <i class="fas fa-info-circle"></i>
                                    </span>

                                    <input [hidden]="isHiddenControls[inputValue.value]" type="{{ inputValue.type ==='password' ? 'password' : inputValue.type === 'date' ? 'date'
                  : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput
                                        fullWidth placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}" shape="rectangle" class="shape-rectangle"
                                        *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number' || inputValue.type === 'integer'"
                                        autocomplete="{{inputValue.autoComplete ? inputValue.autoComplete : 'true'}}"
                                        [required]="inputValue.required ? inputValue.required : null"
                                        [attr.disabled]="inputValue.disabled ? true : null"
                                        >

                                    <input type="time" [hidden]="isHiddenControls[inputValue.value]" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">

                                    <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        rows="{{inputValue.rows}}"
                                        formControlName="{{inputValue.name}}"
                                        *ngIf="!inputValue.sms_template_textarea && inputValue.type === 'textarea' && (!inputValue.condition || editForm.get(inputValue.condition).value)"
                                        >
                                    </textarea>

                                    <ng-container *ngIf="model.name === 'sms_template'">
                                        <ng-container *ngTemplateOutlet="sms_template_textareas"></ng-container>
                                    </ng-container>

                                    <input type="file" nbInput fullWidth
                                        placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                        *ngIf="inputValue.type === 'file'"
                                        (change)="uploadFile($event, inputValue.name)"
                                        [hidden]="isHiddenControls[inputValue.value]">

                                    <div>
                                        <img style="width: 50%; height:50% ;" *ngIf="inputValue.type === 'image' && returnFormKey(inputValue.name,'edit').value !== null"
                                            [src]="returnFormKey(inputValue.name,'edit').value"
                                            [hidden]="isHiddenControls[inputValue.value]"/>
                                    </div>
                                    <ngx-tinymc-editor *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'editor'"
                                        [inputName]="inputValue.name" [editorOptions]="this.editorOptions" [formGroupParent]="editForm">
                                    </ngx-tinymc-editor>

                                    <ng5-slider [hidden]="isHiddenControls[inputValue.value]" *ngIf="inputValue.type === 'slider'"
                                        [(value)]="editForm.get(inputValue.name).value"
                                        [options]="sliderOptions[inputValue.value]"
                                        (valueChange)="updateSlider($event, inputValue.name)"></ng5-slider>

                                    <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                                        *ngIf="inputValue.type === 'select' && !inputValue.notRequiredInEdit">

                                        <select class="form-control" formControlName="{{inputValue.name}}"
                                            (ngModelChange)="updateSelectDisabledFields($event,inputValue)"
                                            [class.disabledSelect]="inputValue.readOnly">

                                            <option *ngFor="let o of inputValue.data.static"
                                                value="{{o[inputValue.options.value]}}" selected="inputValue.name">
                                                {{o[inputValue.options.display] | translate}}</option>

                                            <option [ngValue]="null" *ngIf="inputValue.options.none">None</option>

                                            <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                                value="{{o.id}}" selected="inputValue.name">
                                                {{o.title}}</option>
                                        </select>
                                    </div>

                                    <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                                    *ngIf="inputValue.type === 'select-related-static' && !inputValue.notRequiredInEdit">

                                    <select class="form-control" formControlName="{{inputValue.name}}"
                                        (ngModelChange)="updateSelectedRelated($event, inputValue.related); hideFieldsByValue($event, inputValue);"
                                        [class.disabledSelect]="inputValue.readOnly">

                                        <option *ngFor="let o of inputValue.data.static"
                                            value="{{o[inputValue.options.value]}}" selected="inputValue.name">
                                            {{o[inputValue.options.display] | translate}}</option>

                                        <option [ngValue]="null" *ngIf="inputValue.options.none">None</option>

                                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                            value="{{o.id}}" selected="inputValue.name">
                                            {{o.title}}</option>
                                    </select>
                                </div>

                                    <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]" *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'radio'">

                                        <div class="form-check">
                                            <nb-radio-group [formControlName]="inputValue.name" [name]="inputValue.name" >
                                                <nb-radio *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                                    [value]="o.id" >
                                                {{o.title || o.email}}
                                                </nb-radio>
                                          </nb-radio-group>

                                        </div>

                                    </div>

                                    <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                                    *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'multiple_checkbox' && inputValue.data.type === 'remote'">
                                    <div class="form-check" *ngFor="let o of remoteMultipleCheckboxOptions">

                                    <nb-checkbox [checked]="o.checked" (checkedChange)="updateMultipleCheckBox($event,o.id)"  class="checkbox"></nb-checkbox>
                                    <span>{{o.title}} </span>

                                    </div>
                                    </div>

                                    <label for="{{inputValue.value}}" [hidden]="isHiddenControls[inputValue.value]"
                                        *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'checkbox'  && inputValue.type !== 'label'">
                                        <nb-checkbox (checkedChange)="updateCheckBox(inputValue.name); hideFieldsByValue($event, inputValue)"
                                            *ngIf="inputValue.type === 'checkbox'" class="checkbox"
                                            [checked]="editForm.get(inputValue.name).value === 1 ? true: false">
                                        </nb-checkbox>
                                        <span>
                                            {{inputValue.label | translate}}</span>
                                    </label>

                                    <span class="text-danger erroMsg"
                                        *ngIf="!inputValue.notRequiredInEdit && (returnFormKey(inputValue.name,'edit').touched || modelFormSubmitted) && returnFormKey(inputValue.name,'edit').errors?.required">
                                        {{inputValue.label | translate}} {{"is required" | translate}}
                                    </span>

                                    <span class="text-danger erroMsg"
                                        *ngIf="!inputValue.notRequiredInEdit && (returnFormKey(inputValue.name,'edit').touched || modelFormSubmitted) && returnFormKey(inputValue.name,'edit').errors?.pattern && inputValue.name !== 'phone_number'">
                                        {{inputValue.label | translate}} {{"Integer numbers" | translate}}
                                    </span>

                                    <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name, 'edit')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name, 'edit')?.errors?.pattern">
                                        {{inputValue.label | translate}} {{"should not start with 'zero' and only contains numbers." | translate}}
                                    </span>

                                    <span class="text-danger erroMsg"
                                        *ngIf="!inputValue.notRequiredInEdit && (returnFormKey(inputValue.name,'edit').touched || modelFormSubmitted) && returnFormKey(inputValue.name,'edit').errors?.email">
                                        {{"Email format is invalid" | translate}}
                                    </span>

                                    <span class="text-danger erroMsg"
                                    *ngIf="!inputValue.notRequiredInEdit && (returnFormKey(inputValue.name,'edit').touched || modelFormSubmitted) && returnFormKey(inputValue.name,'edit').errors?.min">
                                    {{"min value should not be less than" | translate}} {{inputValue.min}}
                                </span>
                                    </div>
                                </div>

                                <ng-template #localizable>


                                    <div class="form-group" *ngFor="let lang of languages">

                                        <label for="{{inputValue.value}}"
                                            *ngIf="!inputValue.notRequiredInEdit && inputValue.type !== 'checkbox'">{{inputValue.label
                                            | translate}}
                                            ( {{lang.title}} ) </label>
                                        <input
                                            type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}"
                                            nbInput fullWidth placeholder="{{inputValue.placeHolder | translate}}"
                                            formControlName="{{inputValue.name}}{{lang.id}}" shape="rectangle" class="shape-rectangle"
                                            *ngIf="inputValue.type === 'text' || inputValue.type === 'email'">


                                        <span class="text-danger erroMsg"
                                            *ngIf="(returnFormKey(inputValue.name + lang.id,'edit')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name + lang.id,'edit')?.errors?.required">
                                            {{inputValue.label | translate}} ( {{lang.title}} )
                                            {{"is required" | translate}}
                                        </span>
                                    </div>

                                </ng-template>

                                <ng-template #custom>
                                    <div *ngIf="inputValue.name === 'sms_credentials'" class="form-group">
                                         <div class="form-group">
                                             <label for="auth1">{{(sms_provider_auth === 'basicAuth' ? 'Auth Username' : 'Key') | translate}}</label>
                                             <input type="text"
                                                    nbInput
                                                    fullWidth
                                                    shape="rectangle" class="shape-rectangle"
                                                    formControlName="auth1"
                                                    required
                                             >

                                             <span class="text-danger erroMsg"
                                                   *ngIf="(returnFormKey('auth1', 'edit')?.touched || modelFormSubmitted) && returnFormKey('auth1', 'edit')?.errors?.required">
                                                 {{(sms_provider_auth === 'basicAuth' ? 'Auth Username' : 'Key') | translate}} {{"is required" | translate}}
                                             </span>
                                         </div>

                                         <div class="form-group">
                                             <label for="auth2">{{(sms_provider_auth === 'basicAuth' ? 'Auth Password' : 'Secret') | translate}}</label>
                                             <input type="text"
                                                    nbInput
                                                    fullWidth
                                                    shape="rectangle" class="shape-rectangle"
                                                    formControlName="auth2"
                                                    required
                                             >

                                             <span class="text-danger erroMsg"
                                                   *ngIf="(returnFormKey('auth2', 'edit')?.touched || modelFormSubmitted) && returnFormKey('auth2', 'edit')?.errors?.required">
                                                   {{(sms_provider_auth === 'basicAuth' ? 'Auth Password' : 'Secret') | translate}} {{"is required" | translate}}
                                             </span>
                                         </div>

                                         <div *ngIf="sms_provider_auth === 'basicAuth'" class="form-group">
                                            <label for="appsid">{{'Application Identifier (AppSid)' | translate}}</label>
                                            <input type="text"
                                                nbInput
                                                fullWidth
                                                shape="rectangle" class="shape-rectangle"
                                                formControlName="appsid"
                                                required
                                            >

                                            <span class="text-danger erroMsg"
                                                *ngIf="(returnFormKey('appsid')?.touched || modelFormSubmitted) && returnFormKey('appsid')?.errors?.required">
                                                {{'Application Identifier (AppSid)' | translate}} {{"is required" | translate}}
                                            </span>
                                        </div>
                                    </div>
                                 </ng-template>


                                 <ng-template #sms_template_textareas>
                                    <ng-container *ngIf="inputValue.name === 'en_content'">
                                        <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                            placeholder="{{inputValue.placeHolder | translate}}"
                                            rows="{{inputValue.rows}}"
                                            formControlName="{{inputValue.name}}"
                                            *ngIf="inputValue.type === 'textarea' && (!inputValue.condition || modelForm.get(inputValue.condition).value)"
                                            (ngModelChange)="updateEnglishInputField($event)"
                                            (keypress)="omitNonASCIIchars($event)"
                                            >
                                        </textarea>

                                        <span *ngIf="inputValue.sms_template_textarea === true"
                                            [ngClass]="[!currentLangRTL ? 'float-right' : 'float-left', englishInputFieldLength > inputValue.max ? 'text-danger' : '']">
                                            <span *ngIf="englishInputFieldLength > inputValue.max">
                                                ({{numberOfEnglishMessages}} {{"Messages" | translate}})
                                            </span>
                                            {{englishInputFieldLength}}/{{inputValue.max}}
                                        </span>
                                    </ng-container>

                                    <ng-container *ngIf="inputValue.name === 'ar_content'">
                                        <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                            placeholder="{{inputValue.placeHolder | translate}}"
                                            rows="{{inputValue.rows}}"
                                            formControlName="{{inputValue.name}}"
                                            *ngIf="inputValue.type === 'textarea' && (!inputValue.condition || modelForm.get(inputValue.condition).value)"
                                            (ngModelChange)="updateArabicInputField($event)"
                                            >
                                        </textarea>

                                        <span *ngIf="inputValue.sms_template_textarea === true"
                                            [ngClass]="[!currentLangRTL ? 'float-right' : 'float-left', arabicInputFieldLength > inputValue.max ? 'text-danger' : '']">
                                            <span *ngIf="arabicInputFieldLength > inputValue.max">
                                                ({{numberOfArabicMessages}} {{"Messages" | translate}})
                                            </span>
                                            {{arabicInputFieldLength}}/{{inputValue.max}}
                                        </span>
                                    </ng-container>
                                </ng-template>

                            </div>

                        </form>

                        <div class="btnGroupSave">
                            <button nbButton outline status="primary" (click)="goBack()" style="width: 6rem;">
                                <span>{{"Cancel" | translate }}</span>
                            </button>
                            <button nbButton status="primary" class="btnSave" style="width: 6rem;" type="submit"

                                (click)="editModel()"
                                [style.display]="tab.condition ? modelData[tab.condition] == tab.conditionValue ? 'inline-block' : 'none' : ('inline-block')">{{"Save"
                                | translate }}</button>

                        </div>

                    </div>


                    <div *ngSwitchCase="'details'">

                        <div class="form-group" *ngFor="let data of tab.fields">

                            <label for="{{data.title}}">{{data.title | translate}}
                            </label>

                            <p *ngIf="!data.type">{{ modelData[data.field] | translate }}</p>
                            <p *ngIf="data.type === 'number' ">{{ modelData[data.field] }}</p>
                            <p *ngIf="data.type ==='nested'">{{modelData[data.field][data.nested] ||
                                modelData[data.field][data.nested_alternative]}}</p>

                        </div>
                    </div>

                    <div *ngSwitchCase="'view'">
                        <div *ngIf="sms_content" style="width: 100%; max-width: 600px; max-height: 600px;" class="pt-1 pb-3">
                            {{sms_content}}
                        </div>
                        <div *ngIf="!sms_content">
                            <iframe sandbox="allow-forms allow-scripts allow-same-origin" style="width: 100%; background-color: #ffffff;"  width="100%"
                                max-width="600px" max-height="600px" height="600" frameBorder="0" scrolling="yes"
                                [src]="iframeSource"></iframe>
                        </div>

                    </div>

                    <div *ngSwitchCase="'password'">

                        <form [formGroup]="passwordForm" (ngSubmit)="passwordModel()">

                            <div class="form-group" *ngFor="let inputValue of model.password.input">

                                <label for="{{inputValue.value}}">{{inputValue.label | translate}}</label>

                                <input type="password" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                    placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.value}}">

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.value,'password')?.touched || passwordFormSubmitted) && returnFormKey(inputValue.value,'password')?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>
                            </div>

                            <div class="btnGroupSave">
                                <button nbButton outline status="primary" (click)="goBack()" style="width: 6rem;">
                                    <span>{{"Cancel" | translate }}</span>
                                </button>
                                <button nbButton status="primary" class="btnSave" style="width: 6rem;" type="submit">{{"Save" |
                                    translate }}</button>

                            </div>

                        </form>

                    </div>

                    <div *ngSwitchCase="'captcha'">

                        <form [formGroup]="captchaForm">

                            <div class="form-group" *ngFor="let inputValue of model.captcha.input">
                                <div [ngSwitch]="inputValue.type">
                                    <div *ngSwitchCase="'checkbox'">
                                        <label for="{{inputValue.value}}"
                                            *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'checkbox'">
                                            <nb-checkbox class="checkbox" formControlName="{{inputValue.name}}"
                                            (ngModelChange)="captchaDisabledFields($event,inputValue)"
                                            [class.disabledSelect]="inputValue.readOnly">
                                            </nb-checkbox>
                                            <span>{{inputValue.label | translate}}</span>
                                        </label>
                                    </div>
                                    <div *ngSwitchCase="'select'" class="nbselectGroup">
                                        <label for="{{inputValue.value}}">{{inputValue.label | translate}}</label>
                                        <select class="form-control" formControlName="{{inputValue.name}}"
                                            (ngModelChange)="captchaDisabledFields($event,inputValue)"
                                            [class.disabledSelect]="inputValue.readOnly">

                                            <option *ngFor="let o of inputValue.data.static"
                                                value="{{o[inputValue.options.value]}}" selected="inputValue.name">
                                                {{o[inputValue.options.display] | translate}}</option>

                                            <option [ngValue]="null" *ngIf="inputValue.options.none">None</option>

                                            <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                                value="{{o.id}}" selected="inputValue.name">
                                                {{o.title}}</option>
                                        </select>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <label for="{{inputValue.value}}">{{inputValue.label | translate}}</label>

                                        <input type="{{inputValue.type}}" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                            placeholder="{{inputValue.placeHolder | translate}}"
                                            formControlName="{{inputValue.value}}"
                                            autocomplete="{{inputValue.autoComplete ? inputValue.autoComplete : 'true'}}"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="btnGroupSave">
                                <button nbButton outline status="primary" (click)="goBack()" style="width: 6rem;">
                                    <span>{{"Cancel" | translate }}</span>
                                </button>
                                <button nbButton status="primary" class="btn btn-info btnSave" style="width: 6rem;" type="submit"
                                    [disabled]="!captchaForm.valid" (click)="submitCaptcha()">{{"Save" | translate
                                    }}</button>

                            </div>

                        </form>

                    </div>

                    <ngx-model *ngSwitchCase="'relation'" [model]="subModel[tab.field]" [subModelID]="activeID"
                        class="internalCard">
                    </ngx-model>

                    <ngx-model-server-side *ngSwitchCase="'relation_server_side'" [model]="subModel[tab.field]" [subModelID]="activeID"
                        class="internalCard">
                    </ngx-model-server-side>

                    <nb-card *ngSwitchCase="'payload'" class="internalCard">
                        <nb-card-body class="example-items-col">
                            {{payload | json}}
                        </nb-card-body>
                    </nb-card>


                    <div *ngSwitchCase="'tabs'">

                        <tabset *ngIf="subModelAvailable && wizard">

                            <tab *ngFor="let modelTab of model.tabs[tab.tabs]" heading={{modelTab.title|translate}}
                                [ngSwitch]="modelTab.type">
                                <ngx-model *ngSwitchCase="'relation'" [model]="subModel[modelTab.field]"
                                    [subModelID]="activeID">
                                </ngx-model>

                                <ngx-model-server-side *ngSwitchCase="'relation_server_side'" [model]="subModel[modelTab.field]"
                                    [subModelID]="activeID">
                                </ngx-model-server-side>
                                <ngx-user-wizard *ngSwitchCase="'wizard'" [wizard]="wizard" [subModelID]="activeID"
                                    (confirmChange)="batchFunctionCalled()">
                                </ngx-user-wizard>
                            </tab>
                        </tabset>

                    </div>


                    <div class="form-group" *ngSwitchCase="'submit'">

                        <h6>{{tab.message | translate}}</h6>

                        <button nbButton class="btn btn-info singleBtn" style="width: auto;"
                            (click)="submitModel()"><span>{{tab.title | translate }}</span></button>

                    </div>


                  <div *ngSwitchCase="'custom'">
                    <ngx-two-factor-setting
                      *ngIf="tab.component == 'TwoFactorSettingComponent'"
                      [redirect_url]="model.reroute_url"
                    ></ngx-two-factor-setting>
                    <ngx-ldap-logs *ngIf="tab.component == 'LdapLogsComponent'"></ngx-ldap-logs>
                    <ngx-theme-settings *ngIf="tab.component == 'ThemeSettingsComponent'" [redirect_url]="model.reroute_url"></ngx-theme-settings>
                </div>
                    <div class="form-group" *ngSwitchCase="'import'">

                        <h6>{{tab.message | translate}}</h6>

                        <button nbButton class="btn btn-info singleBtn" style="width: auto;"
                            (click)="importModel()"><span>{{"Import" | translate }}</span></button>

                    </div>

                    <div class="form-group" *ngSwitchCase="'send'">

                        <h6>{{tab.message | translate}}</h6>

                        <button nbButton class="btn btn-info singleBtn" style="width: auto;"
                            (click)="showModal(send)"><span>{{tab.title | translate }}</span></button>

                    </div>

                    <div class="form-group" *ngSwitchCase="'sendPost'">

                        <h6>{{tab.message | translate}}</h6>

                        <button nbButton class="btn btn-info singleBtn" style="width: auto;"
                            (click)="showModal(sendPost)"><span>{{tab.title | translate }}</span></button>

                    </div>

                    <div class="form-group" *ngSwitchCase="'execute'">

                        <h6>{{tab.message | translate}}</h6>

                        <button nbButton class="btn btn-info singleBtn" style="width: auto;"
                            (click)="bindModel()"><span>{{tab.title | translate }}</span></button>

                    </div>

                    <ngx-training-mail-settings *ngSwitchCase="'training_mail_settings'" [subModelID]="activeID"
                        [type]="model.name" [redirect_url]="model.reroute_url" (is_child_dirtry)="child_status($event)">
                    </ngx-training-mail-settings>
                    <ngx-phishing-mail-settings *ngSwitchCase="'phishpot_mail_settings'" [subModelID]="activeID"
                        [type]="model.name" (is_child_dirtry)="child_status($event)">
                    </ngx-phishing-mail-settings>

                    <ngx-sms-campaign-settings
                        *ngSwitchCase="'sms_campaign_settings'"
                        [subModelID]="activeID"
                        [type]="model.name"
                        [redirect_url]="model.reroute_url"
                        (is_child_dirtry)="child_status($event)">
                    </ngx-sms-campaign-settings>

                    <div *ngSwitchCase="'disabled'">
                        <h5>{{tab.disabled_message | translate}}</h5>
                    </div>


                </tab>


            </tabset>

            <!-- comment -->
        </nb-card-body>
    </nb-card>
</div>
