@import '../../../@theme/styles/themes.scss';
@include nb-install-component() {
    nb-card-header.newModelHeader {
        color: nb-theme(color-primary);
      }
    ::ng-deep .tabs .nav-tabs .nav-link {
        background-color: nb-theme(tabset-background-color);
        color: nb-theme(tabset-tab-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link.active {
        color: nb-theme(tabset-tab-active-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link.active::before {
        background-color: nb-theme(tabset-tab-active-underline-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link:hover {
        color: nb-theme(tabset-tab-hover-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link:hover::before {
        background-color: nb-theme(tabset-tab-hover-underline-color);
    }
     ::ng-deep .nav-tabs .nav-link.active::before {
         background-color: nb-theme(tabset-tab-focus-underline-color);
     }

    table.table.table-hover {
        color: nb-theme(text-basic-color);  /* This will change the color when you switch the theme */
    }
    .table-hover tbody tr:hover {
        background-color: nb-theme(color-basic-200);
        color: nb-theme(text-basic-color);
    }
    .guardModal nb-card-header {
        padding-bottom: 0;
    }
    .guardModal {
        padding: 1.5rem;
        margin-bottom: 0;
    }
    .checkbox {
        margin-right: -1rem;
        vertical-align: middle;
    }
    .disabledSelect {
        background-color: #f4f5f8;
    }

    .backBtn {
        color: nb-theme(back-btn-icon-color) !important;
        font-size: 2.25rem;
        @include nb-rtl(transform, scaleX(-1));
    }

    ::ng-deep .tabs > ul {
        @media screen and (max-width: 992px) {
            @include nb-ltr(padding-right, 40px !important);
            @include nb-rtl(padding-left, 40px !important);
        }
    }

    .btnGroupSave {
        padding-bottom: 1rem;
        text-align: end;
        & > * {
        margin: 0.5rem;
        }
        margin-bottom: 1rem;
    }
    .singleBtn {
        @include nb-ltr(float, right !important);
        @include nb-rtl(float, left !important);
    }

    // .guardModal nb-card-header {
    //     padding-top: 40px !important;
    // }

    .btnGroupModal {
        button {
            margin: 0.5rem;
        }
    }
    .btnSave {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
    }
    label {
        font-weight: 600;
    }
    input {
        font-weight: 400 !important;
    }
    .backBtn:hover {
        cursor: pointer;
    }
    ::ng-deep .form-check-label {
        margin-right: 2rem;
    }
    .nbselectGroup select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }
    
}

::ng-deep {
    .inner-circle, .outer-circle {
        right: 0;
    }
}

// .signleModel {
//     max-width: 100%;
//     max-height: 85vh;
// }

.nopadding {
    position: relative;
}
.btnGroup {
    border-top: 1px solid #edf1f7;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.guardlogModal {
    max-height: calc(100% - 1px);
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    max-width: 100%;
    z-index: 1101;
    padding: 1rem;
}

.dialogModal {
    max-width: 100%;
    max-height: 85vh;
}

.dialogGroup {
    border-top: 1px solid #edf1f7;
    padding-top: 1rem;
}

::ng-deep nb-tooltip {
    border: 1px solid grey;
}
.internalCard {
    box-shadow: none !important;
}

@media screen and (max-width: 767px) {
    .internalCard {
        width: 260px;
    }
    ::ng-deep .tabset {
        overflow-y: hidden;
    }
    // .btnGroupModal {
    //     margin-left: 0 !important;
    //     margin-right: 0 !important;
    // }
    .nopadding {
        position: relative;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
    nb-tab {
        padding: 0 !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .dialogModal {
        width: auto;
    }

    ::ng-deep .tabs .nav.nav-tabs {
        display: flex;
        flex-flow: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
    
        .nav-item {
            white-space: nowrap;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .addMobile {
        display: none;
    }
}

::ng-deep .tabs > ul {
    padding-right: 0 !important;
}

