@import '../@theme/styles/themes';

@media screen and (max-width: 1200px) {
  ::ng-deep nb-sidebar.compacted.start.fixed ~ .content {
    margin-left: 0 !important;
    margin-right:  0 !important;
  }
  ::ng-deep nb-sidebar.compacted, ::ng-deep nb-sidebar.compacted .main-container {
      width: 0;
      display: none;
    }
  }

::ng-deep nb-sidebar.compacted, ::ng-deep nb-sidebar.compacted .main-container {
  width: 7.5rem;
}

::ng-deep nb-sidebar.compacted nb-menu {
  width: 9.5rem;
}

::ng-deep nb-sidebar.compacted nb-menu .menu-item .menu-icon {
  margin: 0 auto;
  display: block;
}
::ng-deep nb-sidebar.compacted nb-menu .menu-items .menu-item a span.menu-title {
  width: 100%;
  padding: 0 !important;
  text-align: center;
}
::ng-deep nb-sidebar.compacted nb-menu .menu-item {
  border-bottom: none;
  padding-bottom: 1rem;
}
::ng-deep nb-sidebar.compacted nb-menu  .menu-items  .menu-item  a {
  display: block;
}
::ng-deep nb-sidebar.compacted nb-menu  .menu-items  .menu-item  a  span.menu-title {
  display: block;
}
::ng-deep nb-sidebar.compacted nb-menu .menu-items > .menu-item.menu-group {
  color: #8f9bb3;
  padding: 0 1.2rem;
  width: 100%;
}


@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep [dir='rtl'] .closePopUpBtn {
  float: left;
}
::ng-deep [dir='ltr'] .closePopUpBtn {
  float: right;
}


