@import '../../../@theme/styles/themes.scss';
@include nb-install-component {
  .backgroundColor-dark {
    background-color: nb-theme(card-background-color);
  }
}
.passed-bg {
  position: absolute;
  width: 100%;
}

.backgroundColor-dark {
  background-color: red;
}

.passed-score {
  font-size: 40px;
  margin-top: 165px;
  -webkit-margin-start: -38px;
  font-weight: bold;
}

.grid {
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-content: center;
  height: 80vh;
  gap: 0.5rem;
}

.btn {
  margin: 0.5rem;
}

.btn-centered {
  align-self: center;
}
