<div [ngSwitch]="viewToShow">
  <div *ngSwitchCase="ViewToShowEnum().NoQuestions" class="grid backgroundColor-dark">
    <div>
      <h3>{{'EXAM_STATUS_ERROR_1' | translate}}</h3>
    </div>
    <div>
      <button nbButton class="pr-3 pl-3 btn-primary-color btn-centered"
        (click)="goHome()">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().WatchLessons" class="grid backgroundColor-dark">
    <div>
      <h3>{{'EXAM_STATUS_ERROR_2' | translate}}</h3>
    </div>
    <div>
      <button nbButton class="pr-3 pl-3 btn-primary-color btn-centered"
        (click)="goHome()">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().FinishQuizzes" class="grid backgroundColor-dark">
    <div>
      <h3>{{'EXAM_STATUS_ERROR_3' | translate}}</h3>
    </div>
    <div>
      <button nbButton class="pr-3 pl-3 btn-primary-color btn-centered"
        (click)="goHome()">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().SucceedQuizzes" class="grid backgroundColor-dark">
    <div>
      <h3>{{'EXAM_STATUS_ERROR_4' | translate}}</h3>
    </div>
    <div>
      <button nbButton class="pr-3 pl-3 btn-primary-color btn-centered"
        (click)="goHome()">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().Succeeded" class="container d-flex flex-column p-lg-5 backgroundColor-dark">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_SUCCESS_MSG' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="mb-3 exam_succeeded">
        <span [ngClass]="right_to_left? 'exam_success_text_ar' : 'exam_success_text'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50"
            [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_SCORE_MSG' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_success_score_ar' : 'exam_success_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{score }}%</span>
        </span>
      </div>
      <button nbButton class="pr-3 pl-3 mt-3 btn-primary-color" (click)="goHome()"
        [ngClass]="right_to_left? 'gesstwo':''">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
    <div class="container" style="margin-top: 10px;">
      <h4 class="text-center">{{'EXAM_STATUS_SEE_ANSWERS_MSG' | translate}}</h4>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().Failed" class="container d-flex flex-column p-lg-5 backgroundColor-dark">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_FAILED_MSG' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="exam_failed">
        <span [ngClass]="right_to_left? 'exam_fail_text_ar' : 'exam_fail_text'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50"
            [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_SCORE_MSG' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_fail_score_ar' : 'exam_fail_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{score }}%</span>
        </span>
      </div>
      <button nbButton class="pr-3 pl-3 mt-3 btn-primary-color" (click)="goHome()"
        [ngClass]="right_to_left? 'gesstwo':''">
        {{'EXAM_STATUS_HOME_BUTTON' | translate}}
      </button>
    </div>
    <div class="container" style="margin-top: 10px;">
      <h4 class="text-center">{{'EXAM_STATUS_SEE_ANSWERS_MSG' | translate}}</h4>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().TryAgain" class="container d-flex flex-column p-lg-5 backgroundColor-dark">
    <div class="container w-75">
      <h3 class="text-center" [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_FAILED_MSG' | translate}}</h3>
    </div>
    <div class="mt-3 text-center">
      <div class="exam_failed">
        <span [ngClass]="right_to_left? 'exam_fail_text_ar' : 'exam_fail_text'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50"
            [ngClass]="right_to_left? 'gesstwo':''">{{'EXAM_STATUS_SCORE_MSG' | translate}}</span>
        </span>
        <span [ngClass]="right_to_left? 'exam_fail_score_ar' : 'exam_fail_score'">
          <span style="font-size: xx-large;" class="font-weight-bold text-black-50">{{score }}%</span>
        </span>
      </div>
      <div>
        <button nbButton status="primary" class="pr-3 pl-3 m-2 btn-primary-color" (click)="goHome()"
          [ngClass]="right_to_left? 'gesstwo':''">
          {{'EXAM_STATUS_HOME_BUTTON' | translate}}
        </button>
        <button nbButton status="primary" class="pr-3 pl-3 m-2 btn-primary-color" (click)="onTryAgain()"
          [ngClass]="right_to_left? 'gesstwo':''">
          {{'EXAM_STATUS_TRY_AGAIN_BUTTON' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="ViewToShowEnum().Hidden" id="hidden"></div>
  <div *ngSwitchDefault></div>
</div>
