.logo {
  display: block;
  margin: 0 auto;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 1px;
}
.form-signin input[type="password"]
{
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 1px;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.btn-primary {
    background: #4B8EFA;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    width: 400px;
}

.btn-primary {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #4888ef;
    *background-color: #4888ef;
    background-image: -moz-linear-gradient(top, #4C8EFB, #4888ef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4C8EFB), to(#4888ef));
    background-image: -webkit-linear-gradient(top, #4C8EFB, #4888ef);
    background-image: -o-linear-gradient(top, #4C8EFB, #4888ef);
    background-image: linear-gradient(to bottom, #4C8EFB, #4888ef);
    background-repeat: repeat-x;
    border-color: #4888ef;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C8EFB', endColorstr='#4888ef', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.btn-sample.disabled,
.btn-sample[disabled] {
    color: #FFFFFF;
    background-color: #4888ef;
    *background-color: #003bb3;
}

.btn-sharp {
    border-radius: 3px;
}

#dialog{
  display: none;}

#dialog > h2{
  color: #dd4b39;
  margin: .5em 0;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;

}
