<div *ngIf="this.showLoginForm">

  <div class="form-group ">
    <label for="username">{{'Username' | translate}}</label>
    <input type="text" class="form-control" id="username" placeholder="{{'Enter user name' | translate }}"
           autocomplete="off"
           [(ngModel)]="user.username"
           (keyup.enter)="login()"
           (change)="handleUserNameChange()"
           >
  </div>

  <div class="form-group ">
    <label for="password">{{'Password' | translate}}</label>
    <input type="password" class="form-control" id="password" placeholder="{{'Enter password' | translate }}"
           autocomplete="off"
           [(ngModel)]="user.password"
           (keyup.enter)="login()"
           >
  </div>

  <div class="form-group  texting-align mb-0">
    <button class="border-0 bg-transparent" (click)="gotoResetPassword()">
      {{'Forget password?' | translate }}
    </button>
  </div>

</div>
  <div *ngIf="this.twoFactorActive">
    <div class="form-group ">
      <label for="twoFactorCode">{{ 'two-factor authentication prompt' | translate }}</label>
      <input type="text" class="form-control" name="twoFactorCode" placeholder="{{ 'Verification Code' | translate}}"
            [(ngModel)]="twoFactorCode"
            (keyup.enter)="twoFactorLogin()"
            >
    </div>

    <div class="form-group text-center mt-3 d-flex justify-content-between">
      <button class="btn btn-info col-5 text-uppercase" (click)="twoFactorLogin()" [disabled]="! this.submitButtonEnabled">
        {{ 'Verify' | translate }}
      </button>

      <button class="btn btn-info col-5 text-uppercase mx-2" (click)="resendCode()" [disabled]="this.tokenLifeTime > 0">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="this.tokenLifeTime > 0"></span>
        <span *ngIf="this.tokenLifeTime > 0"> {{ tokenLifeTime }} </span>
        <span *ngIf="this.tokenLifeTime == 0"> {{ 'resend' | translate }} </span>
      </button>
    </div>
  </div>

  <div class="alert alert-success mt-2 w-100" *ngIf="successMessage && resend">
    {{ successMessage | translate }}
  </div>
  <div class="form-group text-center mt-3 d-flex justify-content-between" *ngIf="completed && this.twoFactorActive">
    <div class="alert alert-success mt-2 w-100" *ngIf="successMessage">
      {{ successMessage | translate }}
    </div>
  </div>

  <div class="alert alert-danger mt-2 w-100" *ngIf="errorMessage && this.twoFactorActive">
    {{ 'E' + errorMessage | translate }}
  </div>

  <div *ngIf="this.showPhoneNumberUpdate && this.enableUserUpdate">
    <div class="form-group">
      <label for="phoneNumber"> {{ 'phone_number_fill_message' | translate }}</label>
      <input type="text" class="form-control" name="phoneNumber"
            [(ngModel)]="phoneNumber"
            (keyup.enter)="updatePhoneNumber()"
      />

      <div class="form-group text-center mt-3">

        <button class="btn btn-info col-4 text-uppercase" (click)="updatePhoneNumber()">
          {{ 'Update' | translate }}
        </button>
        <span class="col-2"></span>
        <button class="btn btn-info col-4 text-uppercase" (click)="cancelUpdate()">
          {{ 'cancel' | translate }}
        </button>
      </div>

      <div class="alert alert-success mt-2" *ngIf="successMessage">
        {{ successMessage | translate }}
      </div>

      <div class="alert alert-danger mt-2" *ngIf="errorMessage">
        {{ 'E' + errorMessage | translate }}
      </div>
    </div>
  </div>

  <div *ngIf="this.showNoMobilePhone && !this.enableUserUpdate">
  <div class="form-group">

    <div class="alert alert-warning mt-2">
      {{ 'E117' | translate }}
    </div>

    <div class="form-group text-center mt-3">
      <button class="btn btn-info col-4 text-uppercase" (click)="this.showLogin()">
        {{ 'Return' | translate }}
      </button>
    </div>

  </div>
</div>

  <div class="form-group" *ngIf="this.showLoginForm">
    <ngx-captcha
      *ngIf="this.captchaStatus"
      usage="login"
      username="{{this.user.username}}"
      (submit)="this.captchaSubmitted($event)"
      (refresh)="this.resetUserLoginStatus()"
    ></ngx-captcha>
  </div>

  <div class="form-group text-center" *ngIf="this.showLoginForm">
    <button nbButton status="primary" class="btn btn-info col-5 text-uppercase" (click)="login()" [disabled]="captchaStatus && !submitButtonEnabled">
      {{'sign in' | translate }}
      <span class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true" *ngIf="logging_in"></span>
    </button>
    <div class="alert alert-warning mt-2" *ngIf="error">
      <span *ngIf="errorMessage && !isCaptchaError">{{'E' + errorMessage | translate }} </span>
      <span *ngIf="!errorMessage && !isCaptchaError">{{'Error in Username or Password' | translate }}</span>
      <span *ngIf="isCaptchaError">{{captchaErrorMessage | translate }}</span>
    </div>
    <div class="alert alert-warning mt-2" *ngIf="!mailError">
      <span>{{'Error in sending login email, now redirecting to landing page' | translate}}</span>
    </div>
  </div>
