@import '../../@theme/styles/themes';


@include nb-install-component() {
      .texting-align {
        background-repeat: no-repeat;
        @include nb-ltr(text-align,right);
        @include nb-rtl(text-align,left);
      }

      .col-5 {
        @include nb-rtl(max-width, 9rem);
      }

      label {
        color: nb-theme(text-color-label);
      }
    }

.mb-0 {
  margin-bottom: 0;
}
