.captcha-img {
  margin-top: 0;
  margin-bottom: 16px;
  width: 40%;
  min-width: 160px;
  :host-context([dir='rtl'])  & {
    margin-left: 10px;
  }
  :host-context([dir='ltr'])  & {
    margin-right: 10px;
  }
 // @media screen and (max-width: 992px) {
   
 // }
}

.correct {
 color : darkgreen;
}

.error {
 color : darkred;
}

p {
 margin: 10px;
}

.center {
 width: 100%;
 text-align: center;
}

.online-captcha-wrapper {
 width: 304px;
 height: 84px;
 margin: auto;
}

.message {
 margin: 10px 0;
}

.icon {
 background-color: #ffffff !important;
 border-radius: 0.25rem !important;
 outline: none;
 box-shadow: none;
 border: 1px solid #17a2b8;
 padding: 5px 14px;
}

nb-icon.status-primary,
.refresh-outline {
 color: #1e76a3 !important;
}
