<div class="mt-3">
  <div class="center-" *ngIf="this.type === 'offline' && this.offlineCaptchaInfo">
    <img class="captcha-img" src="{{this.offlineCaptchaInfo.img}}" />
    <button (click)="this.reloadOfflineCaptcha()" class="icon">
      <nb-icon icon="refresh-outline" status="primary"></nb-icon>
    </button>
    <input class="form-control custom-style" name="token" [(ngModel)]="offlineUserInput" (input)="verifyOffline($event)"
      autocomplete="off" required />
  </div>
  <div class="online-captcha-wrapper" *ngIf="this.type === 'online' && this.site_key !== ''">
    <re-captcha (resolved)="verifyOnline($event)" siteKey="{{this.site_key}}"></re-captcha>
  </div>
  <p [ngClass]="{
      'error' : this.isError,
      'correct' : !this.isError
    }" class="message center"
    *ngIf="!this.hideError">
    {{ this.message | translate }}
  </p>
</div>