<div class="unity-container unity-desktop">
  <canvas
    class="unity-canvas"
    [style.maxHeight]="'50vh'"
    #unityCanvas
    style="width: 100%"
  ></canvas>
  <div id="unity-loading-bar" class="unity-loading-bar">
    <div class="unity-logo"></div>
    <div class="unity-progress-bar-empty">
      <div id="unity-progress-bar-full" class="unity-progress-bar-full"></div>
    </div>
  </div>
  <div class="unity-footer" *ngIf="showFooter">
    <div class="unity-webgl-logo"></div>
    <div class="unity-fullscreen-button"></div>
    <div class="unity-build-title">Interactive Lessons Player</div>
  </div>
</div>
