body {
  padding: 0;
  margin: 0;
}
.unity-container {
  position: relative;
}
.unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
.unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
.unity-canvas {
  background: #231f20;
}
.unity-mobile .unity-canvas {
  width: 100%;
  height: 100%;
}
.unity-loading-bar {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.unity-logo {
  width: 100px;
  height: 100px;
  background: url('/ui/assets/interactive-lessons-player/TemplateData/unity-logo-dark.png') no-repeat center;
  background-size: contain;
}
.unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url('/ui/assets/interactive-lessons-player/TemplateData/progress-bar-empty-dark.png') no-repeat center;
}
.unity-progress-bar-full {
  width: 0%;
  height: 18px;
  background: url('/ui/assets/interactive-lessons-player/TemplateData/progress-bar-full-dark.png') no-repeat center;
}
.unity-footer {
  position: relative;
}
.unity-mobile .unity-footer {
  display: none;
}
.unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url('/ui/assets/interactive-lessons-player/TemplateData/webgl-logo.png') no-repeat center;
}
.unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
.unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url('/ui/assets/interactive-lessons-player/TemplateData/fullscreen-button.png') no-repeat center;
}
