@import '../@theme/styles/themes';

@include nb-install-component() {

  @media screen and (min-width: 768px) {
    .auth-img {
      background-repeat: no-repeat;
      @include nb-ltr(background-image, url('/ui/assets/awr/images/auth_bg.png'));
      @include nb-ltr(background-position, top right);
      @include nb-rtl(background-image, url('/ui/assets/awr/images/auth_bg_arabic.png'));
      @include nb-rtl(background-position, top left);
      background-size: 60%;
    }
  }

  @media screen and (max-width: 767px) {
    .auth-img {
      background-color: #f2f3f5;
      background-repeat: no-repeat;
      background-image: url('/ui/assets/awr/images/auth_bg_mobile_small.png');
      @include nb-ltr(background-position, bottom right);
      @include nb-rtl(background-position, bottom left);
    }
  }

  .lang {
    text-decoration: none;
    color:nb-theme(user-name-text-color);
    font-size: larger;
  }

}



.login-image {
  object-fit: contain;
  margin: 0;
  position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

.login-logo {
  object-fit: contain;
  margin: 0;
  position: absolute;
  vertical-align: bottom;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}


.middle {
  margin-top: 20%;
}

::ng-deep .layout-container {
  background-color: white;
}

.padding-10 {
  padding-top: 10%;
}

.Custom-card-img-overlay {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
}


.login-area-container {
  min-height: calc(100vh - 100px);
}


