<nb-layout layout-padding="0" *ngIf="this.currentLanguage">
  <nb-layout-column class="auth-full-height auth-img">
    <!-- Language -->
    <div class="d-flex flex-row-reverse">
      <!-- <div class="col-md-6 col-sm-12 text-right"> -->
      <button class="border-0 bg-transparent ml-2 mr-2" (click)="changeLanguage()">
        <span class="lang">{{ currentLanguage === 2 ? 'English' : 'عربي' }}</span>
      </button>
      <!-- </div> -->
    </div>
    <!-- <div class="test border" style="height: 300px;">
      <div class="d-flex border justify-content-center align-items-center" style="height: 300px;">
        <div class="d-flex border">
          test text
        </div>
      </div>
    </div> -->
    <div class="row flex-center-sm- align-items-center login-area-container">

      <div class="col-md-6 col-sm-12 padding-10-">
        <div class="row d-flex align-items-center">

          <div class="col-md-2 hide-mobile"></div>
          <div class=" p-sm-1 col-sm-10 ml-2 mr-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>


    </div>


  </nb-layout-column>
</nb-layout>
