@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component {
 .card .lesson-widget {
  background-color: nb-theme(background-basic-color-1);
 }
  .description {
    color: nb-theme(layout-text-color);
  }
  .caption {
    color: nb-theme(text-hint-color);
  }
  .phishingLicenseMessage {
    background-color: nb-theme(color-danger-700);
  }
  .border-right {
    border-right-color: nb-theme(menu-item-divider-color) !important;
  }
  .border-left {
    border-left-color: nb-theme(menu-item-divider-color) !important;
  }
  hr {
    border-top-color: nb-theme(menu-item-divider-color) !important;
  }

  .lessons-completed {
    color: nb-theme(lessons-completed-main-color);
    fill: nb-theme(lessons-completed-bg-color) !important;
  }
  
  .lessons-completed svg path {
    fill: nb-theme(lessons-completed-main-color);
  }
  
  .lessons-remaining {
    color: nb-theme(lessons-remaining-main-color);
    fill: nb-theme(lessons-remaining-bg-color) !important;
  }
  
  .lessons-remaining svg path {
    fill: nb-theme(lessons-remaining-main-color);
  }
  
  .quizzes-remaining {
    color: nb-theme(quizzes-remaining-main-color);
    fill: nb-theme(quizzes-remaining-bg-color) !important;
  }
  
  .quizzes-remaining svg path {
    fill: nb-theme(quizzes-remaining-main-color);
  }
  
  .campaign-date-img {
    fill: nb-theme(date-bg-color);
  }
  
  .campaign-date-img svg path {
    fill: nb-theme(date-main-color);
  }
  * {
    font-family: nb-theme(font-family-primary), Tahoma, Verdana, sans-serif !important;
  }
}

.vertical-line {
  border-left: 1px solid grey;
}

.card {
  min-height: 280px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-container {
  flex: 0 1 15%;
  text-align: center;
  height: fit-content;
}

.description {
  flex: 0 1 85%;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: auto;
  text-align: start;
}

.campaign-date {
  display: inline-block;
  width: 7rem;
}


@media screen and (max-width: 575px) {
  .border-hide-mobile {
    border: none !important;
  }
}

.card.campaign-exam-full-height-md {
  > .row:first-child {
    .lesson-widget:nth-child(1),
    .lesson-widget:nth-child(2) {
      @media screen and (max-width: 575px) {
        border-bottom: 1px solid #dee2e6 !important;
      }
    }
  }
}
.lesson-widget {
  padding: 0 15px;
}

 .campaign-header {
  padding-top: 80px;
}
