<div>
  <div id="{{campaignId}}" style="padding-top: 20px; margin-top: -70px; margin-bottom: 70px"></div>
  <h3 id="campaignTitle">{{ campaignTitle }}</h3>
  <div class="row show-grid">
    <div class="col-md-9 col-sm-12">
      <nb-card class="card campaign-exam-full-height-md">
        <nb-card-header class="row">
          <div class="lesson-widget border-{{right_left}}">
            <div class="img-container lessons-completed">
              <svg viewBox="0 0 48 48" width="20px" height="20px">
                  <rect width="48px" height="48px" rx="10px" />
                  <path d="M36 14l-2.83-2.83-12.68 12.69 2.83 2.83L36 14zm8.49-2.83L23.31 32.34 14.97 24l-2.83 2.83L23.31 38l24-24-2.82-2.83zM.83 26.83L12 38l2.83-2.83L3.66 24 .83 26.83z"/>
              </svg>
              <div id = "campaignLessonsNumber" class="campaign-numeric-indicator">
                {{ campaignLessonsCompleted }}
              </div>
            </div>
            <div class="description">
              {{'HomePageS1' | translate}}
              <div class="caption hide-mobile">{{'HomePageS2' | translate}}</div>
            </div>
          </div>
          <div class="lesson-widget border-{{right_left}} border-hide-mobile">
            <div class="img-container lessons-remaining">
              <svg viewBox="0 0 48 48" width="20px" height="20px">
                <rect width="48" height="48" rx="10" />
                <path d="m31.375,10.6875l-14.75,0c-1.358229,0 -2.458333,1.191469 -2.458333,2.6625l0,21.3c0,1.471031 1.100104,2.6625 2.458333,2.6625l14.75,0c1.358229,0 2.458333,-1.191469 2.458333,-2.6625l0,-21.3c0,-1.471031 -1.100104,-2.6625 -2.458333,-2.6625zm-14.75,2.6625l6.145833,0l0,10.65l-3.072917,-1.996875l-3.072917,1.996875l0,-10.65z"></path>
              </svg>
              <div id = "campaignLessonsRemaining" class="campaign-numeric-indicator">
                {{ campaignlessonsRemaining }}
              </div>
            </div>
            <div class="description">
              {{'HomePageS3' | translate}}
              <div class="caption hide-mobile">{{'HomePageS42' | translate}}</div>
            </div>
          </div>
          <div class="lesson-widget border-{{right_left}}">
            <div class="img-container quizzes-remaining">
              <svg viewBox="0 0 48 48" width="20px" height="20px">
                <rect width="48" height="48" rx="10" />
                <path d="m33.348438,12.482287l-5.58903,0c-0.547551,-1.670068 -2.016592,-2.879428 -3.759408,-2.879428s-3.211856,1.20936 -3.759408,2.879428l-5.58903,0c-1.475718,0 -2.670982,1.288544 -2.670982,2.879428l0,20.155999c0,1.590884 1.195265,2.879428 2.670982,2.879428l18.696876,0c1.475718,0 2.670982,-1.288544 2.670982,-2.879428l0,-20.155999c0,-1.590884 -1.195265,-2.879428 -2.670982,-2.879428zm-9.348438,0c0.73452,0 1.335491,0.640673 1.335491,1.439714s-0.600971,1.439714 -1.335491,1.439714s-1.335491,-0.640673 -1.335491,-1.439714s0.600971,-1.439714 1.335491,-1.439714zm2.670982,20.155999l-9.348438,0l0,-2.879428l9.348438,0l0,2.879428zm4.006473,-5.758857l-13.354912,0l0,-2.879428l13.354912,0l0,2.879428zm0,-5.758857l-13.354912,0l0,-2.879428l13.354912,0l0,2.879428z"></path>
              </svg>
              <div id = "campaignQuizes" class="campaign-numeric-indicator">
                {{ campaignQuizesRemainig }}
              </div>
            </div>
            <div class="description">
              {{'HomePageS5' | translate}}
              <div class="caption hide-mobile">{{'HomePageS6' | translate}}</div>
            </div>
          </div>
          <div class="lesson-widget">
            <div class="img-container campaign-date-img">
              <svg viewBox="0 0 48 48" width="20px" height="20px">
                <rect width="48" height="48" rx="10" />
                <path d="m16.029915,22.413461zm19.128205,-11.105769l-1.594017,0l0,-3.173077l-3.188034,0l0,3.173077l-12.752137,0l0,-3.173077l-3.188034,0l0,3.173077l-1.594017,0c-1.769359,0 -3.172094,1.427885 -3.172094,3.173077l-0.01594,22.211537c0,1.745192 1.418675,3.173077 3.188034,3.173077l22.316239,0c1.753419,0 3.188034,-1.427885 3.188034,-3.173077l0,-22.211537c0,-1.745192 -1.434615,-3.173077 -3.188034,-3.173077zm0,25.384614l-22.316239,0l0,-17.451922l22.316239,0l0,17.451922z"></path>
              </svg>
            </div>
            <div class="campaign-date">
              <div class="description">
                {{'HomePageS7' | translate}}
                <div
                  *ngIf="!startDate else StartDate"
                  class="caption" id = "campaignNoStartDate">{{'HomePageS8' | translate}}</div>
                <ng-template #StartDate>
                  <div class="caption" id = "campaignStartDate"> {{ startDate }}</div>
                </ng-template>
              </div>
              <div class="description">
                {{'HomePageS9' | translate}}
                <div *ngIf="!dueDate; else EndDate"
                  class="caption" id = "campaignNoEndDate">{{'HomePageS10' | translate}}</div>
                <ng-template #EndDate>
                  <div class="caption" id = "campaignEndDate"> {{ dueDate }}</div>
                </ng-template>
              </div>
            </div>
          </div>
        </nb-card-header>
        <hr  noshade>
        <div class="row" id = "campaignListingLessons">
          <ngx-campaign-listing-lessons class="col" [campaign]="campaign"></ngx-campaign-listing-lessons>
        </div>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-12" id = "campaignListingTest">
      <ngx-campaign-listing-test [campaign]="campaign"></ngx-campaign-listing-test>
    </div>
  </div>
</div>
