@import '../../../../@theme/styles/themes.scss';
@include nb-install-component() {
  .modal-content {
    background-color: nb-theme(card-background-color);
  }
}
.margined {
  margin: 30px 20px 10px;
}
.modal {
  display: block;
  margin: auto;
}

.buttons {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.prev {
  grid-column-start: 0;
}

.submit, .next {
  grid-column-start: 3;
}

.submit, .next, .prev {
  background-color: #5296d8;
  border-color: #5296d8;
  text-transform: none;
  color: #ffffff;
  padding: 0.625rem 1.125rem;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.disabled {
  background-color: grey;
  border-color: grey;
}
