<nb-card class="col-md-12 col-lg-12 col-xxxl-12 pl-0 pr-0">
  <nb-card-body>
    <form #signupForm="ngForm" (ngSubmit)="submitExam(signupForm)">
      <nb-stepper #stepper start orientation="horizontal" [linear]="true">
        <nb-step start *ngFor='let question of questions; let i= index' [stepControl]="signupForm">
          <h3 id="question-title" start [innerHTML]="question.title" style="font-size: 1.2rem !important;"></h3>
          <div start class="demo-items" *ngFor='let answer of question.answers'>
            <nb-radio-group name="question_{{question.id}}" start ngModel required>
              <nb-radio start value="{{answer.id}}" style="font-size: 1rem !important;">
                {{answer.title}}
              </nb-radio>
            </nb-radio-group>
          </div>
          <div class="buttons">
            <button class="prev" [disabled]='i === 0' [class.disabled]="i === 0" nbStepperPrevious>{{'S26' |
              translate}}</button>
            <button nbButton status="primary" class="next" *ngIf='i !== questions.length - 1' type="button" nbStepperNext
              (click)="checkEmpty(signupForm, question.id, $event)">{{'S27' | translate}}</button>
            <button nbButton status="primary" class="submit" *ngIf='i === questions.length - 1' type="submit"
              (click)="checkEmpty(signupForm, question.id, $event)">{{'S28' | translate}}</button>
          </div>
        </nb-step>
      </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>

<div *ngIf="showModal" class="modal" id="exampleModalCenter" display="block" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{ 'S34' | translate }}
      </div>
      <div class="modal-footer">
        <button nbButton status="primary" outline type="button" class="btn-testing btn-secondary-testing" (click)="shouldAllow(true, signupForm, $event)"
          style="margin: 5px;"> {{ 'S35' | translate }} </button>
        <button nbButton status="primary" type="button" class="btn-testing btn-primary-testing" (click)="shouldAllow(false, signupForm, $event)"
          style="margin: 5px;"> {{ 'S36' | translate }} </button>
      </div>
    </div>
  </div>
</div>