@import '../@theme/styles/themes.scss';
@include nb-install-component() {

.header-container {
    .logo-container {
        display: flex;
        align-items: center;
        height: nb-theme(header-logo-height);
        width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
        ngx-logo {
            height: 100%;
            display: flex;
        }
      }
  
}
}
