<nb-layout windowMode>
    <nb-layout-header fixed>
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="header-container">
            <div class="logo-container">
            <ngx-logo></ngx-logo>
        </div>
    </div>
    <div class="header-container">
            <ngx-language-view [currentLanguage]="this.language" (changeLanguage)="this.changeLanguageHandler($event)">
            </ngx-language-view>
    </div>
    </div>
    </nb-layout-header>
    <nb-layout-column>
        <router-outlet (activate)="onRouteLoaded($event)"></router-outlet>
    </nb-layout-column>
    <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer>
</nb-layout>
