@import '../../../../@theme/styles/themes.scss';
@include nb-install-component() {
  .modal-content {
    background-color: nb-theme(card-background-color);
  }
}

.margined {
  margin: 30px 20px 10px;
}
.modal {
  display: block;
  margin: auto;
}

.buttons {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.prev {
  grid-column-start: 0;
}

.submit, .next {
  grid-column-start: 3;
}

.disabled {
  background-color: grey;
  border-color: grey;
}
