<ngx-spinner *ngIf="!dataListReady"></ngx-spinner>

<nb-card size="medium">
    <nb-card-header>
        {{wizard.title | translate}}
    </nb-card-header>
    <nb-card-body>
        <nb-stepper class="stepperFit" orientation="vertical" #stepper disableStepNavigation="{{userMadeSearch ? false : true}}">
            <nb-step *ngFor="let step of wizard.steps" label="{{step.title | translate}}" [ngSwitch]="step.type">

              <form [formGroup]="userGroup" *ngSwitchCase="'query'">

                    <div formArrayName="sql_data" *ngFor="let group of userGroup.get('sql_data').controls; let x=index">

                        <div class="form-group" [formGroupName]="x">

                            <div class="row btnContainer">

                                <div class="form-group">

                                    <label class="form-check-label">
                                        {{"AND" | translate }}
                                    </label>

                                    <input class="form-check-input" type="radio"
                                        value="{{group.get('condition').value}}"
                                        [checked]="group.get('condition').value == 'AND' ? true: false"
                                        (click)="changeSearchParam('AND', x)">

                                    <label class="form-check-label">
                                        {{"OR" | translate }}
                                    </label>

                                    <input class="form-check-input" type="radio"
                                        value="{{group.get('condition').value}}"
                                        [checked]="group.get('condition').value == 'OR' ? true: false"
                                        (click)="changeSearchParam('OR', x)">

                                </div>

                                <div class="rulesContainer">
                                    <button nbButton class="btn btn-info" (click)="addRule(x)">{{"Add rule" | translate
                                        }}</button>
                                </div>

                            </div>

                            <div formArrayName="sql_group"
                                *ngFor="let item of group.get('sql_group').controls; let i=index">

                                <div [formGroupName]="i">
                                <span class="text-danger erroMsg"
                                    *ngIf="(this.errorArray[i] === true && returnFormGroup(i).errors?.parameterAndValue)">
                                {{'Complete the rule'| translate}}
                                </span>
                                  <div class="form-group selectContainer">

                                        <nb-select   placeholder="None" formControlName="parameter">
                                          <nb-option (select)="resetRule(i)">None</nb-option>
                                          <nb-option (selectionChange)="resetOnParameter(i)"  *ngFor=" let o of wizard.steps[0]['multipleOptions']"
                                                value="{{o.id}}">
                                                {{o.label | translate}}</nb-option>
                                        </nb-select>

                                        <nb-select placeholder="operator" formControlName="operator"  *ngIf="item.get('parameter').value ">

                                            <nb-option (selectionChange)="resetOnOperator(i)"
                                                *ngFor="let operator of wizard.operators[item.get('parameter').value]"
                                                value="{{operator.id}}">
                                                {{operator.label | translate}}</nb-option>
                                        </nb-select>

                                      <nb-select placeholder="value" formControlName="values" *ngIf="item.get('parameter').value
                                        &&  (item.get('operator').value !== 'IN' && item.get('operator').value !== 'NOT IN')
                                        && (getType(item.get('parameter').value) === 'remote'
                                        || getType(item.get('parameter').value) === 'static')">

                                            <nb-option
                                                *ngFor="let d of remoteSelectedOptions[item.get('parameter').value]"
                                                value="{{d.id}}">
                                                {{d.title | translate}}</nb-option>
                                        </nb-select>
                                        <nb-select placeholder="parameter"   multiple formControlName="values" *ngIf="item.get('parameter').value
                                        &&  (item.get('operator').value === 'IN' || item.get('operator').value === 'NOT IN')
                                        && (getType(item.get('parameter').value) === 'remote'
                                        || getType(item.get('parameter').value) === 'static')">

                                            <nb-option
                                                *ngFor="let d of remoteSelectedOptions[item.get('parameter').value]"
                                                value="{{d.id}}">
                                                {{d.title | translate}}</nb-option>
                                        </nb-select>
                                        <input placeholder="value"  type="number" formControlName="values" nbInput min="0"
                                            *ngIf="item.get('parameter').value && getType(item.get('parameter').value) === 'number'">
                                      <button nbButton status="primary" class="btnDelete" (click)="resetRule(i)">{{"Reset" |
                                        translate }}</button>

                                        <button nbButton *ngIf="group.get('sql_group').controls.length>1" outline status="primary" class="btnDelete" (click)="deleteRule(x,i)">{{"Delete" |
                                            translate }}</button>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <button nbButton class="btn btn-info" (click)="submitWizardForm()">{{"Save & Continue" |
                        translate }}</button>

                </form>

                <div *ngSwitchCase="'result'">

                    <ng-container>

                        <table class="table table-hover">

                            <th *ngFor="let c of step.columns" class="sorting-icon"
                            (click)="c.sortable ? sortData(c.field) :false "
                             [ngClass]="{'clickable' : c.sortable}">
                                {{c.title}}
                                <nb-icon *ngIf="sortedColumn === c.field && c.sortDirection === 'asc'"
                                icon="arrow-upward-outline" ></nb-icon>
                            <nb-icon *ngIf="sortedColumn === c.field && c.sortDirection === 'desc'"
                                icon="arrow-downward-outline"></nb-icon>
                            </th>

                            <tr *ngFor="let data of searchResult | paginate: paginationConfig">

                                <td *ngFor="let c of step.columns">

                                    <span> {{data[c.field]}} </span>

                                </td>

                            </tr>

                            <tr>
                                <div *ngIf='searchResult?.length === 0'>
                                    <td>
                                        {{"No records found" | translate }}
                                    </td>
                                </div>
                            </tr>

                        </table>
                        <div class="footer">
                            <div class="paginationControl">
                                <div class="dataTables_info" aria-live="polite">
                                    <label> {{"Showing" | translate}} {{startIndex}} {{"to" | translate}}
                                        {{currentPageRows}} {{"of" |
                                        translate}} {{allSearchResult?.total}} {{"entries" | translate}} </label>
                                </div>
                                <div><label>{{ "Show" | translate }}
                                        <select style="width: 40%;"
                                            class="custom-select custom-select-sm form-control form-control-sm"
                                            (change)="selectChangeHandler($event)">
                                            <option
                                            *ngFor = "let perPage of perPagePaginationNumbers"
                                            [value]='perPage'
                                        >
                                            {{perPage}}
                                        </option>
                                        </select> {{ "entries" | translate }}</label></div>

                                <pagination-controls id="{{subModelID}}" responsive="true"
                                    (pageChange)="pageChanged($event)">
                                </pagination-controls>

                            </div>

                        </div>

                        <div class="row justify-content-end btmSubmitContainer">

                            <button nbButton class="btn btn-info btnSubmit" style="width: 6rem;"
                                (click)="searchSubmit(step.data.submit.read.url)"><span class="btnSpan">{{"Submit" |
                                    translate }} </span></button>

                            <button nbButton class="btn btn-info" style="width: 6rem;"
                                (click)="searchRemove(step.data.remove.read.url)"><span class="btnSpan">{{"remove" |
                                    translate }} </span></button>

                        </div>


                    </ng-container>
                </div>



            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>
