@import '../../../@theme/styles/themes.scss';
@include nb-install-component() {
    table.table.table-hover {
        color: nb-theme(text-basic-color);  /* This will change the color when you switch the theme */
    }
    .table-hover tbody tr:hover {
        background-color: nb-theme(color-basic-200);
        color: nb-theme(text-basic-color);
    }
    select.custom-select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }
    ::ng-deep pagination-controls .current {
        background-color: nb-theme(smart-table-paging-bg-active);
        color: nb-theme(smart-table-paging-fg-active) !important;
    }
    ::ng-deep pagination-controls li, ::ng-deep pagination-controls a {
        color: nb-theme(smart-table-paging-page-text-color);
    }
    .active {
        background-color: #032a9e !important;
        border-color: #032a9e !important;
    }
    input {
        border-radius: 0.25rem !important;
    }
    .selectContainer {
        display: flex;
        align-items: flex-end;
        margin-top: 1rem;

        nb-select {
            margin: 0 5px;
        }
    }
    .btnDelete {
        @include nb-ltr(margin-left, 0.5rem);
        @include nb-rtl(margin-right, 0.5rem);
    }

    .rulesTab {
        position: absolute;
        right: 257px;
    }

   
    .btmSubmitContainer {
        padding-bottom: 1rem;
        .btnSubmit {
            @include nb-ltr(margin-right, 1rem);
            @include nb-rtl(margin-left, 1rem);
        }
    }
    .btnRemove {
        @include nb-ltr(width, 7rem !important);
    }

    .form-check-label {
        vertical-align: sub;
        @include nb-rtl(margin-left, 0.5rem);
    }

    .btnContainer {
        display: flex;
        align-items: baseline;
    }

    .rulesContainer {
        @include nb-rtl(margin-right, 1rem);
    }
}

@media screen and (min-width: 768px) {
    nb-select {
        min-width: 12.5rem;
    }
    .rulesContainer {
        button {
            margin: 0 5px;
        }
    }

    ::ng-deep nb-stepper .step-content {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .rulesContainer {
        button {
            margin: 5px;
        }
    }
    .btnGroup {
        display: flex;
        margin-top: 1rem;
    }
}
.paginationControl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
}

.clickable {
    pointer-events: painted;
    cursor: pointer;
}
.sorting-icon {
    white-space: nowrap;
}

.stepperFit {
    height: fit-content !important;
    min-height: 100%;
}
