<div class="border-secondary shadow-sm bg-white">
  <h6 style="padding-left: 34px; padding-top: 16px; padding-right: 34px;">{{'S50' | translate}}</h6>
  <hr>
  <ng-scrollbar track="vertical" appearance="compact" visibility="hover">
    <div class="container" *ngIf="campaign && campaign.lessons && campaign.lessons.length > 0"
         style="max-height: 450px;">
      <ngx-campaign-lesson-sidebar-item *ngFor="let lesson of campaign.lessons; let i = index"
                                        [lesson]="lesson" [index]="i" [total]="campaign.lessons.length"
                                        [campaign_id]="campaign.id">
      </ngx-campaign-lesson-sidebar-item>
    </div>
  </ng-scrollbar>
</div>
