.checkbox {
  margin-right: 1%;
}

.inline {
  display: inline;
}

.danger {
  width: 40%;
  margin: auto;
  border:  5px solid darkred;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.info {
  width: 40%;
  margin: auto;
  border:  5px solid #078cd6;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.half-height {
  max-height: 50vh;
}

.scroll {
  overflow-x: scroll;
}

nb-card-body, nb-card-header {
  border-bottom: 0.7px solid #cccccc !important;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: darkred;
  stroke-width: 5;
}

.svg-icon circle {
  stroke: darkred;
  stroke-width: 5;
}
