<div>
  <div *ngIf="!loaded">
    <nb-card [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-body>{{ 'Loading' | translate }}</nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="loaded && policy" class="col-md-12" style="margin-top: 20px;padding-left: 0 !important;padding-right: 0 !important;">
    <nb-card class="card">
      <nb-card-header>
        <h6>
          {{campaignTitle}} | {{lessonTitle}}
        </h6>
        <h1 class="text-center">
          {{policy.title}}
        </h1>
      </nb-card-header>
      <nb-card-body class="half-height">
        <span class="scroll" [innerHTML]="policy.content"> </span> 
      </nb-card-body>
      <nb-card-footer>
        <div id="submit-policy" class="text-center" *ngIf="isLessonWatched && !alreadyAcknowledged">
          <div>
            <input [(ngModel)]="accepted" class="checkbox" type="checkbox" name="accepted">
            <label class="inline" for="accepted">{{'Policy accept' | translate }}</label>
          </div>
          <div class="row justify-content-end mt-3">
            <button [disabled]="!accepted" type="button" nbButton status="primary" class="btn btn-info" style="width: 6rem;" (click)="submitPolicyAcknowledgement()">
              {{'S28' | translate}}
            </button>
          </div>
        </div>
        <div id="danger-policy-message" class="text-center" *ngIf="!isLessonWatched && !alreadyAcknowledged">
          <p class="danger">
            <svg class="svg-icon" viewBox="0 0 20 20">
							<path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
						</svg>
            {{ 'Lesson not watched' | translate }}
          </p>
        </div>
        <div id="danger-policy-message" class="text-center" *ngIf="isLessonWatched && alreadyAcknowledged">
          <p class="info">
            {{ 'Already Acknowledged' | translate }}
          </p>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
