@import '../../@theme/styles/themes';
@include nb-install-component() {
    label {
        color: nb-theme(text-color-label);
      }

    h6.reset {
        color: nb-theme(text-color-header);
    }

    .text-info {
        position: nb-theme(header-logo-position);
        top: nb-theme(header-logo-top);
        display: flex;
        align-items: center;
        width: 50%;
        height: nb-theme(header-logo-height);
        .login-logo {
                height: 100%;
                overflow: hidden;
                display: flex;
        }
      }

      @media screen and (min-width: 300px) and (max-width: 992px) {
        .text-info {
          top: nb-theme(header-logo-mobile-top) !important;
        }
      }
}
