<div class="col-12 col-md-10">
  <div class="text-info my-4">
    <img *ngIf="logoUrl" [src]="logoUrl" alt="" class="login-logo">
  </div>
 <h6 class="reset text-uppercase">
    {{'reset your password' | translate }}
  </h6>

  <div class="form-group">
    <label for="email">{{'Email' | translate }}</label>
    <input type="text" class="form-control" id="email"
      placeholder="{{'Enter your email to reset password' | translate }}" autocomplete="off" [(ngModel)]="email"
      (keyup.enter)="resetPassword()" (keyup)="checkEmailIsValid()">
  </div>
  <span class="text-danger erroMsg" *ngIf="validEmail===false">
    {{'Please enter a valid email address'| translate}}
  </span>

  <div class="form-group">
    <ngx-captcha *ngIf="this.captchaStatus" username="{{this.email}}" usage="fpw"
      (submit)="this.captchaSubmitted($event)" (refresh)="this.captchaReloaded()"></ngx-captcha>
  </div>

  <div class="form-group text-center">
    <button nbButton status="primary" class="btn btn-info col-5 text-uppercase" (click)="resetPassword()"
      [disabled]="captchaStatus && !submitButtonEnabled">
      {{'request' | translate }}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="resetting_password"></span>
    </button>
    <div class="alert alert-warning mt-2" *ngIf="captchaErrorMessage && !error && !success">
      {{errorMessage | translate }} {{captchaErrorMessage | translate }}
    </div>
    <div class="alert alert-warning mt-2" *ngIf="error && !captchaErrorMessage && !success">
      {{"Something went wrong please contact your admin" | translate }}
    </div>
    <div class="alert alert-success mt-2" *ngIf="success">
      {{'Password Reset link sent successfully, please check your email box' | translate }}
    </div>
  </div>
</div>