<div>
    <p>
        لاستخدام هذه الخاصية ، تحتاج إلى تنزيل هذا
        <a href="/app/csv/template" download>
            النموذج
        </a>
        واملأها باتباع هذه القواعد
    </p>
    <ul>
        <li> يجب أن تكون الأعمدة "Hidden" و"Status" إما 0 أو 1 ، مع 0 = false و 1 = true</li>
        <li> "Role"يجب ان تكون أيًا من "Administrator", "User"</li>
        <li> يجب أن تكون اللغة إما "English" أو "Arabic"</li>
        <li> جميع الحقول مطلوبة باستثناء "كلمة المرور" إذا تُركت فارغة ، سيتعين على المستخدم تغيير كلمة المرور أولاً
        </li>
        <li> Hidden,Status,Role,Language لديهم قوائم منسدلة ، استخدمها</li>
        <li> إذا لم يكن القسم المحدد موجودًا ، فسيتم إنشاؤه</li>
        <li> الحد الأقصى لعدد الصفوف / المستخدمين لكل ملف هو 1000 باستثناء صف العناوين</li>
        <li>
            <b>
                مهم
            </b>
            بعد تعديل الملف احفظه ك
            <b>
                csv.
            </b>
        </li>
    </ul>
</div>
