<!-- English Instructions -->

<div>
    <p>
        to use this feature, you need to download the
        <a href="/app/csv/template" download>
            Template
        </a>
        and fill it following these rules:
    </p>
    <ul>
        <li> The Hidden and Status columns have to be either 0 or 1, with 0 = false and 1 = true.</li>
        <li> The Role column has to be any of "Administrator", "User".</li>
        <li> Language has to be either "English" or "Arabic".</li>
        <li> All Fields are <strong>REQUIRED</strong> except "Password" if left Empty the User will have to Reset their Credentials on
            first use.</li>
        <li> Hidden, Status, Role and Language coloumns have drop down menus, use them.</li>
        <li> If a specified Department does not exist it will be created.</li>
        <li> The Maximum Rows/Users Per File is 1000 excluding the header.</li>
        <li> <b>Important</b> after editing the file save it as <b>.csv</b>.</li>
    </ul>

</div>


