<h5><strong>التعليمات الخاصة بملف أسئلة المحتوى التفاعلي</strong></h5>

<div>
    <p>
        قم بتحميل  
        <a href="/app/demo_templates/Interactive_lesson_demo_questions.json" download="Interactive Lesson Questions.json">
            هذا القالب 
        </a>
        واملأه مستخدمًا القواعد التالية لتتمكن من إستخدام هذه الخاصية: 
    </p>
    <ul>
        <li><b>layers:</b> كل جزء منها هو عبارة عن سؤال واحد من نوع معين (مثال: single choice question).</li>
        <li><b>type:</b> يعبر عن نوع هذا السؤال (مثال: single picture question).</li>
        <li><b>timeStamp:</b> يعبر عن متى يظهر السؤال للمستخدم (ثواني:دقائق) مثال: '0:1' يعني أن السؤال سيظهر بعد ثانية واحدة من بدأ الدرس.</li>
        <li><b>skippable:</b> يعبر عن إمكانية المستخدم تخطي السؤال أم ﻷ، يجب ان تكون القيمة true أو false.</li>
        <li><b>score:</b> رقم يعبر عن درجة السؤال.</li>
        <li><b>config:</b> هنا يتم تحديد السؤال وإجابته.</li>
        <li><b>question:</b> السؤال الذي يظهر للمستخدم.</li>
        <li><b>answers:</b> يمكن أن يكون أحد الأشكال التي توجد في الملف، إما أن يحتوي على الإجابات فقط أو يحتوي على الإجابات والصورة.</li>
        <li><b>correctAnswer:</b> رقم يحدد أي من الإجابات الموجودة هي الصحيحة (مثال: إذا اخترت الرقم 2، فإن الإجابة الصحيحة هي ثاني إجابة تم تحديدها في الإجابات).</li>
    </ul>

</div>

<hr>

<h5><strong>التعليمات الخاصة بملف التنسيقات</strong></h5>

<div>
    <p>
        قم بتحميل  
        <a href="/app/demo_templates/Interactive_lesson_demo_styles.json" download="Interactive Lesson Styles.json">
            هذا القالب 
        </a>
        واملأه مستخدمًا القواعد التالية لتتمكن من إستخدام هذه الخاصية: 
    </p>
    <ul>
        <li><b>style:</b> كل جزء منها يعبر عن تنسيق أحد الأجزاء الذي يظهر للمستخدم.</li>
        <li><b>tag:</b> اسم الجزء الذي سيطبق عليه التنسيقات التالية (مثال: text-question-title).</li>
        <li><b>type:</b> نوع هذا الجزء (مثال: text أو image).</li>
        <li><b>settings:</b> يحتوي على الإعدادات الخاصة بهذا الجزء، مثل اللون والحجم.</li>
        <li><b>size:</b> رقم يعبر عن حجم النص.</li>
        <li><b>color:</b> يعبر عن لون هذا الجزء بإستخدام (RGBA).</li>
        <li><b>'r':</b> قيمة اللون الأحمر المستخدم (من 0 إلى 255).</li>
        <li><b>'g':</b> قيمة اللون الأخضر المستخدم (من 0 إلى 255).</li>
        <li><b>'b':</b> قيمة اللون الأزرق المستخدم (من 0 إلى 255).</li>
        <li><b>'a':</b> رقم يعبر عن مدى الشفافية (من 0.0 إلى 1.0 - مثال: 0.2).</li>
    </ul>

</div>

<hr>

<p><b>هام:</b> بعد الإنتهاء من تعديل الملف تأكد من حفظه بالصيغة <i>'.json'</i>، ثم اضغط على أحد الصفوف الموجودة فوق لرفعه.</p>