<h5><strong>Instructions for interactive questions file</strong></h5>

<div>
    <p>
        Download 
        <a href="/app/demo_templates/Interactive_lesson_demo_questions.json" download="Interactive Lesson Questions.json">
            this template
        </a>
        and fill it following these rules to be able to use this feature:
    </p>
    <ul>
        <li><b>layers:</b> Each layer is a single question of a certain type (e.g., single choice question).</li>
        <li><b>type:</b> Determines the type of question in this layer (e.g., single picture question).</li>
        <li><b>timeStamp:</b> Determines when the question should be shown to the user in the form of 'minutes:seconds': (e.g., 0:1 means that the question will be displayed exactly 1 second after start).</li>
        <li><b>skippable:</b> A 'true' or 'false' value that determines whether the user can skip the question or not.</li>
        <li><b>score:</b> A number determines the weight of the question.</li>
        <li><b>config:</b> Where you specify the question and the answer to it.</li>
        <li><b>question:</b> The question that is displayed to the user.</li>
        <li><b>answers:</b> Can take the two formats found in the template, whether only the answers or an object with name and picture.</li>
        <li><b>correctAnswer:</b> A number that determines which of the answers above is the correct answer, for example if '2' was chosen, then the correct answer is the second answer.</li>
    </ul>

</div>

<hr>

<h5><strong>Instructions for style file</strong></h5>

<div>
    <p>
        Download 
        <a href="/app/demo_templates/Interactive_lesson_demo_styles.json" download="Interactive Lesson Styles.json">
            this template
        </a>
        and fill it following these rules to be able to use this feature:
    </p>
    <ul>
        <li><b>style:</b> Each section of it styles a certain part of the question.</li>
        <li><b>tag:</b> The name of the part to apply the following styles to (e.g., text-question-title).</li>
        <li><b>type:</b> The type of that tag (e.g., text, image).</li>
        <li><b>settings:</b> Contains the various settings regarding that section.</li>
        <li><b>size:</b> A number to specify the size of the text-type question.</li>
        <li><b>color:</b> Selects an (RGBA) value color for that section.</li>
        <li><b>'r':</b> Red color value (0-255).</li>
        <li><b>'g':</b> Green color value (0-255).</li>
        <li><b>'b':</b> Blue color value (0-255).</li>
        <li><b>'a':</b> A number to select the transparency of the color 0.0-1.0 (e.g., 0.2).</li>
    </ul>

</div>

<hr>

<p><b>Important:</b> After you finish, make sure to save the file as <i>'.json'</i>, then click on the correct row above to upload it.</p>