<div class="" *ngIf="showView">
  <h6 class="text-uppercase">{{ 'SSO Provider' | translate}}</h6>
  <div class="row">
    <a type="button" class="mt-3 btn text-white btn-info offset-1 col-md-5 col-sm-10" *ngFor="let option of options"
       (click)="loginWith(option)">
      {{option.title}}
    </a>
  </div>
</div>

<div class="form-group" *ngIf="error && showView">
  <div class="alert alert-warning mt-3">
    <p id='message-error'>{{this.message| translate}}</p>
  </div>
</div>
