<label>
  <strong>{{'Show Last Lines' | translate}}</strong>
</label>

<div class="input-group bg-white">
  <nb-select status="basic" [(ngModel)]="neededLines" (ngModelChange)="updateLogs()"
             fullWidth placeholder="{{'Select Lines to Show' | translate}}">
    <nb-option value="100">{{'Last 100 Lines' | translate}}</nb-option>
    <nb-option value="200">{{'Last 200 Lines' | translate}}</nb-option>
    <nb-option value="500">{{'Last 500 Lines' | translate}}</nb-option>
    <nb-option value="1000">{{'Last 1000 Lines' | translate}}</nb-option>
  </nb-select>

</div>

<div class="scrollable-container mt-2">
  <div class="text-center m-5 p-5" *ngIf="logsAreLoading">
    <div class="spinner-border text-info" role="status">
    </div>
  </div>
  <div *ngIf="!logsAreLoading" class="text-left" style="direction: ltr!important;">
    <div
      class="pl-1"
      *ngFor="let line of logs" [innerHTML]="line">
    </div>
  </div>
</div>
