@import '../../@theme/styles/themes.scss';
@include nb-install-component {
  .backgroundColor-dark {
    background-color: nb-theme(card-background-color);
  }
}
::ng-deep ngx-exam {
    position: relative;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.grid {
    padding: 1rem;
    display: grid;
    justify-items: center;
    align-content: center;
    height: 80vh;
    gap: 0.5rem;
}


:host ::ng-deep nb-card-body {
    overflow: hidden;
    .horizontal {
        text-align: center !important;
        display: block;
    }
    .step-content {
        [dir='ltr'] & {
            text-align: left;
        }
        [dir='rtl'] & {
            text-align: right;
        }
    }
    .header {
        display: inline-flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}
