<div *ngIf="examIsReady && campaignIsReady">
  <ngx-status id = "status" (tryAgain)= "onTryAgain($event)" [isTryAgain]="isTryAgain" [campaign]="campaign" [exam]=exam></ngx-status>
  <ngx-form id = "form" [isTryAgain]="isTryAgain" [campaign]="campaign" [exam]="exam"></ngx-form>
</div>

<div *ngIf= "!examIsReady && !checkExam" class="grid backgroundColor-dark" >
  <h1 id = "examNotFound" >{{ "ExamNotFound" | translate }} </h1>
  <button nbButton status="primary" class="pr-3 pl-3 mt-lg-3" (click)="goHome()">
    {{"S10" | translate}}
</button>

