<nb-actions size="medium">
  <nb-action class="control-item"
             icon="bell-outline"
             [badgeText]="unReadCount"
             badgePosition="buttom end"
             badgeStatus="danger"
             [nbContextMenu]="notifications">
  </nb-action>
</nb-actions>
