@import '../../@theme/styles/themes';

$certificate-main-color: #636edf;
$certificate-bg-color: #c4cbf2;


@include nb-install-component() {
    select.custom-select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }
    .img-container {
        display: none;
    }
    .date-disply {
        @include nb-rtl(margin-right, auto);
        @include nb-ltr(margin-left, auto);
    }
    .desktopRow.row {
        padding: 24px 0 !important;
        margin: 0 !important;
    }
}

.certificate {
    line-height: 2;
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.img-container {
    flex: 0 1 5%;
    fill: $certificate-bg-color;
    text-align: center;
    height: fit-content;
}

rect.img {
    stroke: $certificate-main-color;
}

path.img {
    fill: $certificate-main-color;
}

.description {
    flex: 1 1 55%;
    display: inline-block;
    text-align: start;
}

nb-card {
    margin: 0.5rem;

}

.certificateLogo {
    max-width: 100px !important;
    height: auto;
    opacity: 0.7;
}

.viewBtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: hsl(210, 63%, 58%);
    border-color: #007bff;

}

select {
    max-width: 300px;
    overflow: hidden;
}

option {
    overflow: hidden;
    word-wrap: normal !important;
    white-space: normal;
}

@media (max-width: 767px) {
    .certificateContainer {
        padding: 0 4px !important;
    }
    .desktopRow.row.mb-4 {
        // display: none;
        margin: 0 -15px !important;
        flex-direction: row;
    }
    .viewDesktop {
        display: none;
    }
    .row.rowHeader {
        margin-right: -5px;
        margin-left: -5px;
        margin-bottom: 20px;
    }
    nb-card {
        width: calc(50% - 16px) !important;
        max-width: calc(50% - 16px) !important;
        flex: 0 0 calc(50% - 16px);
    }
    

}

@media (min-width: 768px) {
    .rowMobile {
        display: none;
    }
    .viewMobile {
        display: none;
    }
    .imagAchieveDate {
        display: flex;
        justify-content: space-between;
    }
    nb-card {
        width: calc(33.3% - 16px) !important;
        max-width: calc(33.3% - 16px) !important;
        flex: 0 0 calc(33.3% - 16px);
    }
    
    .rowHeader {
        margin-top: 1rem;
    }

}

@media (max-width: 600px) {
    nb-card {
        // width: 50% !important;
        width: calc(50% - 16px) !important;
        max-width: calc(50% - 16px) !important;
        flex: 0 0 calc(50% - 16px);
        .row {
            margin: 0 !important;
            padding-right: 0;
            padding-left: 0;
            flex-direction: column;
        }
    }
}

.achieveDate {
    font-size: 0.8rem;
    color: #888888;
    margin-bottom: 15px;
}

@media (max-width: 500px) {
    nb-card {
        width: calc(100% - 16px) !important;
        max-width: calc(100% - 16px) !important;
        flex: 0 0 calc(100% - 16px);
    }
}

.noCertificates {
    text-align: center;
    margin-top: 5rem;
}
