<div class="certificateContainer">

  <div class="d-flex justify-content-between">
    <h3 class=""> {{'Sc113' | translate}} </h3>
  
    <form *ngIf="this.campaigns.size > 0" class="form-inline">
      <div class="form-group">
        <label for="campaign" class="p-1">{{ 'show' | translate }}</label>
        <select class="custom-select" name="campaign" id="campaign-select" [formControl]="choosenCampaign">
          <option *ngFor="let c of campaigns | keyvalue" [value]="c.key">
            {{c.value}}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="row rowHeader" *ngIf="viewedCertificates?.length">

    <nb-card *ngFor="let certificate of viewedCertificates" class="col-12 col-md-6">
      <!-- <nb-card-header class="block"> -->


      <!-- </nb-card-header> -->

      <nb-card-body class="desktopRow row mb-4">
        <div class="col-4">
          <img src="/app/certificate.svg" alt="" class="certificateLogo img-fluid w-100">
        </div>
        <div class="col-8">

          <nb-card-header class="description p-0 display-7">
            {{certificate.lessons ? certificate.lessons.title:''}} {{certificate.campaigns ? certificate.campaigns.title : ""}} {{certificate.cer_context | translate}}
          </nb-card-header>
          <!-- <div class="col-4"></div> -->
          <div class="date-disply mb-3">
            <div class="achieveDate">{{certificate.achieve_date}}</div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button 
            class="viewBtn viewDesktop"
            nbButton
            routerLink="../certificate/{{certificate.id}}"
          >
            {{'HomePageS19' | translate}}
          </button>
          <button 
            class="viewMobile viewBtn viewBtnMobile"
            nbButton
            routerLink="../certificate/{{certificate.id}}"
          >
            {{'HomePageS19' | translate}}
          </button>
          <!-- <button
            class="viewMobile viewBtn viewBtnMobile"
            nbButton
            (click)="convertToPDF(certificate.id)"
          >
            {{'Sc114' | translate}}
          </button> -->
        </div>
      </nb-card-body>


      <!-- <nb-card-body class="row rowMobile">
        <div class="col">
          <img src="/app/certificate.svg" alt="" class="certificateLogo">
        </div>
        <div class="col acheieveCol">
          <div class="achieveDate">{{certificate.achieve_date}}</div>
          <button nbButton (click)="convertToPDF(certificate.id)" class="viewBtn viewBtnMobile">{{'Sc114' |
            translate}}</button>
        </div>
      </nb-card-body> -->


    </nb-card>

  </div>
</div>

<div *ngIf="!viewedCertificates?.length" class="noCertificates">
  <h6>{{'Sc115' | translate}}</h6>
</div>