.container {
    padding: 15px;
}

.special {
    border: none;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // max-height: 100px;
    padding: 0;
    // overflow-y: scroll;
}

.lesson {
    @media screen and (min-width: 576px) {
        flex: 0 1 25%;
    }
    @media screen and (max-width: 576px) {
        flex: 0 1 50%;
    }

    padding: 5px 15px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

