<!--<div class="container">-->
  <!-- <nb-card-header > -->
    <h6 class="col" id = "lessons">
      {{'HomePageS11' | translate}}
      <div class="caption">{{'HomePageS12' | translate}}</div>
    </h6>

    <div class="block" *ngIf="campaign && campaign?.lessons?.length === 0" id = "noLessons">
      <p>{{'E107' | translate}}</p>
    </div>
  <!-- </nb-card-header> -->
  <div class="row p-3" *ngIf="campaign && campaign.lessons" id = "campaignListingLessonsItem">
    <ngx-campaign-listing-lessons-item class="col-6 col-lg-3 col-md-4 d-flex mb-4" *ngFor="let lesson of campaign.lessons" [lesson]="lesson"></ngx-campaign-listing-lessons-item>
  </div>
<!--</div>-->
