@import '../../@theme/styles/themes';

    @include nb-install-component() {
      .ml-2, .mx-2 {
        margin-left: 0 !important;
      }
      .mr-2, .mx-2 {
        margin-right: 0 !important;
      }
          .apper-align {
            margin-top: -3.25rem;
            @include nb-ltr(float,right);
            @include nb-ltr(margin-right, -2.5rem);
            @include nb-rtl(float,left);
            @include nb-rtl(margin-left, -2.5rem);
          }
          .text-info {
            position: nb-theme(header-logo-position);
            top: nb-theme(header-logo-top);
            display: flex;
            align-items: center;
            width: 50%;
            height: nb-theme(header-logo-height);
            .login-logo {
                    height: 100%;
                    overflow: hidden;
                    display: flex;
            }
          }
          
          @media screen and (min-width: 300px) and (max-width: 992px) {
            .text-info {
              top: nb-theme(header-logo-mobile-top) !important;
            }
          }
}

    
