<div class="col-10">
  <div class="text-info my-4">
    <img *ngIf="logoUrl" [src]="logoUrl" alt="" class="login-logo">
  </div>
  <h6 class="text-uppercase">
     {{'reset your password' | translate}}
  </h6>

  <!-- <div class="form-group">
    <label for="email">Email</label>
    <input type="text" disabled class="form-control" id="email"
           [(ngModel)]="email">
  </div> -->
  <div class="form-group">
    <!-- <label for="password">Password</label> -->
    <input type="password" class="form-control" id="password" placeholder="{{'Enter password' | translate }}"
            autocomplete="off" [(ngModel)]="new_password">
  </div>
  <div class="form-group apper-align" (click)="apperpass()">
    <img src="/app/icon-info.png">
 </div>
  <div class="form-group">
    <!-- <label for="confirm">Confirm Password</label> -->
    <input type="password" class="form-control" id="confirm" placeholder="{{'Confirm Password' | translate }}"
       autocomplete="off" [(ngModel)]="confirm_password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-info col-4 text-uppercase" (click)="resetPassword()" [disabled]="submit_disabled">
      {{'Save' | translate }}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="resetting_password"></span>
    </button>
    <div class="alert alert-warning mt-2" *ngIf="error">
      {{'E' + error_number | translate}}
    </div>
    <div class="alert alert-success mt-2" *ngIf="success">
      {{'Success reset password' | translate }}
    </div>
  </div>
  <div class="form-group alert alert-success mt-2 {{apper ? 'visible' : 'invisible'}}" >
    <h6>{{'Password Criteria' | translate }} :</h6>
    - {{'password_min_length_criteria' | translate }} <br/>
    - {{'password_lettercase_criteria' | translate }} <br/>
    - {{'Numeric character' | translate }} (0-9).<br/>
    - {{'Special character' | translate }}<br/>
  </div>
</div>
