
@import '../../../../../../@theme/styles/themes';
$exam-main-color: #636edf;
$exam-bg-color: #c4cbf2;

@include nb-install-component {
 
circle.percentage {
  stroke: nb-theme(circle-percentage-color);
}

 text {
    fill: nb-theme(card-text-color) !important;
  }

  button {
    flex: 0 1 10%;
    background-color: nb-theme(mangbtn-bg-color);
    color: nb-theme(mangbtn-text-color);
    border-color: nb-theme(mangbtn-border-color);
    margin: auto 0;
    min-height: 20px;
    height: fit-content;
    border-radius: 5px;
}

rect.img {
    stroke: nb-theme(img-container-icon-main-color);
  }
  
  svg g path {
    fill: nb-theme(img-container-icon-main-color);
  }

  .img-container {
    flex: 0 1 26px;
    fill: nb-theme(img-container-icon-fill-color);
    text-align: center;
    height: fit-content;
  }

  .description {
    color: nb-theme(layout-text-color);
  }
}

.test-window {
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.img-container {
    flex: 0 1 5%;
    fill: $exam-bg-color;
    text-align: center;
    height: fit-content;
}

.score svg {
    text-align: center;
    width: 120px;
}

rect.img {
    stroke: $exam-main-color;
}

path.img {
    fill: $exam-main-color;
}

.description {
    flex: 1 1 55%;
    display: inline-block;
    text-align: start;
    padding: 0 5px;
}



.score {
    flex: 0 1 60%;
    margin: auto;
    text-align: center;
    stroke-dasharray: 220;
    width: 150px;
    max-height: 100%;
}

.indicator {
    transform-origin: 50% 50%;
    transform: rotateZ(-40deg);
    stroke-linecap: butt;
    stroke-dasharray: 60 220;
}

.no-exam {
  flex: 0 1 60%;
  padding: 50px 0;
}
