<div class="test-window">
  <nb-card class="campaign-exam-full-height-md">
    <nb-card-header class="block">
      <div class="img-container">
        <svg viewBox="0 0 48 48" width="20px" height="20px">
          <rect width="48" height="48" rx="10" />
          <g>
            <rect class="img" height="27.014218" width="21.800949" y="10.492891" x="13.099525" fill="none" />
            <path class="img"
              d="m16.331752,25.893629l1.704055,0l0,-3.787257l-1.704055,0l0,3.787257zm0,7.574514l1.704055,0l0,-3.787257l-1.704055,0l0,3.787257zm0,-15.149027l1.704055,0l0,-3.787257l-1.704055,0l0,3.787257zm3.40811,7.574514l11.928385,0l0,-3.787257l-11.928385,0l0,3.787257zm0,7.574514l11.928385,0l0,-3.787257l-11.928385,0l0,3.787257zm0,-18.936284l0,3.787257l11.928385,0l0,-3.787257l-11.928385,0z" />
          </g>
        </svg>
      </div>
      <div class="description">
        {{'HomePageS13' | translate}}
        <div class="caption">{{'HomePageS14' | translate}}</div>
      </div>
      <!-- @todo check if exam or user_exam, needs revision -->
      <button [routerLink]="examLink" *ngIf="campaign && campaign.exam && !completed" nbbutton
        class="appearance-filled size-tiny shape-rectangle transitions" id="startExam">{{'HomePageS18' |
        translate}}</button>
      <button [routerLink]="examLink" *ngIf="campaign && campaign.exam && completed" nbbutton
        class="appearance-filled size-tiny shape-rectangle transitions" id="viewExam">{{'HomePageS19' |
        translate}}</button>
    </nb-card-header>
    <div class="score">
      <div *ngIf="campaign && campaign.exam !== null; else NoExam">
        <svg viewBox="0 0 100 100">
          <circle stroke-dasharray="219.911" stroke-dashoffset="0" fill="transparent" stroke-width="10"
            stroke="lightgrey" cx="50%" cy="50%" r="35" />
          <circle ngxScoreIndicator percentage="{{percentage}}" stroke-dasharray="219.911" stroke-dashoffset="0"
            fill="transparent" stroke-width="10" cx="50%" cy=50% r="35" class="percentage" id="percentage" />
          <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" fill="black" id="result">{{ result
            }}%</text>
        </svg>
        <div *ngIf="passed" class="caption mb-3" id="passExam">{{'HomePageS15' | translate}}</div>
        <div *ngIf="attempted && !passed" class="caption mb-3" id="failedExam">{{'HomePageS16' | translate}}</div>
      </div>
      <ng-template #NoExam>
        <div class="no-exam" id="noExam">{{'HomePageS17' | translate}}</div>
      </ng-template>
    </div>
  </nb-card>
</div>