@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
@include nb-install-component {
  nb-card-header.newModelHeader {
    color: nb-theme(color-primary);
  }
  .appearance-filled.size-tiny {
    border-color: nb-theme(mangbtn-border-color);
  }
  
  *::placeholder,
  input::placeholder,
  * {
    font-family: nb-theme(font-family-primary), Tahoma, Verdana, sans-serif !important;
  }

  .login-logo {
    height: nb-theme(header-logo-height);
  }
}

//h1
.display-5 {
  font-size: 2.5rem !important;
  @media screen and (max-width: 992px) {
    font-size: 1.5rem !important;
  }
}

//h4
.display-6 {
  font-size: 1.5rem !important;
}

//h6
.display-7 {
  font-size: 1.125rem !important;
}

nb-card-header.newModelHeader {
  font-size: 20px !important;
  line-height: 1.5 !important;
  font-weight: 700;
  text-transform: uppercase;
}

.campaign-numeric-indicator {
  font: menu;
  font-size: 2rem;
}
.lesson-widget {
  width: 25%;
  display: flex;
}

@media only screen and (max-width: 575px) {
  .lesson-widget {
    width: 50%;
    padding: 0.25rem;
  }
}

.exam_failed {
  background-image: url('/ui/assets/awr/images/failed.png');
  width: 100%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 100%;
}

.exam_succeeded {
  background-image: url('/ui/assets/awr/images/passed.png');
  width: 100%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 100%;
}

.exam_success_text_ar {
  position: relative;
  top: 37%;
  right: 48px;
  font-family: 'GeSsTwo' !important;
}

.exam_fail_text_ar {
  position: relative;
  top: 37%;
  right: 48px;
  font-family: 'GeSsTwo' !important;
}

.exam_success_score_ar {
  position: relative;
  top: 54%;
  left: 39px !important;
  font-family: 'GeSsTwo' !important;
}

.exam_fail_score_ar {
  position: relative;
  top: 54%;
  left: 39px !important;
  font-family: 'GeSsTwo' !important;
}

.exam_fail_text {
  position: relative;
  left: 5%;
  top: 37%;
}

.exam_success_text {
  position: relative;
  left: 5%;
  top: 37%;
}

.exam_fail_score {
  position: relative;
  top: 54%;
  right: 80px;
}

.exam_success_score {
  position: relative;
  top: 54%;
  right: 80px;
}

nb-card-header {
  border-bottom: none !important;
}

@media only screen and (min-device-width: 575px) {
  .exam_failed {
    background-image: url('/ui/assets/awr/images/failed.png');
    width: 100%;
    max-width: 700px;
    height: 340px;
    margin-right: auto;
    margin-left: auto;
  }

  .exam_succeeded {
    background-image: url('/ui/assets/awr/images/passed.png');
    width: 100%;
    max-width: 700px;
    height: 340px;
    margin-right: auto;
    margin-left: auto;
  }

  .exam_success_text_ar {
    position: relative;
    top: 47%;
    right: 135px;
    font-family: 'GeSsTwo' !important;
  }

  .exam_fail_text_ar {
    position: relative;
    top: 47%;
    right: 135px;
    font-family: 'GeSsTwo' !important;
  }

  .exam_success_score_ar {
    position: relative;
    top: 47%;
    left: 115px !important;
    font-family: 'GeSsTwo' !important;
  }

  .exam_fail_score_ar {
    position: relative;
    top: 47%;
    left: 115px !important;
    font-family: 'GeSsTwo' !important;
  }

  .exam_fail_text {
    position: relative;
    left: -10%;
    top: 47%;
  }

  .exam_success_text {
    position: relative;
    left: -10%;
    top: 47%;
  }

  .exam_fail_score {
    position: relative;
    top: 47%;
    right: auto;
  }

  .exam_success_score {
    position: relative;
    top: 47%;
    right: auto;
  }
}

.modal {
  text-align: -webkit-center;
}

.modal-dialog {
  width: 85%;
}

.gesstwo {
  font-family: 'GeSsTwo' !important;
}

.primary-btn-centered {
  align-self: center;
}

[dir='ltr'] .menu-title {
  padding-right: 0.4rem;
}

.menu-title {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.menu-item a .menu-title {
  flex: auto !important;
}

[dir='rtl'] nb-menu .menu-item .menu-icon {
  margin: 0 0 0 0.4rem;
}
ngx-auth > nb-layout > .scrollable-container {
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .hide-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  ngx-side-menu-avatar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-full-height {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .campaign-exam-full-height-md {
    height: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }

  .flex-center-sm {
    height: 100%;
    margin-top: 75px;
  }
}

@media screen and (max-width: 575px) {
  // Fix on Iphone can't scroll the menu all the way down
  .nb-theme-default nb-sidebar nb-menu {
    padding-bottom: 60px;
  }
  nb-sidebar.expanded {
    width: 100% !important;
    background-color: #5697d9;
  }

 // nb-menu .menu-item {
  //  border-color: #4487cb !important;
  //}

  nb-menu .menu-item .menu-items .menu-item {
    background-color: #4487cb !important;
    border: 0;
  }

  nb-sidebar.expanded > .main-container {
    width: 100% !important;
  }

  ul.menu-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media screen and (max-width: 576px) {
      padding-bottom: 35px;
    }
  }

  nb-menu > ul.menu-items > li > span.menu-title {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .menu-item-icon-color {
    color: white !important;
  }

}

#campaignListingLessonsItem {
  @media screen and (max-width: 575px) {
    overflow: hidden;
    width: 100% !important;
    flex-wrap: wrap;
    padding-bottom: 0.75rem;
  }
}

@media print {
  * {
    overflow: visible !important;
  }

  .sidebar-toggle, .menu-sidebar, .header-container .d-flex, .header-container .item {
    display: none !important;
  }
}


.mce-branding {
  display: none !important;
}
.mce-ico {
  font-family: 'tinymce', Arial !important;
}

.nav-tabs {
  margin-bottom: 2rem !important;
}

.nav-tabs .nav-link:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.25rem;
  border-radius: 3px;
  bottom: -2px;
  left: 0;
  // background-color: #2ec4db;
}

.nav.nav-tabs .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: transparent;
  position: relative;
}

.nav-tabs .nav-link.active::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.25rem;
  border-radius: 3px;
  bottom: -2px;
  left: 0;
}

.card.campaign-exam-full-height-md > .row {
  padding-top: 0;
  padding-bottom: 0;
}


.card.campaign-exam-full-height-md > .row > * {
  padding-top: 30px;
  padding-bottom: 16px;
}

.card.campaign-exam-full-height-md hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.lesson-widget {
  padding: 0 8px;
}

.user-picture {
  border-radius: 5rem !important;
  &.image {
    background-position: center;
  }
}


.appearance-filled.size-tiny {
  padding: 0.36rem 0.62rem 0.24rem !important;
}


// Edit Exam and Quiz Stepper Style

.nb-theme-default nb-stepper .header .connector {
  padding-right: 0;
  padding-left: 0;
  margin-right: -8px !important;
  margin-left: -8px !important;
  width: 16px !important;
  flex: none !important;
}
.background-image > * {
  position: relative;
}

.cc-window {
  box-shadow: 0 1rem 1rem 0 #2c33491a !important;
  border-radius: 0.25rem !important;
  border: 1px solid #eee;
}
.cc-compliance {
  border-top: 1px solid #eee;
}

.cc-btn {
  &.cc-allow {
    border-left: 1px solid #333 !important;
  }
  &:hover {
    color: unset !important;
  }
}

[dir='rtl'] .cc-message {
  text-align: right !important;
}
