// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    lessons-completed-main-color: #40d2c3,
    lessons-completed-bg-color: #bdf0e9,
    lessons-remaining-main-color: #f37eec,
    lessons-remaining-bg-color: #febcf9,
    quizzes-remaining-main-color: #febc3d,
    quizzes-remaining-bg-color: #ffe9b8,
    date-main-color: #48c1fa,
    date-bg-color: #b4e7ff,
    img-container-icon-fill-color: #c4cbf2,
    img-container-icon-main-color:#636edf,

    lessson-icon-normal-fill-color: #1747b0,
    lessson-icon-normal-bg-color: #9ec3e3,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: #5597d9,
    circle-percentage-color: #636edf,

    report-main-color: #636edf,
    report-bg-color: #c4cbf2,

    wrong-bg-color: #ffe0e0,
    correct-bg-color: #e9ffe0,


    /*
    * Custom Attributes go here
    *
    */
    color-primary : #17a2b8,
    color-primary-500: #1e76a3,
    color-primary-700: color-primary-500,
    color-primary-hover: #00aeee,
    card-header-info-background-color: #17a2b8,
    tabset-tab-active-underline-color: #17a2b8,
    tabset-tab-active-text-color: #17a2b8,
    tabset-tab-hover-text-color: #2ec4db,
    tabset-tab-hover-underline-color: #2ec4db,
    tooltip-background-color: white,
    tooltip-text-color: grey,
    tooltip-border-color: 1px solid grey,

    shape-semi-round: 0.25rem,
    status-bg-color: #ffffff,
    btn-brimary-color: #5296d8,
    btn-brimary-color-hover: #00aeee,
    layout-bg-color:#edf1f7,

    // Sidemenu
    sidebar-width-compact: 120px,
    sidebar-mobile-background-color: color-primary-500,
    sidebar-mobile-icon-color: #ffffff,
    sidebar-mobile-text-color: #ffffff,

    side-menu-avatar: #ffffff,
    theme-mode-color: #ffffff,

    hr-border-color: status-bg-color,

    // Back Icon
    back-btn-icon-color: #17a2b8,

    // Button
    button-filled-primary-active-background-color: #17a2b8,
    button-filled-primary-active-border-color: #17a2b8,
    button-outline-primary-active-border-color: #17a2b8,
    button-outline-primary-active-text-color: #17a2b8,

    powered-by-color: #585757,

    mangbtn-text-color: #636edf,
    mangbtn-bg-color: #c4cbf2,
    mangbtn-border-color:#636edf,

    policy-text-color: #1a2138,

    // For login screen
    text-color-label: #1a2138,
    user-text-label: #1a2138,
    text-color-header: #1a2138,

    // Logo
    header-logo-height: 38px,
    header-logo-position: static,
    header-logo-top: unset,
    header-logo-mobile-top: unset,

    // Font Family
    font-family-primary: 'NeoSansArabicRegular'

  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-basic-200: #1b1b38,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,

    // avatar-color: green,
    lessons-completed-main-color: #40d2c3,
    lessons-completed-bg-color: #bdf0e9,
    lessons-remaining-main-color: #f37eec,
    lessons-remaining-bg-color: #febcf9,
    quizzes-remaining-main-color: #febc3d,
    quizzes-remaining-bg-color: #ffe9b8,
    date-main-color: #48c1fa,
    date-bg-color: #b4e7ff,
    img-container-icon-fill-color: #c4cbf2,
    img-container-icon-main-color:#636edf,

    lessson-icon-normal-fill-color: #1747b0,
    lessson-icon-normal-bg-color: #9ec3e3,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: #5597d9,
    circle-percentage-color: #636edf,

    report-main-color: #636edf,
    report-bg-color: #c4cbf2,

    wrong-bg-color: #452222,
    correct-bg-color: #224725,

    // Back Icon
    back-btn-icon-color: #17a2b8,
    color-primary : #17a2b8,

    hr-border-color: status-bg-color,
    sidebar-width-compact: 120px,
    sidebar-mobile-background-color: color-primary-500,
    sidebar-mobile-icon-color: #ffffff,
    sidebar-mobile-text-color: #ffffff,

    side-menu-avatar: #ffffff,
    theme-mode-color: #ffffff,
    powered-by-color: #ffffff,

    mangbtn-text-color: #636edf,
    mangbtn-bg-color: #c4cbf2,
    mangbtn-border-color:#636edf,
    policy-text-color: #ffffff,

    // For login screen
    text-color-label: #1a2138,
    user-text-label: #ffffff,
    text-color-header: #1a2138,

    // Logo
    header-logo-height: 38px,
    header-logo-position: static,
    header-logo-top: unset,
    header-logo-mobile-top: unset,

    // Font Family
    font-family-primary: 'NeoSansArabicRegular'

  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    // avatar-color: red,
    lessons-completed-main-color: #40d2c3,
    lessons-completed-bg-color: #bdf0e9,
    lessons-remaining-main-color: #f37eec,
    lessons-remaining-bg-color: #febcf9,
    quizzes-remaining-main-color: #febc3d,
    quizzes-remaining-bg-color: #ffe9b8,
    date-main-color: #48c1fa,
    date-bg-color: #b4e7ff,
    img-container-icon-fill-color: #c4cbf2,
    img-container-icon-main-color:#636edf,

    lessson-icon-normal-fill-color: #1747b0,
    lessson-icon-normal-bg-color: #9ec3e3,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: #5597d9,
    circle-percentage-color: #636edf,

    report-main-color: #636edf,
    report-bg-color: #c4cbf2,
    bg-basic-color: #ffffff, // We need to fix it

    wrong-bg-color: #ffe0e0,
    correct-bg-color: #e9ffe0,

    // Back Icon
    back-btn-icon-color: #17a2b8,
    color-primary : #17a2b8,

    hr-border-color: status-bg-color,
    sidebar-width-compact: 120px,
    sidebar-mobile-background-color: color-primary-500,
    sidebar-mobile-icon-color: #ffffff,
    sidebar-mobile-text-color: #ffffff,

    side-menu-avatar: #ffffff,
    theme-mode-color: #ffffff,
    powered-by-color: #585757,

    mangbtn-text-color: #636edf,
    mangbtn-bg-color: #c4cbf2,
    mangbtn-border-color:#636edf,
    policy-text-color: #1a2138,

    // For login screen
    text-color-label: #1a2138,
    user-text-label: #1a2138,
    text-color-header: #1a2138,

    // Logo
    header-logo-height: 38px,
    header-logo-position: static,
    header-logo-top: unset,
    header-logo-mobile-top: unset,

    // Font Family
    font-family-primary: 'NeoSansArabicRegular'

  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    lessons-completed-main-color: #40d2c3,
    lessons-completed-bg-color: #bdf0e9,
    lessons-remaining-main-color: #f37eec,
    lessons-remaining-bg-color: #febcf9,
    quizzes-remaining-main-color: #febc3d,
    quizzes-remaining-bg-color: #ffe9b8,
    date-main-color: #48c1fa,
    date-bg-color: #b4e7ff,
    img-container-icon-fill-color: #c4cbf2,
    img-container-icon-main-color:#636edf,

    lessson-icon-normal-fill-color: #1747b0,
    lessson-icon-normal-bg-color: #9ec3e3,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: #5597d9,
    circle-percentage-color: #636edf,

    report-main-color: #636edf,
    report-bg-color: #c4cbf2,

    wrong-bg-color: #452222,
    correct-bg-color: #224725,
    sidebar-width-compact: 120px,

    //  Colors
    // color-secondary: #1e4691,
    // color-secondary-light: lighten(#1e4691, 3),
    // color-secondary-dark: #192b5c,

    bg-basic-color: #ffffff, // We need to fix it
    color-basic-200: #151a30,

    shape-semi-round: 0.25rem,
    // alerts-bg-color: #ff3d71,

    // status-bg-color: #222b45,
    circle-result-color: #ffffff,
    layout-bg-color:#151a30,
    border-color-right: 1px solid #151a30,
    card-background-color: background-basic-color-1,
    // tabset-background-color: transparent,
    // tabset-link-active: #36f

    // avatar-color: #3366ff,

    // Back Icon
    back-btn-icon-color: #666666,
    color-primary : #ffffff,
    sidebar-mobile-icon-color: #ffffff,
    sidebar-mobile-text-color: #ffffff,

    hr-border-color: bg-basic-color,
    sidebar-mobile-background-color: #36f,

    side-menu-avatar: #ffffff,
    theme-mode-color: #ffffff,
    powered-by-color: #ffffff,

    mangbtn-text-color: #636edf,
    mangbtn-bg-color: #c4cbf2,
    mangbtn-border-color:#636edf,
    policy-text-color: #ffffff,

    // For login screen
    text-color-label: #1a2138,
    user-text-label: #ffffff,
    text-color-header: #1a2138,

    // Logo
    header-logo-height: 38px,
    header-logo-position: static,
    header-logo-top: unset,
    header-logo-mobile-top: unset,

    // Font Family
    font-family-primary: 'NeoSansArabicRegular'

  ),
  dark,
  dark
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    lessons-completed-main-color: #40d2c3,
    lessons-completed-bg-color: #bdf0e9,
    lessons-remaining-main-color: #f37eec,
    lessons-remaining-bg-color: #febcf9,
    quizzes-remaining-main-color: #febc3d,
    quizzes-remaining-bg-color: #ffe9b8,
    date-main-color: #48c1fa,
    date-bg-color: #b4e7ff,
    img-container-icon-fill-color: #c4cbf2,
    img-container-icon-main-color:#636edf,

    lessson-icon-normal-fill-color: #1747b0,
    lessson-icon-normal-bg-color: #9ec3e3,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: color-primary-500,
    circle-percentage-color: #636edf,

    report-main-color: #636edf,
    report-bg-color: #c4cbf2,

    wrong-bg-color: #ffe0e0,
    correct-bg-color: #e9ffe0,

    /*
    *
    * SEC Customization
    *
    */
    // Color themes
    color-primary : color-secondary,
    color-primary-100: lighten(#f18a1e, 8),
    color-primary-200: lighten(#f18a1e, 6),
    color-primary-300: lighten(#f18a1e, 4),
    color-primary-400: lighten(#f18a1e, 2),
    color-primary-500: #f18a1e,
    color-primary-600: darken(#f18a1e, 2),
    color-primary-700: darken(#f18a1e, 4),
    color-primary-800: darken(#f18a1e, 6),
    color-primary-900: darken(#f18a1e, 8),

    color-secondary: #1e4691,
    color-secondary-light: lighten(#1e4691, 30%),
    color-secondary-lighter: lighten(#1e4691, 10%),

    color-secondary-dark: #192b5c,

    text-basic-color: color-secondary,

    // Tabset
    tabset-tab-text-color: color-secondary,
    tabset-tab-active-text-color: color-primary-500,
    tabset-tab-active-underline-color: color-primary-500,
    tabset-tab-hover-text-color: color-primary-100,
    tabset-tab-hover-underline-color: color-primary-100,

    tabset-content-text-color: #1a2138,

    // Button
    color-primary-hover: color-primary-400,
    button-filled-primary-active-background-color: color-primary-100,
    button-filled-primary-active-border-color: color-primary-100,
    button-outline-primary-active-border-color: color-primary-100,
    button-outline-primary-active-text-color: color-primary-100,
    // Avatar img color on User profile page
    avatar-color: #1e4691,

    // Backgroud
    layout-window-mode-background-color: #e0ebf7,
    // layout-background-color: #e0ebf7,
    text-subtitle-color: #666666,
    layout-text-color: color-secondary,

    // Header
    user-name-text-color: color-secondary,
    user-title-text-color: color-secondary,
    header-background-color: #ffffff,
    header-text-color: color-secondary,
    lang-text-color: color-secondary,

    // Sidemenu
    sidebar-mobile-background-color: #ffffff,
    menu-text-color: color-secondary,
    menu-item-icon-color: color-primary-500,
    menu-item-active-text-color: color-primary-500,
    menu-item-icon-active-color: color-primary-500,
    sidebar-mobile-icon-color: color-primary-500,
    sidebar-mobile-text-color: color-secondary,

    //submenu
    menu-submenu-item-icon-active-color: color-primary-500,
    menu-submenu-item-active-text-color: color-primary-500,


    side-menu-avatar: color-secondary,
    theme-mode-color: color-secondary,

    hr-border-color: color-secondary-light,

    // Card
    card-text-color: #1a2138,
    card-header-text-color: color-secondary,

    // Input
    input-hover-border-color: color-secondary-dark,
    input-placeholder-text-color: #666666,
    select-option-text-color: #666666,
    input-text-color: #666666,

    // Footer
    footer-text-color: #666666,
    footer-background-color: transparent,
    footer-divider-width: 1px,
    footer-divider-style: solid,
    footer-divider-color: #dddddd,

     // Back Icon
     back-btn-icon-color: color-primary-500,

     powered-by-color: #585757,
     mangbtn-text-color: #636edf,
     mangbtn-bg-color: #c4cbf2,
     mangbtn-border-color:#636edf,
     policy-text-color: #1a2138,

    // For login screen
     text-color-label: #1e4691,
     user-text-label: #1e4691,
     text-color-header: color-primary-500,

     // Logo
    header-logo-height: 38px,
    header-logo-position: static,
    header-logo-top: unset,
    header-logo-mobile-top: unset,

     // Font Family
     font-family-primary: 'NeoSansArabicRegular'

  ),
  sec,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    lessons-completed-main-color: #298971,
    lessons-completed-bg-color: #4ad1afa8,

    lessons-remaining-main-color: #8ac63e,
    lessons-remaining-bg-color: #ece3ceea,

    quizzes-remaining-main-color:#1b8d95,
    quizzes-remaining-bg-color: #80d1c496,

    date-main-color: color-primary,
    date-bg-color: color-secondary-lighter,

    img-container-icon-fill-color: #4ad1af,
    img-container-icon-main-color:#298971,

    lessson-icon-normal-fill-color: #007a9b,
    lessson-icon-normal-bg-color: #c7cfd4c2,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: color-secondary,
    circle-percentage-color: color-secondary,

    report-main-color: color-primary,
    report-bg-color: color-secondary-lighter,

    wrong-bg-color: #ffe0e0,
    correct-bg-color: #e9ffe0,

    /*
    *
    * MOF Customization
    *
    */
    // Color themes
    color-primary : #015b4f,
    color-primary-100: lighten(#015b4f, 8),
    color-primary-200: lighten(#015b4f, 6),
    color-primary-300: lighten(#015b4f, 4),
    color-primary-400: lighten(#015b4f, 2),
    color-primary-500: #015b4f,
    color-primary-600: darken(#015b4f, 2),
    color-primary-700: darken(#015b4f, 4),
    color-primary-800: darken(#015b4f, 6),
    color-primary-900: darken(#015b4f, 8),

    color-secondary: #43ba84,
    color-secondary-light: lighten(#43ba84, 30%),
    color-secondary-lighter: lighten(#43ba84, 10%),

    color-secondary-dark: color-primary-900,

    text-basic-color: #015b4f,
    text-hint-color: #4e4e4e,

    // Tabset
    tabset-tab-text-color: color-secondary,
    tabset-tab-active-text-color: color-primary-500,
    tabset-tab-active-underline-color: color-primary-500,
    tabset-tab-hover-text-color: color-primary-100,
    tabset-tab-hover-underline-color: color-primary-100,

    tabset-content-text-color: #1a2138,

    // Button
    color-primary-hover: color-primary-400,
    button-filled-primary-active-background-color: color-primary-100,
    button-filled-primary-active-border-color: color-primary-100,
    button-outline-primary-active-border-color: color-primary-100,
    button-outline-primary-active-text-color: color-primary-100,
    // Avatar img color on User profile page
    avatar-color: color-secondary,

    // Backgroud
    layout-window-mode-background-color: #e0ebf7,
    // layout-background-color: #e0ebf7,
    text-subtitle-color: #666666,
    layout-text-color: #015b4f,

    // Header
    user-name-text-color: #015b4f,
    user-title-text-color: #015b4f,
    header-background-color: #ffffff,
    header-text-color: #015b4f,
    lang-text-color: color-secondary,

    // Sidemenu
    sidebar-mobile-background-color: #ffffff,
    menu-text-color: color-primary,
    menu-item-icon-color: color-secondary,
    menu-item-active-text-color: color-primary-500,
    menu-item-icon-active-color: color-secondary,
    sidebar-mobile-icon-color: color-secondary,
    sidebar-mobile-text-color: color-primary,

    //submenu
    menu-submenu-item-icon-active-color: color-secondary,
    menu-submenu-item-active-text-color: color-primary-500,


    side-menu-avatar: color-secondary,
    theme-mode-color: color-secondary,

    hr-border-color: color-secondary-light,

    // Card
    card-text-color: #1a2138,
    card-header-text-color: color-primary-500,

    // Input
    input-hover-border-color: color-secondary-dark,
    input-placeholder-text-color: #666666,
    select-option-text-color: #666666,
    input-text-color: #666666,

    // Footer
    footer-text-color: #666666,
    //footer-background-color: transparent,
    footer-divider-width: 1px,
    footer-divider-style: solid,
    footer-divider-color: #dddddd,

     // Back Icon
     back-btn-icon-color: color-primary-500,

     powered-by-color: #585757,

     mangbtn-text-color: color-primary,
     mangbtn-bg-color: color-secondary-lighter,
     mangbtn-border-color:color-primary,

     color-danger-700: #f66f5b,

     policy-text-color: #1a2138,
     link-text-color: #404040,

     // For login screen
     text-color-label: #404040,
     user-text-label: #404040,
     text-color-header: color-primary-500,

     // Logo
     header-logo-height: 67px,
     header-logo-position: fixed,
     header-logo-top: 1px,
     header-logo-mobile-top: 1px,

     // Font Family
     font-family-primary: 'DINNextLTArabic-Regular',

  ),
  mof,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    lessons-completed-main-color: color-primary,
    lessons-completed-bg-color: color-secondary-lighter,
    lessons-remaining-main-color: color-primary,
    lessons-remaining-bg-color: color-secondary-lighter,
    quizzes-remaining-main-color: color-primary,
    quizzes-remaining-bg-color: color-secondary-lighter,
    date-main-color: color-primary,
    date-bg-color: color-secondary-lighter,
    img-container-icon-fill-color: color-secondary-lighter,
    img-container-icon-main-color:color-primary,

    lessson-icon-normal-fill-color: color-primary-300,
    lessson-icon-normal-bg-color: color-secondary-lighter,
    icons-border-raduis: 4px,
    lessons-icons-width-height: 28px,

    video-mark-icon: color-secondary,
    circle-percentage-color: color-secondary,

    report-main-color: color-primary,
    report-bg-color: color-secondary-lighter,

    wrong-bg-color: #ffe0e0,
    correct-bg-color: #e9ffe0,

    /*
    *
    * GREEN Customization
    *
    */
    // Color themes
    color-primary : #015b4f,
    color-primary-100: lighten(#015b4f, 8),
    color-primary-200: lighten(#015b4f, 6),
    color-primary-300: lighten(#015b4f, 4),
    color-primary-400: lighten(#015b4f, 2),
    color-primary-500: #015b4f,
    color-primary-600: darken(#015b4f, 2),
    color-primary-700: darken(#015b4f, 4),
    color-primary-800: darken(#015b4f, 6),
    color-primary-900: darken(#015b4f, 8),

    color-secondary: #43ba84,
    color-secondary-light: lighten(#43ba84, 30%),
    color-secondary-lighter: lighten(#43ba84, 10%),

    color-secondary-dark: color-primary-900,

    text-basic-color: #015b4f,
    text-hint-color: #4e4e4e,

    // Tabset
    tabset-tab-text-color: color-secondary,
    tabset-tab-active-text-color: color-primary-500,
    tabset-tab-active-underline-color: color-primary-500,
    tabset-tab-hover-text-color: color-primary-100,
    tabset-tab-hover-underline-color: color-primary-100,

    tabset-content-text-color: #1a2138,

    // Button
    color-primary-hover: color-primary-400,
    button-filled-primary-active-background-color: color-primary-100,
    button-filled-primary-active-border-color: color-primary-100,
    button-outline-primary-active-border-color: color-primary-100,
    button-outline-primary-active-text-color: color-primary-100,
    // Avatar img color on User profile page
    avatar-color: color-secondary,

    // Backgroud
    layout-window-mode-background-color: #e0ebf7,
    // layout-background-color: #e0ebf7,
    text-subtitle-color: #666666,
    layout-text-color: #015b4f,

    // Header
    user-name-text-color: #015b4f,
    user-title-text-color: #015b4f,
    header-background-color: #ffffff,
    header-text-color: #015b4f,
    lang-text-color: color-secondary,

    // Sidemenu
    sidebar-mobile-background-color: #ffffff,
    menu-text-color: color-primary,
    menu-item-icon-color: color-secondary,
    menu-item-active-text-color: color-primary-500,
    menu-item-icon-active-color: color-secondary,
    sidebar-mobile-icon-color: color-secondary,
    sidebar-mobile-text-color: color-primary,

    //submenu
    menu-submenu-item-icon-active-color: color-secondary,
    menu-submenu-item-active-text-color: color-primary-500,


    side-menu-avatar: color-secondary,
    theme-mode-color: color-secondary,

    hr-border-color: color-secondary-light,

    // Card
    card-text-color: #1a2138,
    card-header-text-color: color-primary-500,

    // Input
    input-hover-border-color: color-secondary-dark,
    input-placeholder-text-color: #666666,
    select-option-text-color: #666666,
    input-text-color: #666666,

    // Footer
    footer-text-color: #666666,
    //footer-background-color: transparent,
    footer-divider-width: 1px,
    footer-divider-style: solid,
    footer-divider-color: #dddddd,

     // Back Icon
     back-btn-icon-color: color-primary-500,

     powered-by-color: #585757,

     mangbtn-text-color: color-primary,
     mangbtn-bg-color: color-secondary-lighter,
     mangbtn-border-color:color-primary,

     color-danger-700: #f66f5b,

     policy-text-color: #1a2138,

     // For login screen
     text-color-label: #404040,
     user-text-label: #404040,
     text-color-header: color-primary-500,

     // Logo
     header-logo-height: 67px,
     header-logo-position: fixed,
     header-logo-top: 1px,
     header-logo-mobile-top: 1px,

     // Font Family
     font-family-primary: 'DINNextLTArabic-Regular',

  ),
  Green_theme,
  default
);
