<div class="container m-0 p-0">
  <div class="d-flex align-middle" [ngClass]="{'flex-row-reverse': directionService.isRtl()}">
    <div class="d-inline-block">
      <div class="h-50" style="border-width: 2px!important;" [ngClass]="{'border-left': index > 0}"></div>
      <span class="position-absolute mt-auto" style="transform: translate(-45%, -50%);">
        <a (click)="loadLesson()">
        <strong>
          <span style="color: #3BD0C0" *ngIf="lesson.completed && lesson.completedQuiz"><i
            class="far fa-circle bg-white"></i></span>
          <span style="color: #FD3DED" *ngIf="lesson.completed && !lesson.completedQuiz"><i
            class="far fa-circle bg-white"></i></span>
          <span style="color: #FFBC2F" *ngIf="!lesson.completed"><i class="far fa-circle bg-white"></i></span>
        </strong>
        </a>
      </span>
      <div class="h-50" style="border-width: 2px!important;" [ngClass]="{'border-left': index < total - 1}"></div>
    </div>

    <div class="d-inline-block mt-2 container">
      <div class="d-flex border-bottom" [ngClass]="{'flex-row-reverse': directionService.isRtl()}">
        <div style="width: 120px" class="d-inline-block">
          <a (click)="loadLesson()">
            <img src="/app/photos/{{lesson.lesson_image}}" class="w-100" alt="...">
          </a>
        </div>

        <div class="pb-2 d-inline-block" [ngClass]="(directionService.isRtl()) ? 'mr-1' : 'ml-1'">
          <div class="d-flex justify-content-between" [ngClass]="{'flex-row-reverse': directionService.isRtl()}">
            <span class="title d-inline-block" style="font-family: Lato;">
              <strong>{{lesson.title}}</strong>
            </span>
            <span class="d-inline-block" style="font-size: 9pt;">
              <strong>
                <span style="color: #3BD0C0" *ngIf="lesson.completed && lesson.completedQuiz">{{'S48' | translate}}</span>
                <span style="color: #FD3DED" *ngIf="lesson.completed && !lesson.completedQuiz">{{'S49' | translate}}</span>
                <span style="color: #FFBC2F" *ngIf="!lesson.completed">{{'S47' | translate}}</span>
              </strong>
            </span>
          </div>
          <p class="text-justify m-0 pb-1" style="font-size: 9pt; line-height: normal; opacity: 30%;" [ngClass]="{'text-right': directionService.isRtl()}">
            {{lesson.description | slice: 0: 100}}
          </p>
          <div *ngIf="lesson.completedQuiz" class="text-primary" style="font-size: 8pt;">
            <span><i class="far fa-list-alt"></i><span class="pl-1">{{'S46' | translate}}</span></span>
          </div>
          <div *ngIf="lesson.completed && lesson.questions && lesson.questions.length > 0 && !lesson.completedQuiz"
               class="text-primary" style="font-size: 8pt;">
            <span><i class="far fa-list-alt"></i><span class="pl-1">{{'S51' | translate}}</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
