<a *ngIf="lesson" [routerLink]="['/pages/lesson/' + lesson.campaign + '/' + lesson.lesson.id]" id="lessonId" class="icon">
  <!-- Normal lesson icons below Please use it to swap between the Normal/Interactive lesson -->
  <svg *ngIf="!lesson.enable_interactions || !lesson.lesson.enable_interactions" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
    <defs>
      <clipPath id="clip-normal-icon">
        <rect width="20" height="20"/>
      </clipPath>
    </defs>
    <g id="normal-icon" clip-path="url(#clip-normal-icon)">
      <path id="Union_1" data-name="Union 1" d="M0,8a8,8,0,1,1,8,8A8,8,0,0,1,0,8ZM1.5,8A6.5,6.5,0,1,0,8,1.5,6.507,6.507,0,0,0,1.5,8Zm4.875,3.651V4.414L8.822,6.255l2.366,1.777L8.822,9.809Z" transform="translate(2 2)" fill="#438ed5" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
    </g>
  </svg>

  <!-- Interactive lesson below -->
  <svg class="svg-icon" *ngIf="lesson.enable_interactions && lesson.lesson.enable_interactions" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
    <defs>
      <clipPath id="clip-interactive-icon">
        <rect width="20" height="20"/>
      </clipPath>
    </defs>
    <g id="interactive-icon" clip-path="url(#clip-interactive-icon)">
      <path id="Icon_material-slow-motion-video" data-name="Icon material-slow-motion-video" d="M17.364,14.765l-2.446-1.841V20.16l2.446-1.841,2.366-1.777Zm0,0-2.446-1.841V20.16l2.446-1.841,2.366-1.777Zm0,0-2.446-1.841V20.16l2.446-1.841,2.366-1.777Zm-1.644-4.6V8.542a7.968,7.968,0,0,0-4.267,1.777l1.139,1.15a6.36,6.36,0,0,1,3.128-1.3ZM11.461,12.6,10.314,11.46a8.01,8.01,0,0,0-1.772,4.277h1.62A6.393,6.393,0,0,1,11.461,12.6Zm-1.3,4.744H8.542a8.01,8.01,0,0,0,1.772,4.277l1.147-1.15A6.334,6.334,0,0,1,10.162,17.346Zm1.291,5.419a8,8,0,0,0,4.267,1.777V22.918a6.36,6.36,0,0,1-3.128-1.3Zm13.089-6.223a8.045,8.045,0,0,1-7.178,8V22.918a6.434,6.434,0,0,0,0-12.752V8.542A8.045,8.045,0,0,1,24.542,16.542Z" transform="translate(-6.542 -6.542)" fill="#438ed5"/>
    </g>
  </svg>

</a>
<div class="description" *ngIf="lesson">
  <a id = "lesson" class="lesson-link"
  [routerLink]="['/pages/lesson/' + lesson.campaign + '/' + lesson.lesson.id]">
    {{ lessonTitle }}
  </a>
  <div class="caption" id = "lessonStatus">{{ lessonStatus | translate }}</div>
</div>
