@import '../../../../../../../@theme/styles/themes';


@include nb-install-component() {
  .svg-icon path {
    fill: nb-theme(lessson-icon-normal-fill-color);
  }
  .svg-icon {
    width: nb-theme(lessons-icons-width-height);
    height: nb-theme(lessons-icons-width-height);
    background-color: nb-theme(lessson-icon-normal-bg-color);
    font-size: 0.9em;
    padding: 2px;
    border-radius: nb-theme(icons-border-raduis);
    @include nb-rtl(margin-left, 8px !important);
    @include nb-ltr(margin-right, 8px !important);
  }
}

.description {
  flex: 0 1 79%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
