<ngx-spinner *ngIf="!user || !dataListReady"></ngx-spinner>
<div class="container-fluid">
<nb-card *ngIf="user" class="internalCard p-0 p-md-2">

    <nb-card-header *ngIf="!subModelID" class="newModelHeader">
        {{model.label | translate}}
    </nb-card-header>
    <nb-card-body class="pt-0">
    <form class="d-flex flex-column-reverse flex-md-row w-100" [formGroup]="defaultSearchForm">
        <div id="defaultSearchDiv" class="mt-3 mt-md-0 flex-grow-1">
            <div class="d-flex mr-auto d-flex" *ngIf="isDefaultSearch">
                <div class="d-flex">
                    <div class="mr-auto">
                    <!-- <label class="search-label" for="search">{{"Search" | translate}}:</label> -->
                    <input nbInput formControlName="search_data" shape="rectangle" class="shape-rectangle search-input" placeholder='{{"Search" | translate}}'>
                </div>
                <div class="px-1">
                    <button nbButton
                    status="primary"
                    [disabled]="clicked"
                    type="submit"
                    (click)="search()">
                    <nb-icon icon="search-outline" ></nb-icon>
                    </button>
                </div>
            </div>
            </div>
        </div>
        <div class="addModelBtn align-self-end align-self-md-baseline">
            <button nbButton class="btn btn-info addBtn"  routerLink="/pages/bread/new_model"
                [queryParams]="{model: model.name}" *ngIf="model.add.label && model.browse.model_tabs">
                <span class="addWeb"><i class="fas fa-plus"></i> {{model.add.label | translate}}</span><span class="addMobile"><i class="fas fa-plus"></i> {{model.add.label | translate}}
                </span>
            </button>

            <button nbButton class="btn btn-info" (click)="showModalNewModel(newModelModal)"
                *ngIf="model.add.label && !model.browse.model_tabs">
                <span class="addWeb">+ {{model.add.label | translate}}</span><span class="addMobile">+
                </span>
            </button>

        </div>
        <div class="row-custom confirm_group_btn" *ngIf="model?.confirm?.label && !model.browse.model_tabs">

            <button nbButton *ngIf="model?.reConfirm?.label" status="primary"
                (click)="showModal(reConfirm, subModelID,model.reConfirm.label)">
                <span>{{model.reConfirm.label | translate }}</span>
            </button>
            <button nbButton status="primary" (click)="getData()">
                <span>{{"Refresh" | translate }}</span>
            </button>

            <button nbButton status="primary" (click)="showModal(confirm, subModelID)">
                <span>{{ model.confirm.label | translate }}</span>
            </button>
        </div>
        <!-- reconfirm post -->
        <div class="row-custom confirm_group_btn" *ngIf="model?.confirmPost?.label && !model.browse.model_tabs">

            <button nbButton *ngIf="model?.reConfirmPost.label" status="primary"
                (click)="showModal(reConfirmPost, subModelID,model.reConfirmPost.label)">
                <span>{{model.reConfirmPost.label | translate }}</span>
            </button>
            <button nbButton status="primary" (click)="getData()">
                <span>{{"Refresh" | translate }}</span>
            </button>

            <button nbButton status="primary" (click)="showModal(confirmPost, subModelID)">
                <span>{{ model.confirmPost.label | translate }}</span>
            </button>
        </div>
        <!--  -->
    </form>

        <div *ngIf="model.advancedSearch">
            <div class="row-custom mt-1 mb-3">
                <button nbButton
                type="button"
                class="btn btn-link"
                (click)="toggleAdvancedSearch()">
                <span>
                    {{searchDivText | translate }}
                </span>
            </button>&nbsp; &nbsp; &nbsp;
            <button nbButton *ngIf="this.model.deleteBatch"
            [disabled]="this.tableData?.length ? false : true"
                    type="button"
                    class="btn btn-link"
                    style="width: 8rem;"
                    (click)="showModal(deleteBatchModal)"
                    >
                    {{"Delete" | translate }}
            </button>
            </div>
            <div *ngIf="isAdvancedSearch" id="advacedSearchDiv">
            <form [formGroup]="advancedSearchForm" class="searchForm row">
                <div class="form-group col-12 col-md-4" *ngFor="let inputValue of searchFormInputs">
                    <div>
                        <label for="{{inputValue.value}}" *ngIf="inputValue.type !== 'checkbox' && (inputValue.NotRequiredInAdd === null || !inputValue.NotRequiredInAdd)">{{inputValue.label | translate}}</label>
                        <input type="{{inputValue.type === 'date' ? 'date'
    : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput fullWidth shape="rectangle" placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number'" class="shape-rectangle">

                        <input type="time" nbInput fullWidth placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'" class="shape-rectangle">
                        <input type="file" nbInput fullWidth placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" *ngIf="inputValue.type === 'file'" (change)="uploadFile($event, inputValue.name)" class="shape-rectangle">
                        <ng5-slider *ngIf="inputValue.type === 'slider'" formControlName="{{inputValue.name}}" [options]="sliderOptions[inputValue.value]"></ng5-slider>

                    <div class="nbselectGroup"
                      *ngIf="inputValue.type === 'select' && inputValue.data.type === 'static'">

                       <select formControlName="{{inputValue.name}}" class="form-control" (ngModelChange)="updateSelectDisabledFields($event,inputValue)">
                        <option [ngValue]="null" *ngIf="inputValue.options.none">{{"None" | translate}}</option>

                          <option *ngFor="let o of inputValue.data.static"
                              value="{{o[inputValue.options.value] | translate}}}">
                              {{o[inputValue.options.display] | translate}}
                            </option>
                      </select>
                   </div>
                  <div class="nbselectGroup"
                      *ngIf="inputValue.type === 'select' && inputValue.data.type === 'remote'">

                      <select formControlName="{{inputValue.name}}" class="form-control">

                        <option [ngValue]="null" *ngIf="inputValue.options.none">{{"None" | translate}}</option>
                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                              value="{{o.id}}">
                              {{o.title || o.email}}</option>
                      </select>
                  </div>


                  <div class="nbselectGroup"
                  *ngIf="inputValue.type === 'radio' && inputValue.data.type === 'remote'">

                  <div class="form-check" *ngFor="let o of remoteSelectedOptions[inputValue.value]">
                      <input class="form-check-input" type="radio" value="{{o.id}}"
                          [checked]="modelForm.get(inputValue.name).value === o.id ? true: false"
                          formControlName="{{inputValue.name}}">
                      <label class="form-check-label">
                          {{o.title || o.email}}
                      </label>

                  </div>

                  </div>
                        <nb-select multiple *ngIf="inputValue.type === 'select-multiple'" formControlName="{{inputValue.name}}">
                            <nb-option *ngFor="let o of remoteMultipleSelectedOptions" value="{{o[inputValue.options.value]}}">
                                {{o[inputValue.options.display]}}</nb-option>
                        </nb-select>


                        <label for="{{inputValue.value}}" *ngIf="inputValue.type === 'checkbox' ">

                        <nb-checkbox [checked]="inputValue.checked" (checkedChange)="updateCheckBox(inputValue.name)" *ngIf="inputValue.type === 'checkbox'" class="checkbox"></nb-checkbox>

                            <span>{{inputValue.label | translate}}</span></label>

                        <div class="nbselectGroup"
                            *ngIf="inputValue.type === 'select-related'">

                            <select formControlName="{{inputValue.name}}" class="form-control" (ngModelChange)="updateSelectedRelated($event, inputValue.related)">

                                <option *ngFor="let o of remoteSelectRelated"
                                    value="{{o.id}}">
                                    {{o.title}}</option>
                            </select>
                        </div>

                        <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.required">
                            {{inputValue.label | translate}} {{"is required" | translate}}
                        </span>

                        <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.pattern">
                            {{inputValue.label | translate}} {{"Integer numbers" | translate}}
                        </span>

                        <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.email">
                            {{"Email format is invalid" | translate}}
                        </span>
                    </div>
                </div>
                <div class="btnGroupSave-custom d-flex flex-row-reverse col-12 mb-3">
                    <button nbButton
                        class="btn btn-info"
                        [disabled]="clicked"
                        style="width: 6rem;"
                        type="submit"
                        (click)="search()"
                    >
                        {{"Search" | translate }}
                    </button> &nbsp; &nbsp; &nbsp;
                    <button nbButton
                        type="reset"
                        class="btn btn-link"
                        style="width: 8rem;"
                        (click)="resetSearchInputs()"
                     >
                        {{"Reset Search" | translate }}
                    </button>
                </div>
            </form>
        </div>
        </div>

        <ng-template #newModelModal let-ref="dialogRef">

            <nb-card class="newModel">
                <nb-card-header class="newModelHeader">{{model.add.label | translate}}
                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">

                    <form [formGroup]="modelForm" class="modelForm">

                        <div class="form-group" *ngFor="let inputValue of model.add.input">

                            <div *ngIf="!inputValue.localizable; else localizable">

                                <label for="{{inputValue.value}}"
                                    *ngIf="inputValue.type !== 'checkbox'">{{inputValue.label | translate}}</label>
                                    <input type="{{inputValue.type === 'date' ? 'date' : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput fullWidth shape="rectangle" class="shape-rectangle" placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number'">
                                <input type="time" nbInput fullWidth
                                    placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                    formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">

                                <input type="file" nbInput fullWidth
                                    placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle"
                                    background-basic-color-3="#3366ff" *ngIf="inputValue.type === 'file'"
                                    (change)="uploadFile($event, inputValue.name)">

                                <editor class="editor-size" *ngIf="inputValue.type === 'editor'"
                                    [init]="{
                                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap | preview print | insertfile image media link anchor | ltr rtl',
                                plugins: 'autoresize fullpage print preview paste importcss searchreplace autolink directionality code visualblocks visualchars image link media table charmap hr pagebreak nonbreaking textcolor colorpicker anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help'}"
                                    formControlName="{{inputValue.name}}">
                                </editor>

                                <div class="nbselectGroup">
                                    <select class="form-control" *ngIf="inputValue.type === 'select'"
                                        formControlName="{{inputValue.name}}">
                                        <option *ngFor="let o of inputValue.data.static"
                                            value="{{o[inputValue.options.value]}}">
                                            {{o[inputValue.options.display]}}</option>
                                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                            value="{{o.id}}">
                                            {{o.title || o.email || o.name}}</option>
                                        <option [ngValue]="null"
                                            *ngIf="!remoteSelectedOptions[inputValue.value]?.length" [disabled]="true">
                                            {{inputValue.empty_message | translate}}</option>
                                    </select>
                                    <ngx-model  *ngIf="inputValue.type === 'check-multiple' && addingMultipleModel !== undefined" [model]="addingMultipleModel"
                                    [subModelID]="subModelID" (usersEvent)="receiveUsers($event)"
                                              class="internalCard">
                                     </ngx-model>

                                     <ngx-model-server-side *ngIf="inputValue.type === 'check-multiple_server_side' && addingMultipleModel !== undefined" [model]="addingMultipleModel"
                                     [subModelID]="subModelID" (usersEvent)="receiveUsers($event)"
                                               class="internalCard">
                                      </ngx-model-server-side>

                                    <select class="form-control" multiple *ngIf="inputValue.type === 'select-multiple'"
                                        formControlName="{{inputValue.name}}">
                                        <option [ngValue]="null" *ngIf="!remoteMultipleSelectedOptions.length"
                                            [disabled]="true">{{inputValue.empty_message | translate}}</option>
                                        <option *ngFor="let o of remoteMultipleSelectedOptions"
                                            value="{{o[inputValue.options.value]}}">
                                            {{o[inputValue.options.display]}}
                                        <option>
                                    </select>
                                </div>

                                <nb-radio-group formControlName="{{inputValue.name}}"
                                    *ngIf="inputValue.type === 'radio'">

                                    <nb-radio *ngFor="let o of inputValue.data.static"
                                        value="{{o[inputValue.options.value]}}">
                                        {{o[inputValue.options.display]}}</nb-radio>

                                    <nb-radio *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                        value="{{o.id}}">
                                        {{o.title || o.email}}</nb-radio>

                                </nb-radio-group>




                                <nb-checkbox [checked]="inputValue.checked"
                                    (checkedChange)="updateCheckBox(inputValue.name)"
                                    *ngIf="inputValue.type === 'checkbox'" class="checkbox"></nb-checkbox>

                                <label for="{{inputValue.value}}"
                                    *ngIf="inputValue.type === 'checkbox'">{{inputValue.label | translate}}</label>

                                <div class="nbselectGroup" *ngIf="inputValue.type === 'select-related'">

                                    <nb-select formControlName="{{inputValue.name}}"
                                        (ngModelChange)="updateSelectedRelated($event, inputValue.related)">

                                        <nb-option *ngFor="let o of remoteSelectRelated" value="{{o.id}}">
                                            {{o.title}}</nb-option>
                                    </nb-select>
                                </div>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'add')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name,'add')?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'add')?.touched && modelFormSubmitted) && returnFormKey(inputValue.name,'add')?.errors?.email">
                                    {{"Email format is invalid" | translate}}
                                </span>

                            </div>

                            <ng-template #localizable>

                                <div class="form-group" *ngFor="let lang of languages">

                                    <label for="{{inputValue.value}}">{{inputValue.label | translate}} ( {{lang.title}}
                                        )</label>

                                    <input
                                        type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}"
                                        shape="rectangle" class="shape-rectangle" nbInput fullWidth
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}{{lang.id}}"
                                        *ngIf="inputValue.type === 'text' || inputValue.type === 'email'">

                                    <span class="text-danger erroMsg"
                                        *ngIf="(returnFormKey(inputValue.name+lang.id,'add')?.touched || modelFormSubmitted) && returnFormKey(inputValue.name+lang.id,'add')?.errors?.required">
                                        {{inputValue.label | translate}} {{"is required" | translate}}
                                    </span>

                                </div>

                            </ng-template>


                        </div>

                        <div class="row justify-content-end mt-3">
                            <button nbButton class="btnOk" style="width: 6rem;" type="submit"
                                (click)="modelForm.valid ? ref.close(): null" (click)="addModel()">{{"Save" | translate
                                }}</button>
                            <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel"
                                | translate }}</button>

                        </div>

                    </form>

                </nb-card-body>
            </nb-card>
        </ng-template>

        <ng-template #delete let-data let-ref="dialogRef">
            <nb-card class="deleteModal">
                <nb-card-header>{{"Delete ?" | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you want to delete ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 deleteGroup">
                    <button nbButton class="btnOk" style="width: 6rem;" (click)="deleteModel(); ref.close()">{{"OK"
                        | translate }}</button>
                    <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>

        <ng-template #deleteBatchModal let-data let-ref="dialogRef">
            <nb-card class="deleteModal">
                <nb-card-header>{{"Delete ?" | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you want to delete ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 deleteGroup">
                    <button nbButton class="btnOk" style="width: 6rem;" (click)="deleteBatch(); ref.close()">{{"OK"
                        | translate }}</button>
                    <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>

        <ng-template #confirm let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{ "Send ?"| translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="confirmModel(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>
        <!-- DialogRef confirm post -->
        <ng-template #confirmPost let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{ "Send ?"| translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="confirmModelPost(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>
        <!--  -->
        <ng-template #reConfirm let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{headerDialog | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="reConfirmModel(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>
        <!-- reConfirm post -->
        <ng-template #reConfirmPost let-data let-ref="dialogRef">
            <nb-card class="dialogModal">
                <nb-card-header>{{headerDialog | translate}}</nb-card-header>
                <nb-card-body>{{"Are you sure you ?" | translate}}</nb-card-body>
                <div class="row justify-content-end mt-3 dialogGroup">
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                        (click)="reConfirmModelPost(); ref.close()">{{"OK" | translate }}</button>
                    <button nbButton class="btn btn-info" style="width: 6rem; margin: 0.5rem" (click)="ref.close()">{{"cancel" |
                        translate}}</button>
                </div>
            </nb-card>
        </ng-template>
        <!--  -->
        <ng-template #view let-data let-ref="dialogRef">
            <nb-card>
                <nb-card-body>
                    <div class="popUpHeader">

                        <div>
                            <label class="search-label" for="search">{{ data.title | translate}}</label>
                        </div>

                        <div class="closePopUpBtn">
                            <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                        </div>

                    </div>

                    <ng-container *ngIf="!sms_content">
                        <iframe style="border-style: none;width: 600px; height: 500px; overflow: auto; background-color: #ffffff; margin-top: 20px;" frameBorder="0"
                            [src]="activeContext"></iframe>
                    </ng-container>
                    <ng-container *ngIf="sms_content">
                        <div *ngIf="sms_content" style="width: 600px; max-width: 600px; min-height: 300px; overflow: auto;" class="pt-3 pb-4">
                            {{sms_content}}
                        </div>
                    </ng-container>

                </nb-card-body>
            </nb-card>
        </ng-template>
            <table style="width: 100%;" class="table table-hover" id="dataTable">

                <thead>
                    <tr>
                        <ng-container *ngFor="let c of tableColumns">
                            <th  class="sorting-icon" [ngClass]="{'clickable' : c.sortable, 'fixed-cell-width-fix' : c.type === 'delete'}"
                                (click)="c.sortable ? sortData(c.field) :false ">
                                <span> {{c.title | translate}}</span>
                                <nb-icon *ngIf="sortedColumn === c.field && c.sortDirection === 'asc'"
                                    icon="arrow-upward-outline" ></nb-icon>
                                <nb-icon *ngIf="sortedColumn === c.field && c.sortDirection === 'desc'"
                                    icon="arrow-downward-outline"></nb-icon>
                                    <nb-checkbox (checkedChange)="selectAll($event)" class="checkbox"
                                    [checked] = "checkedAll" id= "ccc"
                                    (click)="$event.stopPropagation();" *ngIf="c.type === 'checkbox'" ></nb-checkbox>

                                    <!-- <span>
                                        {{testValue}}</span> -->

                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData | paginate : paginationConfig"
                        [class.disabled]="(!model.browse.model_tabs && !model.browse.details && !model.has_internal_edit &&!model.has_inner_model_tabs) || model.name === 'license'"
                        (click)="model.browse.details  ? OpenDetails(view,data.id) : model.has_internal_edit ? showModalEditModel(editModelModal, data.id) : model.has_inner_model_tabs ? showModalInnerTabs(innerModelTabs, model.name, data.id) : OpenTabs(data.id)"
                        class="rowRoute">

                        <td  [class.checkbox-td] = "c.type === 'checkbox'" *ngFor="let c of tableColumns" [ngSwitch]="c.type">

                            <nb-checkbox (click)="$event.stopPropagation();" style="pointer-events: painted; cursor: cell;"
                            (checkedChange)="changeSelection($event,data.id)" [checked]="data.checked"
                            *ngIf="c.type === 'checkbox'" class="checkbox"></nb-checkbox>

                            <button *ngSwitchCase="'password'" nbButton status="primary" size="small"
                                (click)="openPasswordMenu(data.id)"><span>{{"Password" | translate }}</span></button>

                            <button *ngSwitchCase="'tabs'" nbButton status="primary" size="small"
                                (click)="openTabs(data.id, c.tabs)"
                                [style.display]="data[c.condition] == c.conditionValue ? 'inline-block' : 'none'"><span>{{c.title
                                    | translate}}</span></button>


                            <nb-icon *ngSwitchCase="'delete'" icon="trash-2-outline"
                                (click)="showModal(delete, data.id)" (click)="$event.stopPropagation()"
                                class="enabled deleteBtn" style="width: 3rem;"
                                [style.display]="(data[model.delete.condition] == model.delete.conditionValue )
                           || (data[model.delete.conditionNotEqual] && data[model.delete.conditionNotEqual] != model.delete.conditionValue) ? 'inline-block' : 'none'">
                            </nb-icon>
                            <button *ngSwitchCase="'confirm'" nbButton status="primary" size="small"
                                (click)="showModal(confirm, data.id)">
                                <nb-icon icon="email-outline"></nb-icon><span>{{"Confirm" | translate }}</span>
                            </button>

                            <button *ngSwitchCase="'html'" nbButton status="primary" size="small"
                                (click)="openHTML(view,data[c.field])">
                                <span>{{"View" | translate }}</span>
                            </button>

                            <span *ngSwitchCase="'embedded'"> {{data[c.field][c.deep]}} </span>

                            <span *ngSwitchCase="'editor'" [innerHTML]="data[c.field] | sanitizeHtml"></span>

                            <span *ngSwitchCase="'date'">{{data[c.field] | date}}</span>

                            <a
                                *ngSwitchCase="'download'"
                                [href]="this.parseDownloadLink(data.id)"
                                class="downloadBtn"
                                (click)="$event.stopPropagation()"
                            >
                                <nb-icon icon="download-outline"></nb-icon>
                            </a>
                            <a *ngSwitchDefault>
                                <span
                                    [ngClass]="{'trim-text': c.trim}"
                                    *ngIf="
                                        c.dynamicTranslate &&
                                        (c.dynamicTranslate === true || c.dynamicTranslate === 'true')
                                    "
                                >
                                    {{ (data[c.field] ? data[c.field] : c.default) | dynamicTranslate }}
                                </span>
                                <span
                                    [ngClass]="{'trim-text': c.trim}"
                                    *ngIf="
                                        !c.dynamicTranslate ||
                                        (
                                            c.dynamicTranslate &&
                                            (
                                                c.dynamicTranslate === false ||
                                                c.dynamicTranslate === 'false'
                                            )
                                        )
                                    "
                                >
                                    {{ (data[c.field] ? data[c.field]: c.default) | safeString | translate }}
                                </span>
                            </a>
                        </td>

                    </tr>

                </tbody>

                <tr>
                    <div *ngIf='allTableData?.total === 0'>
                        <td>
                            {{"No records found" | translate }}
                        </td>
                    </div>
                </tr>
            </table>

        <div class="footer">
            <div *ngIf="model.paging" class="paginationControl">
                <div class="dataTables_info" aria-live="polite">
                    <label> {{"Showing" | translate}} {{startIndex}} {{"to" | translate}} {{currentPageRows}} {{"of" |
                        translate}} {{allTableData?.total}} {{"entries" | translate}} </label>
                </div>
                <div>
                    <label>{{ "Show" | translate }}
                        <select
                            id="itemPerPageSelected"
                            style="width: 40%;"
                            class="custom-select custom-select-sm form-control form-control-sm"
                            (change)="selectChangeHandler($event)">
                            <option
                                *ngFor = "let perPage of perPagePaginationNumbers"
                                [value]='perPage'
                            >
                                {{perPage}}
                            </option>
                        </select> {{ "entries" | translate }}</label>
                </div>

                <pagination-controls
                    id="{{modelLabel}}"
                    responsive="true"
                    (pageChange)="pageChanged($event)"
                >
                </pagination-controls>
            </div>
            <p *ngIf="model.footer" class="footerMessage">{{model.footer.label | translate}}</p>

        </div>
        <nb-card *ngIf="passwordModelRequested">
            <nb-card-body class="example-items-col">

                <form [formGroup]="passwordForm" (ngSubmit)="passwordModel()">

                    <div class="form-group" *ngFor="let inputValue of model.password.input">

                        <label for="{{inputValue.value}}">{{inputValue.label | translate}}</label>

                        <input type="password" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                            placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.value}}">
                    </div>

                    <div class="btnGroup">

                        <button nbButton status="basic" class="btnCanel" (click)="openPasswordMenu()">{{"cancel" |
                            translate }}</button>
                        <button nbButton status="primary" type="submit" class="btnOk"
                            [disabled]="!passwordForm.valid">{{"Save" | translate }}</button>
                    </div>

                </form>

            </nb-card-body>
        </nb-card>
        <ng-template #editModelModal let-ref="dialogRef">

            <nb-card class="newModel" *ngIf="dataAvailable">
                <nb-card-header class="newModelHeader">{{model.edit.label | translate}}
                    <div class="closePopUpBtn">
                        <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">

                    <form [formGroup]="editForm" (ngSubmit)="editModel()">

                        <div class="form-group" *ngFor="let inputValue of model.edit.input">

                            <div *ngIf="!inputValue.localizable; else localizable">

                                <label for="{{inputValue.value}}"
                                    *ngIf="!inputValue.notRequiredInEdit && inputValue.type !== 'checkbox'">{{inputValue.label
                                    | translate}}</label>

                                <input type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'date' ? 'date'
            : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput
                                    fullWidth shape="rectangle" class="shape-rectangle" placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.name}}"
                                    *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number'">

                                <input type="time" nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                    placeholder="{{inputValue.placeHolder | translate}}"
                                    formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">

                                <editor *ngIf="inputValue.type === 'editor'"
                                    [init]="{
                                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap | preview print | insertfile image media link anchor | ltr rtl',
                                plugins: 'autoresize fullpage print preview paste importcss searchreplace autolink directionality code visualblocks visualchars image link media table charmap hr pagebreak nonbreaking textcolor colorpicker anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help'}"
                                    formControlName="{{inputValue.name}}">
                                </editor>

                                <div class="nbselectGroup"
                                    *ngIf="inputValue.type === 'select' && !inputValue.notRequiredInEdit">

                                    <select class="form-control" formControlName="{{inputValue.name}}">

                                        <option *ngFor="let o of inputValue.data.static"
                                            value="{{o[inputValue.options.value]}}" selected="inputValue.name">
                                            {{o[inputValue.options.display]}}</option>

                                        <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                            value="{{o.id}}" selected="inputValue.name">
                                            {{o.title}}</option>
                                    </select>
                                </div>

                                <label for="{{inputValue.value}}"
                                    *ngIf="!inputValue.notRequiredInEdit && inputValue.type === 'checkbox'">
                                    <nb-checkbox (checkedChange)="updateEditCheckBox(inputValue.name)"
                                        *ngIf="inputValue.type === 'checkbox'" class="checkbox"
                                        [checked]="editForm.get(inputValue.name).value === 1 ? true: false">
                                    </nb-checkbox>
                                    <span>
                                        {{inputValue.label | translate}}</span>
                                </label>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'edit')?.touched && editFormSubmitted) && returnFormKey(inputValue.name,'edit')?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>

                                <span class="text-danger erroMsg"
                                    *ngIf="(returnFormKey(inputValue.name,'edit')?.touched && editFormSubmitted) && returnFormKey(inputValue.name,'edit')?.errors?.email">
                                    {{"Email format is invalid" | translate}}
                                </span>
                            </div>

                            <ng-template #localizable>

                                <div *ngFor="let lang of languages" style="padding-top:15 px ;">

                                    <label for="{{inputValue.value}}">{{inputValue.label | translate }} ( {{lang.title}}
                                        )</label>

                                    <input
                                        type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}"
                                        nbInput fullWidth shape="rectangle" class="shape-rectangle"
                                        placeholder="{{inputValue.placeHolder | translate}}"
                                        formControlName="{{inputValue.name}}{{lang.id}}"
                                        *ngIf="inputValue.type === 'text' || inputValue.type === 'email'">

                                    <!--  <div class="nbselectGroup" *ngIf="inputValue.type === 'select'">

                  <nb-select formControlName="{{inputValue.name}}">

                    <nb-option *ngFor="let o of inputValue.data.static" value="{{o[inputValue.options.value]}}">
                      {{o[inputValue.options.display]}}</nb-option>

                    <nb-option *ngFor="let o of remoteSelectedOptions[inputValue.value]" value="{{o.id}}">
                      {{o.title || o.email}}</nb-option>
                  </nb-select>
                </div> -->

                                    <!-- <nb-select multiple *ngIf="inputValue.type === 'select-multiple'" formControlName="{{inputValue.name}}">
                  <nb-option *ngFor="let o of remoteMultipleSelectedOptions" value="{{o[inputValue.options.value]}}">
                    {{o[inputValue.options.display]}}</nb-option>
                </nb-select> -->

                                </div>

                            </ng-template>

                        </div>


                        <div class="row justify-content-end mt-3">
                            <button nbButton class="btnOk" style="width: 6rem;" type="submit"
                                (click)="editForm.valid ? ref.close(): null" (click)="editModel()">{{"Save" | translate
                                }}</button>
                            <button nbButton class="btnCancel" style="width: 6rem;" (click)="ref.close()">{{"cancel"
                                | translate }}</button>

                        </div>

                    </form>

                </nb-card-body>
            </nb-card>
        </ng-template>



        <ng-template #innerModelTabs let-ref="dialogRef">
            <div class="inner-model-tabs-div">
            <ngx-signle-model [activeInnerSingleModelID]="activeInnerSingleModelID"
                [activeInnerSingleModel]="activeInnerSingleModel" (closeParentModal)="ref.close()"
                (updateParentData)="getData()"></ngx-signle-model>
            </div>
        </ng-template>




        <nb-card *ngIf="innerTabRequested">
            <nb-card-body>

                <nb-tabset>
                    <nb-tab *ngFor="let modelTab of model.tabs[activeTab]" tabTitle={{modelTab.title|translate}}
                        [ngSwitch]="modelTab.type">
                        <ngx-model *ngSwitchCase="'relation'" [model]="subModel[modelTab.field]"
                            [subModelID]="activeTabID">
                        </ngx-model>

                        <ngx-user-wizard *ngSwitchCase="'wizard'" [wizard]="wizard" [subModelID]="activeTabID">

                        </ngx-user-wizard>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>

        <div *ngIf="templateHTML">
            <h4><strong>{{model.browse.docs.title | translate }}</strong></h4>
            <div [innerHTML]="templateHTML"></div>
        </div>

    </nb-card-body>
</nb-card>
</div>
