@import '../../../@theme/styles/themes';
@include nb-install-component {
nb-card-header.newModelHeader {
    color: nb-theme(color-primary);
}
table.table.table-hover {
    color: nb-theme(text-basic-color);  /* This will change the color when you switch the theme */
}
.table-hover tbody tr:hover {
    background-color: nb-theme(color-basic-200);
    color: nb-theme(text-basic-color);
}
.nbselectGroup select, select.custom-select {
    color: nb-theme(text-basic-color);
    background-color: nb-theme(input-background-color);
    border-color: nb-theme(input-border-color);
}
::ng-deep pagination-controls .current {
    background-color: nb-theme(smart-table-paging-bg-active);
    color: nb-theme(smart-table-paging-fg-active) !important;
}
::ng-deep pagination-controls li, ::ng-deep pagination-controls a {
    color: nb-theme(smart-table-paging-page-text-color);
}
}
// .row-custom {
//     margin: 0 -15px 0 0;
// }

button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
}

.search-label {
    display: block;
}

.search-input {
    margin-bottom: 1rem;
}

.noData {
    text-align: center;
}

.dataBtn {
    background-color: #0076a3;
    border-color: #0076a3;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 60px;
    span {
        color: white;
    }
}

.rowRoute:hover {
    cursor: pointer;
    background-color: #edf1f7;
}

.nbselectGroup {
    display: flex;
    flex-direction: column;

    nb-select {
        max-width: 100%;
    }

}

label {
    font-weight: 600;
}

.newModel {
    // position: absolute;
    // bottom: -2%;
    // top: 2%;
   // width: 500px;
   min-width: 800px;
   max-width: 800px;
   max-height: 85vh;
   @media screen and (max-width: 772px) {
    //    min-width:initial;
       min-width: unset;
       max-width: 100% !important;
   }
    // left: 30%;
}

::ng-deep {
    nb-dialog-container {
        overflow-x: auto;
    }
}

// ::ng-deep {
//     .nb-theme-default [nbInput] {
//         background-color: white;
//     }
//     .nb-theme-default nb-select.appearance-outline .select-button {
//         background-color: white;
//         border-color: #e0dcdc;
//     }
// }

::ng-deep {
    .page-item.active .page-link {
        background-color: #17a2b8 !important;
    }
}

::ng-deep {
    .nb-theme-default a {
        color: #17a2b8;
    }
}

.modelTable {
    table-layout: fixed;
}

.viewContainer {
    display: flex;
    max-width: 700px;
    max-height: 800px;
    width: 100%;
    //height: 100%;
    padding: 1rem;
    overflow: auto;
}


.BtnContainer {
    margin-top: 1rem;
    .btnTab {
        padding-right: 3rem;
    }
}

.searchContainer, .popUpHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searchContainer {
    @media screen and (max-width: 768px) {
        .search-input {
            width: 100%;
            max-width: 100%;
        }
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.modelForm {
    @media screen and (min-width: 772px) {
        padding: 1rem;
    }
}


.checkbox {
    margin-right: -1rem;
}

::ng-deep {
    .dataTables_empty {
        display: none;
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.enabled {
    pointer-events: all;
    cursor: pointer;
}

.clickable {
    pointer-events: painted;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
        width: 33.333%;
    }
}

@media screen and (min-width: 600px) {
    .nb-column-name {
        width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
        width: 23%;
    }
}

.checkbox {
    padding-left: 0.5rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: red !important;
    border-color: red !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active {
    outline: none;
    background-color: red !important;
    background: red !important;
    box-shadow: inset 0 0 3px #111;
}

.deleteModal {
    max-height: calc(100% - 1px);
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    z-index: 1101;
    padding: 1rem;
}

.deleteGroup {
    border-top: 1px solid #edf1f7;
    padding-top: 1rem;
}

.btnCancel {
    margin: 0.5rem;
}

.btnOk {
    margin: 0.5rem;
}

.paginationControl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
}

.footerMessage {
    font-weight: bold;
}

.erroMsg {
    display: block;
    margin-top: 0.2rem;
}

.downloadBtn {
    margin-left: 20%;
    nb-icon {
        color: black !important;
    }
}

.internalCard {
    box-shadow: none !important;
}

@media screen and (max-width: 767px) {
    .search-input {
        width: 10rem;
    }
    .internalCard {
        min-width: 260px;
    }
    .addModelBtn , .closePopUpBtn {
        display: flex;
        align-items: center;
    }
    .addWeb {
        display: none;
    }
    .newModel {
        width: auto;
    }
    // .deleteBtn {
    //     color: black !important;
    // }
    .deleteModal {
        width: auto;
    }
    // .addBtn {
    // //   margin-right: 1rem;
    // //   margin-left: 1rem;
    //   margin-top: 0.8rem;
    // }

    .internalCard nb-card-body {
        overflow-x: hidden;
    }
    table.table-hover {
        overflow-x: auto;
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .addMobile {
        display: none;
    }



}

@include nb-install-component() {
    .confirm_group_btn {
        @media screen and (max-width: 772px) {
            margin: 0 -7.5px 8px;
            display: flex;
            flex-direction: column;
        }

        button {
            margin: 0 0.5rem;
            @media screen and (max-width: 772px) {
                margin: 0.5rem;
            }
            @media screen and (max-width: 501px) {
                margin: 0.5rem;
            }
        }

        @media screen and (min-width: 992px) {
            @include nb-ltr(margin-left, auto !important);
            @include nb-rtl(margin-right, auto !important);
        }
    }

    nb-card {
        transform: translate3d(0, 0, 0);
    }
    // input {
    //     font-weight: 400 !important;
    //     background-color: white !important;
    //     border-radius: 0.75rem;
    //     border-color: #e0dcdc;
    // }

}
select option:empty {
    display:none;
  }

.dialogModal {
    max-height: calc(100% - 1px);
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    max-width: 100%;
    z-index: 1101;
    padding: 1rem;
}

.dialogGroup {
    border-top: 1px solid #edf1f7;
    padding-top: 1rem;
}

.fixed-cell-width-fix {
    width: 80px;
}
.trim-text {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

.checkbox-td {
    width: 10px;
}

.sorting-icon {
    white-space: nowrap;
}

.editor-size,
.inner-model-tabs-div {
 width: 900px;
 max-width: 85vw;
}

.margin-1 {
    margin-top: -2px;
    margin-bottom: -2px;
}
