@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
    .wrong {
        background-color: nb-theme(wrong-bg-color);
    }
    .correct {
        background-color: nb-theme(correct-bg-color);
    }
}
.disabled {
    cursor: not-allowed; /* aesthetics */
    pointer-events: none;
}

.buttons {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.prev {
    grid-column-start: 0;
}

.next {
    grid-column-start: 3;
}

.btnDisabled {
    background-color: grey;
    border-color: grey;
}
