<nb-card class="col-md-12 col-lg-12 col-xxxl-12 pl-0 pr-0"
  [ngClass]="{'correct': isCurrentAnswerCorrect, 'wrong': !isCurrentAnswerCorrect}">
  <nb-card-body>
    <nb-stepper #stepper start orientation="horizontal" disableStepNavigation>
      <nb-step start *ngFor='let question of questions; let i= index'>
        <h3 start [innerHTML]="question.title" style="font-size: 1.2rem !important;"></h3>
        <div start class="demo-items" *ngFor='let answer of question.answers'>
          <nb-radio-group name="question_{{question.id}}" start>
            <nb-radio class="disabled" start value="{{answer.id}}"
              [checked]="question.user_answer && answer.id === question.user_answer.answer"
              style="font-size: 1rem !important;">
              {{answer.title}}
            </nb-radio>
          </nb-radio-group>
        </div>
        <div class="buttons">
          <button nbButton class="prev" status="primary" [disabled]='i === 0' [class.btnDisabled]="i === 0"
            (click)="setIsCurrentQuestionCorrect(currentQuestionIndex-1)" nbStepperPrevious>{{'S26' |
            translate}}</button>
          <button nbButton class="next" status="primary" [disabled]='i === questions.length - 1' [class.btnDisabled]="i === questions.length - 1"
            (click)="setIsCurrentQuestionCorrect(currentQuestionIndex+1)" nbStepperNext>{{'S27' | translate}}</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>