<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle d-flex align-items-start justify-content-start">
      <i class="fa fa-bars" style="font-size: x-large"></i>
    </a>
    <ngx-logo></ngx-logo>
    <!-- <a class="logo" href="#" (click)="navigateHome()"><img src='/app/logo.png'/></a> -->
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <ngx-theme-mode></ngx-theme-mode>
<!--  <ngx-help class="item p-2" *ngIf="help_enabled"></ngx-help>-->

  <ngx-language class="item p-2"></ngx-language>

  <!-- <ngx-notifications class="item p-2" style="position: relative">
  </ngx-notifications> -->


  <ngx-user-dropdown class="item p-2 hide-on-desktop"></ngx-user-dropdown>

</div>
