<div class="container">

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Unauthorized Access
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="alert alert-danger" role="alert">
            <strong>You shall not paaaasssss!!!</strong>
        </div>
    </div>
</div>