<div [ngSwitch]="viewToShow" class="container">
  <div *ngSwitchCase="getViewToShow().Error">
    <div class="grid" id="QuestionError">
      <div>
        <h3 id="error-msg"> {{'ExamFormError' | translate}} </h3>
      </div>
      <div>
        <button nbButton status="primary" class="btn-primary-testing primary-btn-centered pr-3 pl-3" (click)="goHome()">
          {{'S10' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="getViewToShow().SubmitError">
    <div class="grid" id="submitError">
      <div>
        <h3 id="error-msg"> {{'ExamSubmitError' | translate}} </h3>
      </div>
      <div>
        <button nbButton status="primary" class="btn-testing btn-primary-testing primary-btn-centered pr-3 pl-3" (click)="goHome()">
          {{'S10' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="getViewToShow().ShowQuestions">
    <ngx-questions id="QuestionForm" (submitted)="onExamSubmitted($event)" [questions]="questions"></ngx-questions>
  </div>
  <div *ngSwitchCase="getViewToShow().ShowAnswers">
    <ngx-exam-answers id="QuestionAnswers" [campaign]="campaign"></ngx-exam-answers>
  </div>
  <div *ngSwitchCase="getViewToShow().Hidden"></div>
</div>
