.container {
  margin-top: 2rem;
}

.grid {
    padding: 1rem;
    display: grid;
    justify-items: center;
    align-content: center;
    height: 80vh;
    gap: 0.5rem;
}

:host ::ng-deep .outer-circle {
  right: 0 !important;
}

:host ::ng-deep .inner-circle {
  right: 0 !important;
}

.error {
  margin: 35px 0;
}

.error button {
  margin: 10px 45%;
}
