<div #ref>
  <div id="has-policies" *ngIf="hasPolicies && !watchLesson">
    <nb-card class="card">
      <nb-card-body>
        <h5 class="text-center">
          {{ 'Watched but has policy' | translate }}
        </h5>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- *ngIf="!watching_completed && has_video && showView" -->
  <div *ngIf="showVideoUI">
    <video #myVideo class="lesson-video" *ngIf="lesson.enable_interactions == 0" controls controlsList="nodownload" oncontextmenu="return false;"
      [autoplay]="this.watchLesson">
      <source *ngIf="videoSrc" src="{{videoSrc}}" type="video/mp4">
      {{'S2' | translate}}
    </video>

    <ngx-interactive-lesson class="lesson-video lesson-player" (watched)="onLessonEnd()" [lesson]="lesson" *ngIf="lesson.enable_interactions == 1"></ngx-interactive-lesson>

    <div *ngIf="!has_video && showView" class="lesson-no-video">
      <p class="text-center">{{'S1' | translate}}</p>
    </div>
    <div class="col-md-12" style="margin-top: 20px;padding-left: 0 !important;padding-right: 0 !important;">
      <nb-card class="card video_lesson">
        <nb-card-header id="title" class="display-6 pt-4 mt-2 mb-0">{{campaign.title}} | {{ lesson ? lesson.title : '' }}</nb-card-header>
        <nb-card-body *ngIf="lesson.description">
          <p id="description">{{ lesson ? lesson.description : '' }} </p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div id="video-end" *ngIf="showEnd && !hasPolicies" class="backgroundColor-dark w-100 mr-auto ml-auto menu-options">
    <div class="d-flex flex-column align-items-center pt-lg-5 pb-lg-5">
      <svg xmlns="http://www.w3.org/2000/svg" width="70.5" height="70.5" viewBox="0 0 70.5 70.5">
        <defs>
        </defs>
        <path class="a" d="M0,0H70.5V70.5H0Z" />
        <path class="b"
          d="M52.081,9.732,47.939,5.59,29.315,24.214l4.142,4.142ZM64.536,5.59,33.457,36.669,21.178,24.419l-4.142,4.142L33.457,44.982l35.25-35.25ZM.41,28.561,16.831,44.982l4.142-4.142L4.581,24.419Z"
          transform="translate(0.794 10.831)" />
      </svg>
      <h4 class="text-center pb-3">
        {{'S3' | translate}}
      </h4>
      <h4> {{campaign.title}} | {{ lesson ? lesson.title : '' }} </h4>
      <div class="mt-lg-4 w-100 row justify-content-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="container">
            <button nbButton outline status="primary" class="w-100 btn-mode" (click)="goHome()">
              {{'S4' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="lesson.questions && !lesson.completedQuiz" class="col-md-4 col-sm-6 col-xs-12 start-quiz">
          <div class="container">
            <span class="w-100" *ngIf="!lesson.questions"></span>
            <button nbButton status="primary" id="quiz-btn" class="w-100 btn-mode" (click)="gotoQuiz()">{{'S5' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="(lesson.completedQuiz || !lesson.questions) && hasNextLesson()"
          class="col-md-4 col-sm-6 col-xs-12 next-lesson">
          <div class="container">
            <span class="w-100" *ngIf="!lesson.questions"></span>
            <button nbButton status="primary" class="w-100 btn-mode" id="next-lesson-btn" (click)="gotoNextLesson()">
              {{'S6' | translate}}
            </button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 watch-again">
          <div class="container">
            <button nbButton outline status="primary" id="watch-again-btn" class="w-100 btn-mode" (click)="watchAgain()">
              {{'S7' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
