@import '../../../@theme/styles/themes';
$exam-bg-color: #c4cbf2;
$exam-main-color: #636edf;

@include nb-install-component {
  .backgroundColor-dark {
    background-color: nb-theme(card-background-color);
    margin-bottom: 2rem;
  }

  .lesson-video {
    background-color: nb-theme(card-background-color);
    border-radius: nb-theme(card-border-radius);
    box-shadow: nb-theme(card-shadow);
    max-height: 50vh;
    max-width: 100%;
    width: 100%;
    border: 0 px;
  }

  .a {
    fill: none;
  }

  .b {
    fill: nb-theme(video-mark-icon);
  }

  @media only screen and (max-width: 480px) {
    .video_lesson, .video_lesson nb-card-header {
      background-color: transparent !important;
      box-shadow: none;
      border: none;
      padding: 0 4px 4px 3px !important;
  }
  
  .video_lesson nb-card-body {
    padding: 0.75rem 0 1rem 0.4rem !important;
  }

  .menu-options {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
  }
}

.lesson-player {
  background-color: transparent;
  max-height: 50vh;
  max-width: 100%;
  width: 100%;
  border: 0 px;
  display: inline-block;
}

.lesson-video {
  max-height: 50vh;
  max-width: 100%;
  width: 100%;
  border: 0 px;
}

.container {
  margin-bottom: 15px !important;
}

.watched {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20%;
}

.watched p {
  flex: 0 1 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 50px;
  display: block;
}

.watched button {
  padding: 0.75rem 1.25rem;
  background-color: #636edf;
  color: #c4cbf2;
  border: none;
  border-radius: 5px;
}

.lesson-no-video {
  background-color: rgb(75, 70, 70);
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  width: 100%;
  border: 0 px;
  margin: auto;

}
.lesson-no-video p {
  padding-top:15%;
  font: bold;
  font-size: large;
  color: white;
}

video {
  width: 100%;
}
