@import '../../@theme/styles/themes.scss';
@include nb-install-component {
    strong span, span.title {
        color: ng-theme(color-primary);
    }
    span {
        color: nb-theme(policy-text-color);
    }
}
