@import '../../../@theme/styles/themes';
@include nb-install-component() {
  .lang {
    // text-decoration: underline;
    color: nb-theme(user-name-text-color);
    // color: rebeccapurple;
    &:hover {
      opacity: 0.8;
    }
  }
}

.border-0.bg-transparent:focus {
  box-shadow: none;
  outline: none;
}
