<div *ngIf="currentLanguage === 'en'">
  <button class="border-0 bg-transparent"  (click)="changeLanguage('ar')">
    <span class="lang">عربي</span>
  </button>
</div>
<div *ngIf="currentLanguage === 'ar'">
  <button class="border-0 bg-transparent"  (click)="changeLanguage('en')">
    <span class="lang">English</span>
  </button>
</div>
