<div class="container-fluid nopadding">
  <div class="row">
    <!--Profile Picture & User Details   -->
    <div class="col-sm-3 conditionalhide">
      <nb-card accent="info" size="large" class="p-0 p-md-2">
        <nb-card-body class="card-body">
          <div class="border change-avatar text-center keep-ration-avatar">
            <div class="side-avatar-container">
              <img *ngIf="sideAvatar" [src]="sideAvatar" class="" id="side_avatar"/>
            </div>
          </div>
          <br />
        </nb-card-body>
      </nb-card>
    </div>
    <!--Profile Picture & User Details--END-->
    <!--User Data & Conditional Change Password-->
    <div class="col-sm-9 col-xs-12">
      <nb-card size="large" [nbSpinner]="is_loading">
        <nb-card-body class="user-profile-tabs">
          <nb-tabset fullWidth >
            <nb-tab [tabTitle]="'S54' | translate" class="spacing custom">
              <div class="row mt-2">
                <label class="col-xs-12" for="Username">{{ 'S55' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="Username"
                  value="{{user?.username}}" />
              </div>
              <div class="row mt-2">
                <label class="col-xs-12" for="Full Name">{{ 'S56' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="Full Name"
                  value="{{user && user.first_name ? user.first_name : ''}} {{user && user.last_name ? user.last_name : ''}}" />
              </div>

              <div class="row mt-2">
                <label class="col-xs-12" for="PhoneNumber">{{ 'Phone Number' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="PhoneNumber"
                       value="{{user?.phone_number}}" />
              </div>

              <div class="row mt-2">
                <label class="col-xs-12" for="Email">{{ 'S103' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="Email"
                  value="{{user?.email}}" />
              </div>
              <div class="row mt-2">
                <label class="col-xs-12" for="Departments">{{ 'S111' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="Departments"
                  value="{{user && user.departmentName ? user.departmentName : ''}}" />
              </div>
              <div class="row mt-2">
                <label class="col-xs-12" for="Groups">{{ 'S57' | translate }}</label>
                <input class="col-xs-12" type="text" nbInput fullWidth disabled id="Groups"
                  value="{{user && user.groups ? user.groups : ''}}" />
              </div>
            </nb-tab>
            <nb-tab [tabTitle]="'S41' | translate" class="spacing" *ngIf="inline">
              <div class="row mt-2">
                <label class="col-xs-12" for="currentpassword">{{ 'S58' | translate }}</label>
                <input class="col-xs-12" type="password" nbInput fullWidth id="currentpassword"
                  name="currentpassword" [(ngModel)]="current_password" required />
              </div>
              <div class="row mt-2">
                <div class="col-xs-12">
                  <label class="col-xs-12" for="newpassword">{{ 'S59' | translate }}</label>
                  <button (click)="togglePolicy()" class="btn btn-flat btn-sm bg-transparent"><i
                    class="fa fa-info-circle text-info"></i></button>
                </div>
                <input class="col-xs-12" type="password" nbInput fullWidth id="newpassword"
                  name="newpassword" [(ngModel)]="password" />
              </div>
              <div class="row mt-2 mb-12">
                <label class="col-xs-12" for="confirmpassword">{{ 'S39' | translate }}</label>
                <input class="col-xs-12" type="password" nbInput fullWidth id="confirmpassword"
                  name="confirmpassword" [(ngModel)]="password_confirmation" />
              </div>
              <div class="row mt-2 mb-12">
                <ngx-captcha class="col-12 p-0" *ngIf="this.captchaStatus && this.reloadCaptcha" username="" usage="fpw"
                  (submit)="this.captchaSubmitted($event)" (refresh)="this.captchaReloaded()"></ngx-captcha>
              </div>
              <div class="alert alert-warning mt-2" *ngIf="this.captchaErrorMessage">
                {{captchaErrorMessage | translate }}
              </div>
              <div class="row justify-content-end mt-3 btn-container">

                <div class="form-group alert alert-success col-sm-12 col-md-6" *ngIf="showPolicy">
                  <h6>{{'Password Criteria' | translate }} :</h6>
                  - {{'password_min_length_criteria' | translate }} <br/>
                  - {{'password_lettercase_criteria' | translate }} <br/>
                  - {{'Numeric character' | translate }} (0-9).<br/>
                  - {{'Special character' | translate }}<br/>
                </div>

                <div [class]="currentLangRTL ? 'mr-auto' : 'ml-auto'">
                  <button type="button" nbButton outline status="primary" style="width: 6rem;" class="mr-3 ml-3" (click)="resetFields()">
                    {{ 'S60' | translate }}
                  </button>
                  <button type="button" nbButton status="primary" style="width: 6rem;"
                    [disabled]="captchaStatus && !submitButtonEnabled"
                    (click)="changePassword()">
                    {{ 'S61' | translate }}
                  </button>
                </div>

              </div>
            </nb-tab>
            <nb-tab [tabTitle]="'Change Avatar' | translate" class="spacing">

              <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 border p-4 p-md-5 rounded">
                  <div class="d-flex flex-md-row flex-column-reverse">
                    <!-- Upload/Remove buttons -->
                    <div class="d-flex align-content-end flex-column avatar-action-buttons">
                      <label type="button" class="btn btn-primary mb-2">
                        <nb-icon icon="upload-outline"></nb-icon> {{ 'Upload photo' | translate }}
                        <input class="col-xs-12"
                        type="file"
                        nbInput
                        fullWidth
                        id="Avatar"
                        accept="image/.png, .jpg, .jpeg"
                        name="avatar"
                        (change)="changeAvatar($event)"
                        imageUpload [resizeOptions]="resizeOptions"
                        style="display: none;"
                  />
                      </label>
                      <button (click)="removeAvatar()" nbButton status="danger" outline class=""><nb-icon icon="trash-2-outline"></nb-icon> {{ 'remove' | translate }}</button>

                      <span class="text-danger erroMsg"
                      *ngIf="!validFile">
                      {{"Invalid avatar image" | translate}}
                  </span>
                    </div>
                    <div class="flex-grow d-flex justify-content-center justify-content-md-end mb-3 mb-md-0">
                      <div class="mt-2 d-flex flex-column change-avatar-container m-0">
                        <label class="border change-avatar text-center">
                            <img *ngIf="base64textString" [src]="base64textString" id="display-image"/>
                            <img *ngIf="!base64textString && avatar" [src]="avatar.base64_image" class=""/>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- <div class="mt-2 d-flex flex-column change-avatar-container">
                <div class="edit-avatar-btn">
                  <nb-icon icon="edit-outline"></nb-icon>
                </div>

                <label class="change-avatar text-center">
                    <img *ngIf="base64textString" [src]="base64textString" id="display-image"/>
                </label>
              </div> -->

              <div class="row mt-2 d-flex flex-column">
                <!-- <label type="button" class="btn btn-info">
                  {{ "Choose an Avatar" | translate }}
                    <input class="col-xs-12"
                           type="file"
                           nbInput
                           id="Avatar"
                           accept=".png, .jpg, .jpeg"
                           name="avatar"
                           (imageSelected)="changeAvatar($event)"
                           imageUpload [resizeOptions]="resizeOptions"
                           style="display: none;"
                    />
                </label> -->


                <!-- <div class="text-center w-100">
                  <img *ngIf="base64textString" [src]="base64textString" class="mt-4 rounded img-fluid" id="display-image"/>
                </div> -->
              </div>
              <div class="row justify-content-end mt-3">
                <button nbButton outline status="primary" class="mr-3 ml-3" (click)="rollbackAvatar()">{{ "Cancel" | translate}}</button>
                <button nbButton status="primary" type="button" class="btn btn-info" id="upload-avatar-btn" style="width: 6rem;" (click)="uploadAvatar()" >
                  {{ 'S61' | translate }}
                </button>
              </div>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
    <!--User Data & Conditional Change Password END-->
  </div>
</div>
