@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .edit-avatar-btn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #ffffff;
    background-color: nb-theme(color-primary-500);
    border: 1px solid #ffffff;
    padding: 0;
    position: absolute;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  // .change-hover,
.change-hover:hover {
  cursor: pointer;
  cursor: hand;
  &::before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100%25" height="100%25" viewBox="0 0 24 24" class="eva eva-edit-outline" fill="%23ffffff"%3E%3Cg data-name="Layer 2"%3E%3Cg data-name="edit"%3E%3Crect width="24" height="24" opacity="0"%3E%3C/rect%3E%3Cpath d="M19.4 7.34L16.66 4.6A2 2 0 0 0 14 4.53l-9 9a2 2 0 0 0-.57 1.21L4 18.91a1 1 0 0 0 .29.8A1 1 0 0 0 5 20h.09l4.17-.38a2 2 0 0 0 1.21-.57l9-9a1.92 1.92 0 0 0-.07-2.71zM9.08 17.62l-3 .28.27-3L12 9.32l2.7 2.7zM16 10.68L13.32 8l1.95-2L18 8.73z"%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    ;
    // background-color: aqua;
    display: block;
    width: 40%;
    height: 40%;
    z-index: 5;
    position: absolute;
    top: calc(100% / 2 - 20%);
    left: calc(100% / 2 - 20%);
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: nb-theme(color-primary-500);
    opacity: 0.7;
    z-index: 4;
    position: absolute;
    border-radius: 50%;
    }
  }

  ::ng-deep .custom-style {
    border-style: nb-theme(input-border-style);
    border-width: nb-theme(input-border-width);
    color: nb-theme(input-text-color);
    background-color: nb-theme(input-background-color);
    border-color: nb-theme(input-border-color);
    &:focus {
      outline: none;
      border-color: nb-theme(input-focus-border-color);
      box-shadow: 0 0 0 nb-theme(input-outline-width) nb-theme(input-outline-color);
    }
    &:hover {
      border-color: nb-theme(input-hover-border-color);
    }

  }

  ::ng-deep .captcha-img {
    width: 25%;
  }

  label[type=button] {
    background-color: nb-theme(button-filled-primary-background-color);
    color: nb-theme(button-filled-primary-text-color);
    border-color: nb-theme(button-filled-primary-border-color);
  }

  label {
    color: nb-theme(user-text-label);
  }
}


.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacing {
  margin-top: 1rem;
}

.side_avatar {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 576px) {
  .conditionalhide {
    display: none;
  }
  .nopadding {
    position: relative;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}

@media screen and (max-width: 425px) {
  ::ng-deep .user-profile-tabs > nb-tabset > ul > li.tab > a.tab-link {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 330px) {
  ::ng-deep .user-profile-tabs > nb-tabset > ul {
    flex-direction: column !important;
  }

  ::ng-deep .user-profile-tabs > nb-tabset > ul > li.tab > a.tab-link {
    padding: 1rem 2rem;
    justify-content: center;
  }
}

@media screen and (max-width: 343px) {
  .btn-container {
    margin-top: 2rem !important;
    flex-direction: column;
    align-items: center;
  }
}

.change-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #000000 url('assets/images/default-avatar.png') center no-repeat;
  background-size: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

.change-avatar-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  align-items: end;
  nb-icon {
    width: 18px;
    height: 18px;
    margin-top: 2px;
  }
}

.avatar-action-buttons {
  justify-content: center;
  // align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.keep-ration-avatar {
  width: 100%;
  height: auto;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  // }
}
.larg-edit-btn.edit-avatar-btn {
  width: 34px;
  height: 34px;
  z-index: 3;
  top: 0;
  nb-icon {
    font-size: 1.6rem;
    width: 22px;
    height: 22px;
    margin-top: 4px;
  }
}

.side-avatar-container {
  display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
