<div class="row mb-4">
  <!-- <div class="col-12 d-block d-xl-none d-lg-none d-md-none text-center pt-3">
    <a routerLink="../campaigns" class="btn btn-outline-primary px-5 pb-4">{{'Manage' | translate}}</a>
  </div> -->

  <div class="col-12 col-xl-8 col-lg-8 d-flex align-items-center mt-4 mb-2">
    <h3 id="campaignTitle" class=" flex-grow-1 no-margins"> {{'Training Campaigns' | translate}} </h3>
    <a routerLink="../campaigns" nbbutton
      class="appearance-filled size-tiny shape-rectangle transitions mangbtn">{{'Manage' |
      translate}}</a>
  </div>

  <div class="col-12 col-xl-8 col-lg-8">

    <div class="row show-grid">
      <div class="col-md-12 col-sm-12">
        <nb-card class="card campaign-exam-full-height-md">
          <nb-card-header class="row fix-height-on-card">

            <div class="lesson-widget">
              <div class="img-container lessons-completed">
                <svg viewBox="0 0 48 48" width="20px" height="20px">
                  <rect width="48px" height="48px" rx="10px" />
                  <path
                    d="M36 14l-2.83-2.83-12.68 12.69 2.83 2.83L36 14zm8.49-2.83L23.31 32.34 14.97 24l-2.83 2.83L23.31 38l24-24-2.82-2.83zM.83 26.83L12 38l2.83-2.83L3.66 24 .83 26.83z" />
                </svg>
                <div id="campaignLessonsNumber" class="campaign-numeric-indicator">
                  {{campaigns_completed}}
                </div>
              </div>
              <div class="description">
                {{'Completed Campaigns' | translate}}
                <div class="caption hide-mobile">{{'HomePageS4' | translate}}</div>
              </div>
            </div>

            <div class="lesson-widget">
              <div class="img-container lessons-remaining">
                <svg viewBox="0 0 48 48" width="20px" height="20px">
                  <rect width="48" height="48" rx="10" />
                  <path
                    d="m31.375,10.6875l-14.75,0c-1.358229,0 -2.458333,1.191469 -2.458333,2.6625l0,21.3c0,1.471031 1.100104,2.6625 2.458333,2.6625l14.75,0c1.358229,0 2.458333,-1.191469 2.458333,-2.6625l0,-21.3c0,-1.471031 -1.100104,-2.6625 -2.458333,-2.6625zm-14.75,2.6625l6.145833,0l0,10.65l-3.072917,-1.996875l-3.072917,1.996875l0,-10.65z">
                  </path>
                </svg>
                <div id="campaignLessonsRemaining" class="campaign-numeric-indicator">
                  {{campaigns_active}}
                </div>
              </div>
              <div class="description">
                {{'Active Campaigns' | translate}}
                <div class="caption hide-mobile">{{'Active Campaigns the already running' | translate }}</div>
              </div>
            </div>

            <div class="lesson-widget">
              <div class="img-container quizzes-remaining">
                <svg viewBox="0 0 48 48" width="20px" height="20px">
                  <rect width="48" height="48" rx="10" />
                  <path
                    d="m33.348438,12.482287l-5.58903,0c-0.547551,-1.670068 -2.016592,-2.879428 -3.759408,-2.879428s-3.211856,1.20936 -3.759408,2.879428l-5.58903,0c-1.475718,0 -2.670982,1.288544 -2.670982,2.879428l0,20.155999c0,1.590884 1.195265,2.879428 2.670982,2.879428l18.696876,0c1.475718,0 2.670982,-1.288544 2.670982,-2.879428l0,-20.155999c0,-1.590884 -1.195265,-2.879428 -2.670982,-2.879428zm-9.348438,0c0.73452,0 1.335491,0.640673 1.335491,1.439714s-0.600971,1.439714 -1.335491,1.439714s-1.335491,-0.640673 -1.335491,-1.439714s0.600971,-1.439714 1.335491,-1.439714zm2.670982,20.155999l-9.348438,0l0,-2.879428l9.348438,0l0,2.879428zm4.006473,-5.758857l-13.354912,0l0,-2.879428l13.354912,0l0,2.879428zm0,-5.758857l-13.354912,0l0,-2.879428l13.354912,0l0,2.879428z">
                  </path>
                </svg>
                <div id="campaignQuizes" class="campaign-numeric-indicator">
                  {{campaign_schedule}}
                </div>
              </div>
              <div class="description">
                {{'Planned Campaigns' | translate}}
                <div class="caption hide-mobile">{{'Planned Campaigns which will be starting' | translate}}</div>
              </div>
            </div>


          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-12" id="campaignListingTest">
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-4 col-lg-4 right-block">
    <div class="row show-grid">
      <div class="col-md-12 col-sm-12">
        <div class="card campaign-exam-full-height-md">
          <div class="row p-custom card-header-custom d-flex">
            <div class="block">
              <div class="img-container">
                <svg viewBox="0 0 48 48" width="20px" height="20px">
                  <rect width="48" height="48" rx="10" />
                  <g>
                    <path
                      d="M 23.163 11.0009 C 15.206 11.0009 8.7556 17.4513 8.7556 25.4084 S 15.206 39.8158 23.163 39.8158 S 37.5705 33.3654 37.5705 25.4084 H 23.163 V 11.0009 z M 25.4084 8.7556 v 14.4075 H 39.8158 C 39.8158 15.206 33.3654 8.7556 25.4084 8.7556 z" />
                  </g>
                </svg>
              </div>
              <div class="description">
                {{'Training Campaign Reports' | translate}}
                <div class="caption">{{'Summary Of Training Campaigns Status' | translate}}</div>
              </div>
              <button routerLink="/pages/bread/report/training" nbbutton
                class="appearance-filled size-tiny shape-rectangle transitions">{{'View' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-12 col-xl-4 col-lg-4 right-block">
    <div class="row show-grid">
      <div class="col-md-12 col-sm-12">
        <div class="card campaign-exam-full-height-md">
          <div class="row px-4 card-header-custom d-flex">
            <div class="img-container-admin">
              <img src="/ui/assets/awr/images/training_icon.svg" class="rounded-circle" alt="">
            </div>
            <div class="text-area d-flex align-items-center">
              <div class="side-content-description mb-0">
                <h6>
                  {{'Training Campain Report' | translate}}
                </h6>
                <div>
                  <a routerLink="/pages/bread/report/training" class="btn btn-primary-custom">{{'View' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>