@import '../../../@theme/styles/themes.scss';

@include nb-install-component {
  .lesson-widget:nth-child(1),
  .lesson-widget:nth-child(2) {
    @include nb-ltr(border-right, 1px solid nb-theme(menu-item-divider-color) !important);
    @include nb-rtl(border-left, 1px solid nb-theme(menu-item-divider-color) !important);
    @media screen and (max-width: 575px) {
      border-bottom: 1px solid nb-theme(menu-item-divider-color) !important;
    }
  }
  .lesson-widget:nth-child(2) {
    @media screen and (max-width: 768px) {
      @include nb-rtl(border-left, none !important);
      @include nb-ltr(border-right, none !important);
    }
  }
  
  .card {
   background-color: nb-theme(background-basic-color-1);
  }
  .description {
    color: nb-theme(layout-text-color);
  }
  .caption {
    color: nb-theme(text-hint-color);
  }
  .phishingLicenseMessage {
    background-color: nb-theme(color-danger-700);
  }

  .lessons-completed {
    color: nb-theme(lessons-completed-main-color);
    fill: nb-theme(lessons-completed-bg-color) !important;
  }
  
  .lessons-completed svg path {
    fill: nb-theme(lessons-completed-main-color);
  }
  
  .lessons-remaining {
    color: nb-theme(lessons-remaining-main-color);
    fill: nb-theme(lessons-remaining-bg-color) !important;
  }
  
  .lessons-remaining svg path {
    fill: nb-theme(lessons-remaining-main-color);
  }
  
  .quizzes-remaining {
    color: nb-theme(quizzes-remaining-main-color);
    fill: nb-theme(quizzes-remaining-bg-color) !important;
  }
  
  .quizzes-remaining svg path {
    fill: nb-theme(quizzes-remaining-main-color);
  }
  
  .campaign-date-img {
    fill: nb-theme(date-bg-color);
  }
  
  .campaign-date-img svg path {
    fill: nb-theme(date-main-color);
  }
  rect.img {
    stroke: nb-theme(img-container-icon-main-color);
  }
  
  svg g path {
    fill: nb-theme(img-container-icon-main-color);
  }

  .img-container {
    flex: 0 1 26px;
    fill: nb-theme(img-container-icon-fill-color);
    text-align: center;
    height: fit-content;
  }

  button {
    flex: 0 1 10%;
    background-color: nb-theme(mangbtn-bg-color);
    color: nb-theme(mangbtn-text-color);
    border-color: nb-theme(mangbtn-border-color);
    margin: 0;
    min-height: 20px;
    height: fit-content;
    border-radius: 5px;
  }

  .appearance-filled.size-tiny.shape-rectangle.transitions.mangbtn {
    background-color: nb-theme(mangbtn-bg-color);
    color: nb-theme(mangbtn-text-color);
    border-color: nb-theme(mangbtn-border-color);
  }

  .appearance-filled.size-tiny {
    border-color: nb-theme(mangbtn-border-color);
  }
  * {
    font-family: nb-theme(font-family-primary), Tahoma, Verdana, sans-serif !important;
  }
 }
.col-12.col-xl-8.col-lg-8.d-flex.align-items-center.mt-4.mb-2 {
  margin-top: 0 !important;
}

.vertical-line {
  border-left: 1px solid grey;
}

h1 {
    display: none;
}
.mb-2 {
    margin-bottom: 1rem!important;
}
.no-margins {
    margin: 0!important;
}
.flex-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}

.img-container-admin {
    width: 80px;
    height: 80px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.card {
  min-height: 123px;
  @media screen and (max-width: 575px) {
    margin-right: -6px;
    margin-left: -6px;
  }
  .card-header-custom {
    padding: 0 17px;
    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 575px) {
      padding: 0 10px;
    }
    border-bottom: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #1a2138;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    @media screen and (min-width: 992px) {
      min-height: 100%;
    }
  }
}

.block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 992px) {
    .right-block & {
      padding-top: 16px;
    }
  }
}

.p-custom {
  @media screen and (min-width: 768px) {
    padding: 0 31px !important;
  }
  @media screen and (max-width: 768px) {
    padding: 0 26px !important;
  }
}


.description {
  flex: 0 1 85%;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: auto;
  text-align: start;
  @media screen and (max-width: 992px) {
    .right-block & {
      margin-bottom: 2px;
    }
  }
}

.side-content-description {
  padding: 0 5px;
  h6 {
    color: #000;
    opacity: 0.5;
    font-size: 0.9375rem;
  }
}

.campaign-date {
  display: inline-block;
  width: 7rem;
}

hr {
  opacity: 15%;
}

@media screen and (max-width: 575px) {
  .border-hide-mobile {
    border: none !important;
  }
}

.btn-outline-primary {
    font-size: 14px;
    height: 30px;
    color: darken($color: #5597d9, $amount: 20);
    border-color: #5597d9;
    border-width: 1px;
    font-weight: 600;
    &:hover {
      color: #fff;
      background-color: #5597d9;
    }
}

.btn-primary-custom {

    color: #fff;
    background-color: #5867dd !important;
    border-color: #5867dd !important;
    height: 33px;
    font-size: 14px;
    padding-top: 5px;
    &:hover {
      color: #fff;
      background-color: darken($color: #5867dd, $amount: 20) !important;

    }
}
.right-block {
  @media screen and (min-width: 992px) {
    > .row {
      min-height: 100%;
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: 20px;
  }
  .card {
    justify-content: center;
  }
}

.text-area {
    padding-left: 8px;
    [dir='rtl'] & {
        padding-left:unset;
        padding-right: 8px;
    }
}



h3 {
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.phishingLicenseMessage {
  color: #ffffff !important;
  flex: 0 0 100%;
  padding: 6px 15px 5px;
  margin: 8px 0 -19px;
  font-size: 14px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #ffffff;
}

.appearance-filled.size-tiny.shape-rectangle.transitions.mangbtn {
  margin: 0;
  min-height: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  padding: 0.36rem 0.62rem 0.24rem !important;
  text-decoration: none;
}

.lesson-widget {
  width: 33.3%;
  @media only screen and (max-width: 575px) {
    width: 50%;
  }
}

.fix-height-on-card {
  min-height: 100%;
  @media screen and (max-width: 768px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
