<ngx-modal modalId="guard-modal">

    <nb-card class="guardModal">
        <nb-card-header>{{"Unsaved Changes ?" | translate }}</nb-card-header>
        <nb-card-body>
            {{"You have unsaved changes. Press Cancel to go back and save these changes, or OK to lose these changes" | translate}}
        </nb-card-body>
        <nb-card-footer>
            <div class="row justify-content-end btnGroupModal">
                <button nbButton outline status="primary" style="width: 6rem;" (click)="closeGuardModal()">{{"cancel" | translate}}</button>
                <button nbButton status="primary" class="btnSave" style="width: 6rem;" (click)="guardConfirm()">{{"OK" | translate }}</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ngx-modal>

<ng-template #instructionsDialog let-context let-ref="dialogRef">
    <nb-card class="newModel p-2">
        <nb-card-header class="newModelHeader d-flex align-items-baseline justify-content-between">
            <span>
                {{ context.title | translate}}
            </span>
            <div class="closePopUpBtn">
                <button nbButton status="primary" class="btn btn-info btn-sm" (click)="ref.close()">X</button>
            </div>
        </nb-card-header>

        <ng-container [ngSwitch]="context.name">
            <ng-container *ngSwitchCase="'sms-placeholders'">
                <ng-container *ngTemplateOutlet="smsPlaceholders; context: context"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'instructions'">
                <ng-container *ngTemplateOutlet="instructions"></ng-container>
            </ng-container>
        </ng-container>

        <!-- <div class="row justify-content-end m-3">
            <button nbButton (click)="ref.close()" class="float-right btn btn-info">{{ "Close" | translate}}</button>
        </div> -->
    </nb-card>
</ng-template>

<ng-template #instructions>
    <ng-container *ngIf="instructionsTemplate else noInstructions">
        <nb-card-body class="px-4 py-2">
            <div [innerHTML]="instructionsTemplate"></div>
        </nb-card-body>
    </ng-container>

    <ng-template #noInstructions>
        <nb-card-body class="px-4 py-2">
            <p>{{ "No instructions available. Please contact an administrator." | translate }}</p>
        </nb-card-body>
    </ng-template>
</ng-template>

<ng-template #smsPlaceholders let-data="data" let-numberOfPlaceholders="numberOfPlaceholders">
    <nb-card-body *ngIf="numberOfPlaceholders === 0">{{ "No placeholders are currently available." | translate }}</nb-card-body>
    <div style="overflow-x:auto" class="px-4 py-1" *ngIf="numberOfPlaceholders > 0">
        <table style="width: 100%;" 
            class="table table-hover"
            >
            <thead>
                <tr>
                    <th>{{ "Placeholder" | translate}}</th>
                    <th>{{ "Description" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let keyword of data | keyvalue">
                    <td>{{ keyword.key }}</td>
                    <td>{{ keyword.value  | translate }}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</ng-template>

<ngx-spinner *ngIf="!NewModelAvailable"></ngx-spinner>

<div class="container-fluid nopadding">

    <nb-card *ngIf="NewModelAvailable" [nbSpinner]="fetchData" nbSpinnerStatus="info" class="p-0 p-md-2">
        <nb-card-header class="d-flex align-items-center newModelHeader">
                <div class="main-header flex-grow-1">{{model.add.Tab_Title | translate}}</div>
            <nb-icon icon="arrow-back-outline" class="backBtn" (click)="goBack()"></nb-icon>
        </nb-card-header>
        <nb-card-body>
                    <form [formGroup]="modelForm" class="modelForm">

                        <div class="form-group" *ngFor="let inputValue of model.add.input">
                            <div *ngIf="inputValue.editFormOnly !== true">

                            <div *ngIf="!inputValue.localizable; else localizable">
                                <div *ngIf="inputValue.type !== 'custom'; else custom">

                                <label for="{{inputValue.value}}" [hidden]="isHiddenControls[inputValue.value]" *ngIf="inputValue.type !== 'checkbox' && (inputValue.NotRequiredInAdd === null || !inputValue.NotRequiredInAdd) && ((!inputValue.condition || modelForm.get(inputValue.condition).value)) ">{{inputValue.label | translate}}</label>
                                <span *ngIf="inputValue.info_label === true"
                                style="color: #8f9bb3; cursor: pointer;"
                                class="mx-2"
                                (click)="getTemplateExtraInfo(instructionsDialog)"
                                >
                                <i class="fas fa-info-circle"></i>
                            </span>

                                <input [hidden]="isHiddenControls[inputValue.value]" type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'date' ? 'date'
            : inputValue.type === 'number' ? 'number' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput fullWidth shape="rectangle" class="shape-rectangle" placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'text' || inputValue.type === 'email' || inputValue.type === 'date' || inputValue.type === 'number'">

                                <input type="time" nbInput fullWidth placeholder="{{inputValue.placeHolder | translate}}" shape="rectangle" class="shape-rectangle" formControlName="{{inputValue.name}}" *ngIf="inputValue.type === 'time'">

                                <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle" 
                                placeholder="{{inputValue.placeHolder | translate}}" 
                                rows="{{inputValue.rows}}"
                                formControlName="{{inputValue.name}}" 
                                *ngIf="!inputValue.sms_template_textarea && inputValue.type === 'textarea' && (!inputValue.condition || modelForm.get(inputValue.condition).value)"
                                (ngModelChange)="updateInputField($event)"
                                >
                            </textarea>

                            <ng-container *ngIf="model.name === 'sms_template'">
                                <ng-container *ngTemplateOutlet="sms_template_textareas"></ng-container>
                            </ng-container>

                                <input type="file" nbInput fullWidth placeholder="{{inputValue.placeHolder | translate}}" 
                                    shape="rectangle" class="shape-rectangle" *ngIf="inputValue.type === 'file'" 
                                    (change)="uploadFile($event, inputValue.name)"
                                    [hidden]="isHiddenControls[inputValue.value]"
                                    accept="{{inputValue.accept}}">
                                    <span class="text-danger erroMsg"
                                    *ngIf="returnFormKey(inputValue.name,'add')?.errors?.inValidFile">
                                        {{"Please select a valid file" | translate}}
                                </span>
                                <ngx-tinymc-editor [hidden]="isHiddenControls[inputValue.value]" *ngIf="inputValue.type === 'editor'" [inputName]="inputValue.name"
                                    [editorOptions]="this.editorOptions" [formGroupParent]="modelForm">
                                </ngx-tinymc-editor>
                             <ng5-slider *ngIf="inputValue.type === 'slider'" formControlName="{{inputValue.name}}" [options]="sliderOptions[inputValue.value]"></ng5-slider>
                            <div class="nbselectGroup"
                              *ngIf="inputValue.type === 'select' && inputValue.data.type === 'static'">

                               <select formControlName="{{inputValue.name}}" class="form-control" (ngModelChange)="updateSelectDisabledFields($event,inputValue)">

                                  <option *ngFor="let o of inputValue.data.static"
                                      value="{{o[inputValue.options.value]}}">
                                      {{o[inputValue.options.display] | translate}}</option>

                              </select>
                              <!-- <nb-select formControlName="{{inputValue.name}}" (ngModelChange)="updateSelectDisabledFields($event,inputValue)">
                                <nb-option value="">Option empty</nb-option>
                                 <nb-option *ngFor="let o of inputValue.data.static"
                                
                                value="{{o[inputValue.options.value]}}">
                                {{o[inputValue.options.display] | translate}}</nb-option>
                                
                                </nb-select> -->
                           </div>

                          <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                              *ngIf="inputValue.type === 'select' && inputValue.data.type === 'remote'">

                              <select formControlName="{{inputValue.name}}" class="form-control" (ngModelChange)="dropMenuSelectChange($event)">

                                  <option [ngValue]="null" *ngIf="inputValue.options.none">None</option>
                                  <option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                      value="{{o.id}}">
                                      {{o.title || o.email}}</option>
                              </select>
                              <!-- <nb-select formControlName="{{inputValue.name}}" (ngModelChange)="dropMenuSelectChange($event)">
                                <nb-option value="">Option empty</nb-option>
                                
                                <nb-option value="null" *ngIf="inputValue.options.none">None</nb-option>
                                
                                <nb-option *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                
                                value="{{o.id}}">{{o.title || o.email}}</nb-option>
                                
                                </nb-select> -->
                          </div>


                          <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                          *ngIf="inputValue.type === 'radio' && inputValue.data.type === 'remote'">

                          <div class="form-check">
                            <nb-radio-group [formControlName]="inputValue.name" [name]="inputValue.name" >
                                <nb-radio *ngFor="let o of remoteSelectedOptions[inputValue.value]"
                                    [value]="o.id" >
                                {{o.title || o.email}}
                                </nb-radio>
                          </nb-radio-group>
                          </div>

                          </div>
                          
                          <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                          *ngIf="inputValue.type === 'multiple_checkbox' && inputValue.data.type === 'remote'">
                          <div class="form-check" *ngFor="let o of remoteMultipleCheckboxOptions">

                          <nb-checkbox [checked]="inputValue.checked" (checkedChange)="updateMultipleCheckBox($event,o.id)"  class="checkbox"></nb-checkbox>
                          <span>{{o.title}} </span>

                          </div>  
                          </div>



                                <label for="{{inputValue.value}}" *ngIf="inputValue.type === 'checkbox' ">

                                <nb-checkbox [checked]="inputValue.checked" 
                                    (checkedChange)="updateCheckBox(inputValue.name); hideFieldsByValue($event, inputValue)" 
                                    *ngIf="inputValue.type === 'checkbox'" class="checkbox">
                                </nb-checkbox>

                                    <span>{{inputValue.label | translate}}</span></label>

                                <div class="nbselectGroup" [hidden]="isHiddenControls[inputValue.value]"
                                    *ngIf="inputValue.type === 'select-related' ">

                                    <select formControlName="{{inputValue.name}}" class="form-control" (ngModelChange)="updateSelectedRelated($event, inputValue.related); hideFieldsByValue($event, inputValue)">

                                        <option *ngFor="let o of remoteSelectRelated[inputValue.value]"
                                            value="{{o.id}}">
                                            {{o.title}}</option>
                                    </select>
                                    <!-- <nb-select formControlName="{{inputValue.name}}" (ngModelChange)="updateSelectedRelated($event, inputValue.related); hideFieldsByValue($event, inputValue)">
                                        <nb-option *ngFor="let o of remoteSelectRelated[inputValue.value]"
                                        
                                        value="{{o.id}}">
                                        
                                        {{o.title}}</nb-option>
                                        
                                        </nb-select> -->
                                </div>
                                <div class="nbselectGroup" 
                                *ngIf="inputValue.type === 'select-related-static'">
  
                                 <select formControlName="{{inputValue.name}}" class="form-control"
                                  (ngModelChange)="updateSelectedRelated($event, inputValue.related); hideFieldsByValue($event, inputValue);">
  
                                    <option *ngFor="let o of inputValue.data.static"
                                        value="{{o[inputValue.options.value]}}">
                                        {{o[inputValue.options.display] | translate}}</option>
  
                                </select>
                                <!-- <nb-select formControlName="{{inputValue.name}}"

                                    (ngModelChange)="updateSelectedRelated($event, inputValue.related); hideFieldsByValue($event, inputValue);">

                                    <nb-option *ngFor="let o of inputValue.data.static"

                                    value="{{o[inputValue.options.value]}}">{{o[inputValue.options.display] | translate}}</nb-option>

                                    </nb-select> -->
                             </div>

                                <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.required">
                                    {{inputValue.label | translate}} {{"is required" | translate}}
                                </span>

                                <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.pattern && inputValue.name !== 'phone_number'">
                                    {{inputValue.label | translate}} {{"Integer numbers" | translate}}
                                </span>

                                <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.pattern">
                                    {{inputValue.label | translate}} {{"should not start with 'zero' and only contains numbers." | translate}}
                                </span>

                                <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name)?.errors?.email">
                                    {{"Email format is invalid" | translate}}
                                </span>

                            </div>
                            </div>

                            <ng-template #localizable>

                                <div class="form-group" *ngFor="let lang of languages">

                                    <label for="{{inputValue.value}}">{{inputValue.label | translate}} ( {{lang.title}}
                                        )</label>

                                    <input type="{{inputValue.type ==='password' ? 'password' : inputValue.type === 'email' ? 'email' : 'text'}}" nbInput fullWidth shape="rectangle" class="shape-rectangle" placeholder="{{inputValue.placeHolder | translate}}" formControlName="{{inputValue.name}}{{lang.id}}" *ngIf="inputValue.type === 'text' || inputValue.type === 'email'">

                                    <span class="text-danger erroMsg" *ngIf="(returnFormKey(inputValue.name+lang.id)?.touched || modelFormSubmitted) && returnFormKey(inputValue.name+lang.id)?.errors?.required">
                                        {{inputValue.label | translate}} ( {{lang.title}} )
                                        {{"is required" | translate}}
                                    </span>

                                </div>

                            </ng-template>

                            <ng-template #custom>
                               <div *ngIf="inputValue.name === 'sms_credentials'" class="form-group">
                                    <div class="form-group">
                                        <label for="auth1">{{(sms_provider_auth === 'basicAuth' ? 'Auth Username' : 'Key') | translate}}</label>
                                        <input type="text" 
                                               nbInput 
                                               fullWidth 
                                               shape="rectangle" class="shape-rectangle" 
                                               formControlName="auth1"
                                               required
                                        >
                                        <span class="text-danger erroMsg" 
                                              *ngIf="(returnFormKey('auth1')?.touched || modelFormSubmitted) && returnFormKey('auth1')?.errors?.required">
                                            {{(sms_provider_auth === 'basicAuth' ? 'Auth Username' : 'Key') | translate}} {{"is required" | translate}}
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="auth2">{{(sms_provider_auth === 'basicAuth' ? 'Auth Password' : 'Secret') | translate}}</label>
                                        <input type="text" 
                                               nbInput 
                                               fullWidth 
                                               shape="rectangle" class="shape-rectangle" 
                                               formControlName="auth2"
                                               required
                                        >

                                        <span class="text-danger erroMsg" 
                                              *ngIf="(returnFormKey('auth2')?.touched || modelFormSubmitted) && returnFormKey('auth2')?.errors?.required">
                                              {{(sms_provider_auth === 'basicAuth' ? 'Auth Password' : 'Secret') | translate}} {{"is required" | translate}}
                                        </span>

                                    </div>

                                    <div *ngIf="sms_provider_auth === 'basicAuth'" class="form-group">
                                        <label for="appsid">{{'Application Identifier (AppSid)' | translate}}</label>
                                        <input type="text" 
                                            nbInput 
                                            fullWidth 
                                            shape="rectangle" class="shape-rectangle" 
                                            formControlName="appsid"
                                            required
                                        >

                                        <span class="text-danger erroMsg" 
                                            *ngIf="(returnFormKey('appsid')?.touched || modelFormSubmitted) && returnFormKey('appsid')?.errors?.required">
                                            {{'Application Identifier (AppSid)' | translate}} {{"is required" | translate}}
                                        </span>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #sms_template_textareas>
                                <ng-container *ngIf="inputValue.name === 'en_content'">
                                    <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle" 
                                        placeholder="{{inputValue.placeHolder | translate}}" 
                                        rows="{{inputValue.rows}}"
                                        formControlName="{{inputValue.name}}" 
                                        *ngIf="inputValue.type === 'textarea' && (!inputValue.condition || modelForm.get(inputValue.condition).value)"
                                        (ngModelChange)="updateEnglishInputField($event)"
                                        (keypress)="omitNonASCIIchars($event)"
                                        >
                                    </textarea>
                                    
                                    <span *ngIf="inputValue.sms_template_textarea === true" 
                                        [ngClass]="[!currentLangRTL ? 'float-right' : 'float-left', englishInputFieldLength > inputValue.max ? 'text-danger' : '']">
                                        <span *ngIf="englishInputFieldLength > inputValue.max">
                                            ({{numberOfEnglishMessages}} {{"Messages" | translate}})
                                        </span>
                                        {{englishInputFieldLength}}/{{inputValue.max}}
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="inputValue.name === 'ar_content'">
                                    <textarea nbInput fullWidth shape="rectangle" class="shape-rectangle" 
                                        placeholder="{{inputValue.placeHolder | translate}}" 
                                        rows="{{inputValue.rows}}"
                                        formControlName="{{inputValue.name}}" 
                                        *ngIf="inputValue.type === 'textarea' && (!inputValue.condition || modelForm.get(inputValue.condition).value)"
                                        (ngModelChange)="updateArabicInputField($event)"
                                        >
                                    </textarea>
                                    
                                    <span *ngIf="inputValue.sms_template_textarea === true" 
                                        [ngClass]="[!currentLangRTL ? 'float-right' : 'float-left', arabicInputFieldLength > inputValue.max ? 'text-danger' : '']">
                                        <span *ngIf="arabicInputFieldLength > inputValue.max">
                                            ({{numberOfArabicMessages}} {{"Messages" | translate}})
                                        </span>
                                        {{arabicInputFieldLength}}/{{inputValue.max}}
                                    </span>
                                </ng-container>
                            </ng-template>
                            </div>
                        </div>

                    </form>

                    <div class="btnGroupSave">
                        <button nbButton outline status="primary" *ngIf="cancelButton === true" (click)="goBack()" style="width: 6rem;">
                            <span>{{"Cancel" | translate }}</span>
                        </button>
                        <button nbButton status="primary" [disabled]="clicked"  [ngStyle]="{'width': (cancelButton === false) ? '12rem' : '6rem'}" type="submit" (click)="addModel()">{{submitTitle | translate }}</button>
                    </div>
        </nb-card-body>
    </nb-card>

</div>
