@import '../../../@theme/styles/themes.scss';
@include nb-install-component() {
    nb-card-header.newModelHeader {
        color: nb-theme(color-primary);
      }
    ::ng-deep .tabs .nav-tabs .nav-link {
        background-color: nb-theme(tabset-background-color);
        color: nb-theme(tabset-tab-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link.active {
        color: nb-theme(tabset-tab-active-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link.active::before {
        background-color: nb-theme(tabset-tab-active-underline-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link:hover {
        color: nb-theme(tabset-tab-hover-text-color);
     }
     ::ng-deep .tabs .nav.nav-tabs .nav-link:hover::before {
        background-color: nb-theme(tabset-tab-hover-underline-color);
    }
     ::ng-deep .nav-tabs .nav-link.active::before {
         background-color: nb-theme(tabset-tab-focus-underline-color);
     }

    table.table.table-hover {
        color: nb-theme(text-basic-color);  /* This will change the color when you switch the theme */
    }
    .table-hover tbody tr:hover {
        background-color: nb-theme(color-basic-200);
        color: nb-theme(text-basic-color);
    }
    .backBtn {
        color: nb-theme(back-btn-icon-color) !important;
        font-size: 2.25rem;
        @include nb-rtl(transform, scaleX(-1));
    }
    .newModelHeader {
        display: inline-block;
        text-transform: uppercase;
        position: relative;
    }
    // .newModelHeader::after {
    //     position: absolute;
    //     content: '';
    //     top: 100%;
    //     width: 160%;
    //     border-radius: 3px;
    //     bottom: -2px;
    //     left: -15px;
    //     background-color: #17a2b8;
    //     border-bottom: 0.25rem solid #17a2b8;
    // }
    .btnSave {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
    }
    .headContainer {
        display: flex;
        justify-content: space-between;
    }
    .erroMsg {
        display: block;
        margin-top: 0.2rem;
    }
    label {
        font-weight: 600;
    }
    .checkbox {
        margin-right: -1.4rem;
        vertical-align: middle;
    }
    // input {
    //     font-weight: 400 !important;
    //     border-radius: 0.75rem;
    //     border-color: #e0dcdc;
    // }
    // input,
    // select {
    //     background-color: white;
    //     border-color: #e0dcdc;
    // }
    .nbselectGroup select {
        color: nb-theme(text-basic-color);
        background-color: nb-theme(input-background-color);
        border-color: nb-theme(input-border-color);
    }
    .nbselectGroup {
        display: flex;
        flex-direction: column;
        nb-select {
            max-width: 100%;
        }
    }
    .backBtn:hover {
        cursor: pointer;
    }
    ::ng-deep .form-check-label {
        margin-right: 2rem;
    }
    .guardModal {
        margin-bottom: 0;
        padding: 0;
        nb-card-header {
            padding-top: 40px !important;
        }
    }

    .btnGroupSave {
        padding-bottom: 1rem;
        text-align: end;
        & > * {
        margin: 0.5rem;
        }
        // @include nb-ltr(float, right !important);
        // @include nb-rtl(float, left !important); 
        margin-bottom: 1rem;
    }
    
    .btnSave {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
    }
}

::ng-deep .nb-theme-dark table.table.table-hover, ::ng-deep .nb-theme-dark .table-hover tbody tr:hover {
    color: #ffffff !important;
}

::ng-deep .nb-theme-default table.table.table-hover, ::ng-deep .nb-theme-default .table-hover tbody tr:hover {
    color: #1a2138 !important;
}


::ng-deep {
.nopadding {
    position: relative;
}
}

::ng-deep {
    .nb-theme-default nb-select.appearance-outline .select-button {
        border-color: #e0dcdc;
    }
}

::ng-deep {
    .inner-circle, .outer-circle {
        right: 0;
    }
}

.newModel {
    max-width: 100%;
    max-height: 85vh;
}
@media screen and (min-width: 768px) {
    .btnGroup {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    nb-card {
        padding: 0;
       }
    nb-tab {
        padding: 0 !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .nopadding {
        position: relative;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
::ng-deep .tabs > ul {
    padding-right: 0 !important;
}


.btnGroupModal {
    button {
        margin: 0.5rem;
    }
}
