<div>
  <div *ngIf="loading">
    <nb-card [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-body>{{ 'Loading' | translate }}</nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="!loading && tacContent" class="col-md-12" style="margin-top: 20px;padding-left: 0 !important;padding-right: 0 !important;">
    <nb-card class="card">
      <nb-card-header class="display-6 text-center my-2">
          {{ "ST131" | translate }}
      </nb-card-header>
      <nb-card-body  class="half-height">
        <span class="scroll" [innerHTML]="tacContent"> </span> 
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
