<ng-template #warning let-data let-ref="dialogRef">
    <nb-card class="dialogModal">
        <nb-card-header>{{"Warning"}}</nb-card-header>
        <nb-card-body>{{"Error in sending user login email"}}</nb-card-body>
        <div class="row justify-content-end mt-3 dialogGroup">
            <button class="btn btn-info" style="width: 6rem; margin: 0.5rem"
                (click)=" ref.close()">{{"OK" }}</button>
        </div>
    </nb-card>
</ng-template>
