@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
  @media only screen and (max-width: 575px) {
    nb-sidebar.expanded {
      width: 100% !important;
      background-color: nb-theme(sidebar-mobile-background-color) !important;
    }
    ::ng-deep nb-menu .menu-item > .menu-items > .menu-item a {
      background-color: darken($color: nb-theme(sidebar-mobile-background-color), $amount: 4) !important;
    }

    ::ng-deep nb-menu .menu-items .menu-item a.active {
      background-color: darken($color: nb-theme(sidebar-mobile-background-color), $amount: 8) !important;
    }
  }

  .background-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: nb-theme(layout-background-color);
    z-index: 0;
    opacity: 0.6;
  }

  ngx-side-menu-avatar {
    color: nb-theme(side-menu-avatar);
  }
  ngx-theme-mode {
    color: nb-theme(theme-mode-color);
  }
  
  // customize sidemenu in mobile
  @media only screen and (max-width: 575px) {

    ::ng-deep nb-menu ul.menu-items li.menu-item a nb-icon {
      color: nb-theme(sidebar-mobile-icon-color);
    }
    ::ng-deep nb-menu ul.menu-items li.menu-item a .menu-title {
      color: nb-theme(sidebar-mobile-text-color);
    }
    nb-menu .menu-item .menu-icon {
      color: nb-theme(sidebar-mobile-icon-color);
  
    }
    ::ng-deep nb-sidebar ul.menu-items a svg path {
      color: nb-theme(sidebar-mobile-icon-color);
    }
  }
}

.background-image {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}


@media only screen and (min-width: 575px) {
  .toggle-wrapper {
    display: none !important;
  }
}
