.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    background: #eee;
    overflow-x: hidden;
    padding: 8 0 px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196f3;
    display: block;
  }

  .sidenav a:hover {
    color: #064579;
  }

  .row {
    margin: auto !important;
    margin-right: 0 !important;
    margin-left:  0 !important;
  }

  .container {
    padding: 0 !important;
  }

  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10 px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width: 480px) {
    .col-md-12.lesson {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  }
