<div class="row show-grid pl-0 pr-0" *ngIf="lesson">
  <div class="col-md-12 lesson">
    <ngx-video (watched)="onLessonWatched($event)" [watchLesson]="watchLesson" [campaign]="campaign" [lesson]="lesson"
      [hasPolicies]="this.hasPolicies"></ngx-video>
    <!-- <ngx-campaign-lesson-video *ngIf="ready" [campaign]="campaign" [lesson]="lesson"></ngx-campaign-lesson-video> -->
    <!-- <p>Quiz Component ** TO DO **</p> -->
  </div>
</div>
