<form class="modelForm"
  [formGroup]="newModel"
  *ngIf="!values_added && dataAvailable">
    <div class="form-group">
      <label for="template_id">{{"SMS Template" | translate}}</label>
      <div class="nbselectGroup">
        <select formControlName="template_id" class="form-control">
          <option 
            *ngFor="let template of templates" 
            value="{{template.id}}">
              {{template.title}}
          </option>
        </select>
      </div>
      <span class="text-danger erroMsg" 
          *ngIf="(newModel.controls['template_id'].touched || formSubmitted) && newModel.controls['template_id'].errors?.required">
            {{"SMS Template is required" | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="SMS_gateway">{{"SMS Gateway" | translate}}</label>
      <div class="nbselectGroup">
        <select formControlName="SMS_gateway" class="form-control">
          <option 
            *ngFor="let gateway of SMSGateways" 
            value="{{gateway.id}}">
              {{gateway.title}}
          </option>
        </select>
      </div>
      <span class="text-danger erroMsg" 
        *ngIf="(newModel.controls['SMS_gateway'].touched || formSubmitted) && newModel.controls['SMS_gateway'].errors?.required">
          {{"SMS Gateway is required" | translate}}
      </span>
    </div>

    <div class="btnGroupSave">
      <button nbButton outline status="primary" style="width: 6rem;"
      (click)="goBack()">
      <span>{{"Cancel" | translate }}</span>
    </button>
      <button nbButton status="primary" style="width: 6rem;" type="submit" 
        (click)="addModel()">
        <span>{{"Save" | translate}}</span>
      </button>       
    </div>
  </form>

