<div>
  <div *ngIf="loading">
    <nb-card [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-body>{{ 'Loading' | translate }}</nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="quizIsReady">
    <ngx-status id="status" (try)= "onTryAgain($event)" [tryagain]="tryagain" [quiz]=quiz></ngx-status>
    <ngx-form id="form" [quiz]="quiz" [tryagain]="tryagain"></ngx-form>
  </div>
  <div *ngIf="QuizError" id="ngQuizError" class="container bg-white d-flex flex-column p-lg-5">
    <div class="container w-75">
      <h5 class="text-center">{{ QuizError | translate }}</h5>
    </div>
  </div>
</div>
