@import '../../@theme/styles/themes.scss';
@include nb-install-component {
  .backgroundColor-dark {
    background-color: nb-theme(background-basic-color-1);
  }
}
::ng-deep ngx-quiz {
    position: relative;
}
:host ::ng-deep nb-card-body {
    overflow: hidden;
    .horizontal {
        text-align: center !important;
        display: block;
    }
    .step-content {
        [dir='ltr'] & {
            text-align: left;
        }
        [dir='rtl'] & {
            text-align: right;
        }
    }
    .header {
        display: inline-flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;

    }
}
